data/workflows/10088.json
{"id":"wFK9yaxqBVwlZTX9","meta":{"instanceId":"95b3ab5a70ab1c8c1906357a367f1b236ef12a1409406fd992f60255f0f95f85","templateCredsSetupCompleted":true},"name":"Sync Google Calendar Attendee and Event Statuses to KlickTipp Contact Management","tags":[{"id":"15wrq9sti6wyqr6J","name":"TEMPLATE","createdAt":"2025-01-08T16:34:30.163Z","updatedAt":"2025-01-08T16:34:30.163Z"}],"nodes":[{"id":"92e8cdd4-8a0d-4b84-8c27-d6ca5eaf7d81","name":"1. Get event data","type":"n8n-nodes-base.stickyNote","position":[-80,-384],"parameters":{"color":7,"width":256,"height":1472,"content":"## 1. Get event data."},"typeVersion":1},{"id":"0f8cc8c2-33ad-478d-8b8e-068a244cefac","name":"2. Segregate attendees","type":"n8n-nodes-base.stickyNote","position":[192,-384],"parameters":{"color":7,"width":288,"height":1472,"content":"## 2. Segregate attendees."},"typeVersion":1},{"id":"fbcdc422-e0eb-42ff-99f5-38d1f3aa7333","name":"5. Save event data","type":"n8n-nodes-base.stickyNote","position":[1088,-384],"parameters":{"color":7,"width":272,"height":1472,"content":"## 5. Save event data."},"typeVersion":1},{"id":"554b904f-38d2-447f-9a7b-9de335805698","name":"Documentation","type":"n8n-nodes-base.stickyNote","position":[-832,-384],"parameters":{"width":727,"height":1116,"content":"Community Node Disclaimer: This workflow uses KlickTipp community nodes.\n\n## Introduction\nThis template listens for new events in Google Calendar and automatically creates or updates participant profiles in KlickTipp. Every attendee’s email address (and other available details) is mapped directly into your KlickTipp account without manual steps. This ensures your contact list always reflects the latest event registrations in real time.\n\nPerfect for coaches, consultants, and event organizers who want to capture RSVP information instantly and keep their marketing lists up to date. With each new attendee synced, you can launch reminder emails, follow-up campaigns, or trigger automated onboarding sequences.\n\n## How it works\nThis template keeps your KlickTipp list in sync with Google Calendar across the **full event lifecycle**.  \nFor each attendee, the workflow optionally filters out internal domains, then writes event details into KlickTipp custom fields.\nIt watches your calendar for:\n- **Event Created** → creates/updates each attendee as a KlickTipp contact and adds the *event created/updated* tag.\n- **Event Cancelled** → tags attendees with *event canceled*.\n- **Event Updated** → routes attendees by **responseStatus** and tags them:\n  - `accepted` → *event confirmed*\n  - `declined` → *event declined*\n  - `tentative` → *event considered*  \n\n## Setup Instructions\n1. **KlickTipp Preparation**\n      - Prepare **custom fields**\n       - `Google Calendar | event summary`, data type: \"Single line\"\n       - `Google Calendar | event description`, data type: \"Single line\"\n       - `Google Calendar | event location`, data type: \"Single line\"\n       - `Google Calendar | event start datetime`, data type: \"Datetime\"\n       - `Google Calendar | event end datetime`, data type: \"Datetime\" \n      - Prepare **tags**:\n       - `Google Calendar | event created/updated`\n       - `Google Calendar | event canceled`\n       - `Google Calendar | event declined`\n       - `Google Calendar | event confirmed`  \n       - `Google Calendar | event considered` \n\n2. **Credential Configuration**\n     - Connect your Google Calendar account using **Client ID** and **Client Secret** from the Google Cloud.\n     - Authenticate your KlickTipp connection with **username/password** credentials (API access required).\n\n## Customization\n- Recommended poll frequency: every 1–5 minutes for near real-time updates.\n- Adjust to your local timezone if necessary.  \n- Each trigger works independently, allowing partial deployments if only certain event types are needed.  "},"typeVersion":1},{"id":"8cd75383-cfd7-45cd-8766-7cd595e2478f","name":"Transfer attendees cancellations","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,0],"parameters":{"email":"={{ $json.attendees.email }}","tagId":["13642439"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"bc546b5e-7d3a-40ef-b78f-0207478710f1","name":"3. Filter attendees","type":"n8n-nodes-base.stickyNote","position":[496,-384],"parameters":{"color":7,"width":288,"height":1472,"content":"## 3. Filter attendees."},"typeVersion":1},{"id":"ec00338d-2249-4e7b-bc12-afcfa9a7dc22","name":"Watch updated Google Calendar events","type":"n8n-nodes-base.googleCalendarTrigger","position":[0,528],"parameters":{"options":{},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"eventUpdated","calendarId":{"__rl":true,"mode":"list","value":"58a6b5f7ca7ac682e5474d459a76e835b74752d6b0a6c2efb58cb82880e242d1@group.calendar.google.com","cachedResultName":"Test of webinar invitations"}},"credentials":{"googleCalendarOAuth2Api":{"id":"1rvfgmaf8gVCjiVZ","name":"(Oleksandr) Google Calendar account"}},"typeVersion":1},{"id":"3d269548-9b4e-4be7-9f50-62636b6631e0","name":"Watch cancelled Google Calendar events","type":"n8n-nodes-base.googleCalendarTrigger","position":[0,0],"parameters":{"options":{},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"eventCancelled","calendarId":{"__rl":true,"mode":"list","value":"58a6b5f7ca7ac682e5474d459a76e835b74752d6b0a6c2efb58cb82880e242d1@group.calendar.google.com","cachedResultName":"Test of webinar invitations"}},"credentials":{"googleCalendarOAuth2Api":{"id":"1rvfgmaf8gVCjiVZ","name":"(Oleksandr) Google Calendar account"}},"typeVersion":1},{"id":"e4af16e1-ebaa-4125-8215-9f89a576143f","name":"Transfer the attendees' declines","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,256],"parameters":{"email":"={{ $json.attendees.email }}","tagId":["13642445"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"ee1fad56-fc51-466c-b8f4-a1760e7dc5ef","name":"Transfer the attendees' acceptances","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,464],"parameters":{"email":"={{ $json.attendees.email }}","tagId":["13667113"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"6df24922-fbf9-431f-9bee-a943776c19b8","name":"Transfer the attendees' considerations","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,672],"parameters":{"email":"={{ $json.attendees.email }}","tagId":["13667652"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"2c37c048-2462-415f-b590-08206493b281","name":"Iterate through attendees (event canceled)","type":"n8n-nodes-base.splitOut","position":[288,0],"parameters":{"include":"allOtherFields","options":{},"fieldToSplitOut":"attendees"},"typeVersion":1},{"id":"f7daf469-c562-4b92-bf9f-46da7f7d7c49","name":"Route by attendees' status","type":"n8n-nodes-base.switch","position":[880,496],"parameters":{"rules":{"values":[{"outputKey":"declined","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8062f1d-5ad9-4b7e-bbc2-ae0ca717ccfd","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.attendees.responseStatus }}","rightValue":"declined"}]},"renameOutput":true},{"outputKey":"accepted","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3eafe07b-f1f2-433f-9a0e-e017fce32984","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.attendees.responseStatus }}","rightValue":"accepted"}]},"renameOutput":true},{"outputKey":"considered","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"773e0819-7483-4da1-b6b0-ba954a714bd8","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.attendees.responseStatus }}","rightValue":"tentative"}]},"renameOutput":true},{"outputKey":"event updated","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2d5e9141-6682-410d-a7d9-2d670256fe2d","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.attendees.responseStatus }}","rightValue":"needsAction"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.3},{"id":"4185e4c2-519f-432b-aa62-fc2dd53d3313","name":"Iterate through attendees (status changed)","type":"n8n-nodes-base.splitOut","position":[288,528],"parameters":{"include":"allOtherFields","options":{},"fieldToSplitOut":"attendees"},"typeVersion":1},{"id":"3b208a3b-5e20-421c-abe5-b8c1ce363f08","name":"Iterate through attendees (event created)","type":"n8n-nodes-base.splitOut","position":[288,-256],"parameters":{"include":"allOtherFields","options":{},"fieldToSplitOut":"attendees"},"typeVersion":1},{"id":"e0ee59c3-3c5a-451d-89ec-d1ad6259e2cc","name":"4. Route by status","type":"n8n-nodes-base.stickyNote","position":[800,-384],"parameters":{"color":7,"width":272,"height":1472,"content":"## 4. Route by status."},"typeVersion":1},{"id":"f83d3fab-ac2e-4e60-921e-a0ae932b682d","name":"Filter email domain (new event)","type":"n8n-nodes-base.filter","notes":"Filter out a specific email domain.","position":[592,-256],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a33ede9-0b50-4f87-9f13-758036c5c1f7","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.attendees.email }}","rightValue":"@example.com"}]}},"notesInFlow":true,"typeVersion":2.2},{"id":"9df6483b-175a-4b37-9dbb-c2bb86882772","name":"Filter email domain (updated event)","type":"n8n-nodes-base.filter","notes":"Filter out a specific email domain.","position":[592,528],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a33ede9-0b50-4f87-9f13-758036c5c1f7","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.attendees.email }}","rightValue":"@example.com"}]}},"notesInFlow":true,"typeVersion":2.2},{"id":"e5dcf947-2194-4335-ad8d-653ec6391cd4","name":"Create or update contact for attendee (updated event)","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,880],"parameters":{"email":"={{ $json.attendees.email }}","tagId":"13642952","fields":{"dataFields":[{"fieldId":"field223461","fieldValue":"={{ $json.summary }}"},{"fieldId":"field224593","fieldValue":"={{ $json.location ?? \"\" }}"},{"fieldId":"field223462","fieldValue":"={{ $json.description ?? \"\" }}"},{"fieldId":"field223460","fieldValue":"={{ Math.round(DateTime.fromISO($json.start.dateTime, { setZone: true }).toSeconds()) }}"},{"fieldId":"field223459","fieldValue":"={{ Math.round(DateTime.fromISO($json.end.dateTime, { setZone: true }).toSeconds()) }}"},{"fieldId":"fieldFirstName","fieldValue":"={{ $json.displayName ? $json.displayName.split(' ')[0] : '' }}"},{"fieldId":"fieldLastName","fieldValue":"={{ $json.displayName ? $json.displayName.split(' ').slice(1).join(' ') : '' }}"}]},"resource":"subscriber","operation":"subscribe"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"23c83e2e-4fd3-401d-b34b-77cd9335c36c","name":"Create or update contact for attendee (new event)","type":"n8n-nodes-klicktipp.klicktipp","position":[1168,-256],"parameters":{"email":"={{ $json.attendees.email }}","tagId":"13642952","fields":{"dataFields":[{"fieldId":"field223461","fieldValue":"={{ $json.summary }}"},{"fieldId":"field224593","fieldValue":"={{ $json.location ?? \"\" }}"},{"fieldId":"field223462","fieldValue":"={{ $json.description ?? \"\" }}"},{"fieldId":"field223460","fieldValue":"={{ Math.round(DateTime.fromISO($json.start.dateTime, { setZone: true }).toSeconds()) }}"},{"fieldId":"field223459","fieldValue":"={{ Math.round(DateTime.fromISO($json.end.dateTime, { setZone: true }).toSeconds()) }}"},{"fieldId":"fieldFirstName","fieldValue":"={{ $json.displayName ? $json.displayName.split(' ')[0] : '' }}"},{"fieldId":"fieldLastName","fieldValue":"={{ $json.displayName ? $json.displayName.split(' ').slice(1).join(' ') : '' }}"}]},"resource":"subscriber","operation":"subscribe"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"typeVersion":3},{"id":"0fb138a6-b916-4217-ad9b-0614542fe990","name":"Filter email domain (canceled event)","type":"n8n-nodes-base.filter","notes":"Filter out a specific email domain.","position":[592,0],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a33ede9-0b50-4f87-9f13-758036c5c1f7","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.attendees.email }}","rightValue":"@example.com"}]}},"notesInFlow":true,"typeVersion":2.2},{"id":"562daf9a-86fa-4570-a80f-316aacaea8be","name":"Watch new Google Calendar events","type":"n8n-nodes-base.googleCalendarTrigger","position":[0,-256],"parameters":{"options":{},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"eventCreated","calendarId":{"__rl":true,"mode":"list","value":"58a6b5f7ca7ac682e5474d459a76e835b74752d6b0a6c2efb58cb82880e242d1@group.calendar.google.com","cachedResultName":"Test of webinar invitations"}},"credentials":{"googleCalendarOAuth2Api":{"id":"1rvfgmaf8gVCjiVZ","name":"(Oleksandr) Google Calendar account"}},"typeVersion":1}],"active":true,"pinData":{"Watch updated Google Calendar events":[{"json":{"id":"3jnt3e1qbie7vmol429p7sqnj9","end":{"dateTime":"2025-10-11T17:00:00+03:00","timeZone":"Europe/Kiev"},"etag":"\"3519647142514494\"","kind":"calendar#event","start":{"dateTime":"2025-10-11T16:00:00+03:00","timeZone":"Europe/Kiev"},"status":"confirmed","created":"2025-10-07T07:51:30.000Z","creator":{"email":"kovalenko.odev@gmail.com"},"iCalUID":"3jnt3e1qbie7vmol429p7sqnj9@google.com","summary":"ffsfff","updated":"2025-10-07T07:52:51.257Z","htmlLink":"https://www.google.com/calendar/event?eid=M2pudDNlMXFiaWU3dm1vbDQyOXA3c3FuajkgNThhNmI1ZjdjYTdhYzY4MmU1NDc0ZDQ1OWE3NmU4MzViNzQ3NTJkNmIwYTZjMmVmYjU4Y2I4Mjg4MGUyNDJkMUBn","sequence":0,"attendees":[{"email":"klicktippalex@gmail.com","responseStatus":"needsAction"},{"email":"klicktippalex+2@example.com","responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"58a6b5f7ca7ac682e5474d459a76e835b74752d6b0a6c2efb58cb82880e242d1@group.calendar.google.com","displayName":"Test of webinar invitations"},"reminders":{"useDefault":true},"hangoutLink":"https://meet.google.com/kdm-jtbc-ovs","conferenceData":{"entryPoints":[{"uri":"https://meet.google.com/kdm-jtbc-ovs","label":"meet.google.com/kdm-jtbc-ovs","entryPointType":"video"}],"conferenceId":"kdm-jtbc-ovs","conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_512dp.png"}}}}],"Watch cancelled Google Calendar events":[{"json":{"id":"3jnt3e1qbie7vmol429p7sqnj9","end":{"dateTime":"2025-10-11T19:15:00+03:00","timeZone":"Europe/Kiev"},"etag":"\"3519647329840350\"","kind":"calendar#event","start":{"dateTime":"2025-10-11T18:15:00+03:00","timeZone":"Europe/Kiev"},"status":"cancelled","created":"2025-10-07T07:51:30.000Z","creator":{"email":"kovalenko.odev@gmail.com"},"iCalUID":"3jnt3e1qbie7vmol429p7sqnj9@google.com","summary":"ffsfff","updated":"2025-10-07T07:54:24.920Z","htmlLink":"https://www.google.com/calendar/event?eid=M2pudDNlMXFiaWU3dm1vbDQyOXA3c3FuajkgNThhNmI1ZjdjYTdhYzY4MmU1NDc0ZDQ1OWE3NmU4MzViNzQ3NTJkNmIwYTZjMmVmYjU4Y2I4Mjg4MGUyNDJkMUBn","sequence":2,"attendees":[{"email":"klicktippalex@gmail.com","responseStatus":"needsAction"},{"email":"klicktippalex@example.com","responseStatus":"needsAction"}],"eventType":"default","organizer":{"self":true,"email":"58a6b5f7ca7ac682e5474d459a76e835b74752d6b0a6c2efb58cb82880e242d1@group.calendar.google.com","displayName":"Test of webinar invitations"},"reminders":{"useDefault":true},"hangoutLink":"https://meet.google.com/kdm-jtbc-ovs","conferenceData":{"entryPoints":[{"uri":"https://meet.google.com/kdm-jtbc-ovs","label":"meet.google.com/kdm-jtbc-ovs","entryPointType":"video"}],"conferenceId":"kdm-jtbc-ovs","conferenceSolution":{"key":{"type":"hangoutsMeet"},"name":"Google Meet","iconUri":"https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v6/web-512dp/logo_meet_2020q4_color_2x_web_512dp.png"}}}}]},"settings":{"timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"versionId":"d3810a94-128d-4417-b2c9-28b53ea2e6e3","connections":{"Route by attendees' status":{"main":[[{"node":"Transfer the attendees' declines","type":"main","index":0}],[{"node":"Transfer the attendees' acceptances","type":"main","index":0}],[{"node":"Transfer the attendees' considerations","type":"main","index":0}],[{"node":"Create or update contact for attendee (updated event)","type":"main","index":0}]]},"Filter email domain (new event)":{"main":[[{"node":"Create or update contact for attendee (new event)","type":"main","index":0}]]},"Watch new Google Calendar events":{"main":[[{"node":"Iterate through attendees (event created)","type":"main","index":0}]]},"Filter email domain (updated event)":{"main":[[{"node":"Route by attendees' status","type":"main","index":0}]]},"Filter email domain (canceled event)":{"main":[[{"node":"Transfer attendees cancellations","type":"main","index":0}]]},"Watch updated Google Calendar events":{"main":[[{"node":"Iterate through attendees (status changed)","type":"main","index":0}]]},"Watch cancelled Google Calendar events":{"main":[[{"node":"Iterate through attendees (event canceled)","type":"main","index":0}]]},"Iterate through attendees (event created)":{"main":[[{"node":"Filter email domain (new event)","type":"main","index":0}]]},"Iterate through attendees (event canceled)":{"main":[[{"node":"Filter email domain (canceled event)","type":"main","index":0}]]},"Iterate through attendees (status changed)":{"main":[[{"node":"Filter email domain (updated event)","type":"main","index":0}]]}}}