data/workflows/4355.json
{"id":"2O4OH4ZE0VquQEss","meta":{"instanceId":"b6f74444fcc15ead73479096b61b4de65842928ad1ee84ae35577dc1b01cf0c5","templateCredsSetupCompleted":true},"name":"N8N Website Scraping workflow without APIs cost","tags":[],"nodes":[{"id":"4","name":"Click to Start","type":"n8n-nodes-base.manualTrigger","position":[140,80],"parameters":{},"typeVersion":1},{"id":"1","name":"Input Your Website URL","type":"n8n-nodes-base.httpRequest","position":[370,60],"parameters":{"url":"=https://medium.com","options":{},"responseFormat":"string"},"typeVersion":2},{"id":"2364e297-ca3d-42d4-9bda-eef79e7c29a6","name":"Convert to Markdown Format","type":"n8n-nodes-base.markdown","position":[590,60],"parameters":{"html":"={{ $json.data }}","options":{},"destinationKey":"HTMLtoMarkDownConversion"},"typeVersion":1},{"id":"3e2cdfba-1811-4030-b957-061d869a7286","name":"Process the Markdown to readable Contents","type":"@n8n/n8n-nodes-langchain.openAi","position":[810,60],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-mini","cachedResultName":"GPT-4.1-MINI"},"options":{},"messages":{"values":[{"role":"system","content":"=Act as a professional website analyst.\n\nYour task is to review any given website and provide:\n\nA concise summary paragraph that clearly explains the website’s purpose, target audience, and core offerings in human-readable language.\n\nA list of 10 key pieces of information extracted from the website. These may include elements such as the page title, meta description, services/products offered, call-to-action, contact details, navigation structure, and any other essential content that reflects the website’s structure and intent.\n\nThe goal is to present an accurate and insightful overview that would be useful for someone evaluating or analyzing the website at a glance.\n\n\nHere is the Markdown text that you will analysis :  {{ $json.HTMLtoMarkDownConversion }}"}]}},"credentials":{"openAiApi":{"id":"wOEpGwzNB5l2I6Av","name":"NafiulHasanBD OpenAI"}},"typeVersion":1.8},{"id":"44d0eb58-7944-420f-bb56-427f7c87a410","name":"Save the Website Scraping content to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[1186,60],"parameters":{"operation":"update","sheetName":{"__rl":true,"mode":"list","value":""},"documentId":{"__rl":true,"mode":"list","value":""}},"credentials":{"googleSheetsOAuth2Api":{"id":"kQ9gD46jLp4QUT8L","name":"nafiul.automation Google AC"}},"typeVersion":4.5},{"id":"c7650443-f0b3-45bb-ad2b-d1e5d6d44dab","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[100,-560],"parameters":{"width":1340,"height":560,"content":"## 📌 What This Workflow Does\n\nThis template scrapes the content from a specified URL, uses OpenAI to summarize or extract key information from it, and then saves the structured output into a new row in Google Sheets.\n\n---\n\n## ⚙️ Setup Required\n\n### 1. **URL**\nSet the website you want to scrape in the **\"Start\"** node.\n\n### 2. **Credentials**\nAdd your API credentials for both the **OpenAI** and **Google Sheets** nodes.\n\n### 3. **Configuration**\nIn the **Google Sheets** node:\n- Select your target spreadsheet.\n- Map the columns to the data you want to save.\n"},"typeVersion":1}],"active":false,"pinData":{},"settings":{},"versionId":"13e0ecb1-b6b1-47ae-bba9-8c27c53cb9b6","connections":{"Click to Start":{"main":[[{"node":"Input Your Website URL","type":"main","index":0}]]},"Input Your Website URL":{"main":[[{"node":"Convert to Markdown Format","type":"main","index":0}]]},"Convert to Markdown Format":{"main":[[{"node":"Process the Markdown to readable Contents","type":"main","index":0}]]},"Process the Markdown to readable Contents":{"main":[[{"node":"Save the Website Scraping content to Google Sheet","type":"main","index":0}]]}}}