data/workflows/5397.json
{"id":"tIMl9fiLyBELBNVi","meta":{"instanceId":"ca7e4439d37f2d7ddaa363ea2b029357e1ee59824d58b9533ac05bf57f803d9d","templateCredsSetupCompleted":true},"name":"Social Media Automation Post","tags":[],"nodes":[{"id":"0619e957-99be-4c97-ac18-1e434a889c5c","name":"Article Summary","type":"@n8n/n8n-nodes-langchain.openAi","position":[600,-160],"parameters":{"text":"=Full article:  {{ $('RSS Trigger').item.json['content:encodedSnippet'] }}","prompt":"define","options":{},"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_A5r332Sc7J9rj1t3Siw6ZSDN","cachedResultName":"Article summariser"}},"credentials":{"openAiApi":{"id":"N9Rmx2XNuFHkb5uR","name":"OpenAi account 3"}},"typeVersion":1.8},{"id":"bb237333-9adf-488e-8b8a-4a1e723f54f1","name":"Create Image Prompt","type":"@n8n/n8n-nodes-langchain.openAi","position":[300,80],"parameters":{"text":"=Full article:  {{ $('RSS Trigger').item.json['content:encodedSnippet'] }} Article Summary: {{ $json.output }}","prompt":"define","options":{},"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_Y6InUEVT5JDUeWb6AuA1JKof","cachedResultName":"Create Image Prompt"}},"credentials":{"openAiApi":{"id":"N9Rmx2XNuFHkb5uR","name":"OpenAi account 3"}},"typeVersion":1.8},{"id":"2f882195-0f90-4107-a338-e280c6a2fdee","name":"Create Facebook Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[-140,380],"parameters":{"text":"=Article: {{ $('RSS Trigger').item.json['content:encodedSnippet'] }}\nSummary: {{ $('Article Summary').item.json.output }}","prompt":"define","options":{},"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_I1hJm1vF2t7d0PBJTm5rV8wX","cachedResultName":"Facebook post generator"}},"credentials":{"openAiApi":{"id":"N9Rmx2XNuFHkb5uR","name":"OpenAi account 3"}},"typeVersion":1.8},{"id":"6ab851a5-7644-4ee5-94a5-6b0b5321b11c","name":"If","type":"n8n-nodes-base.if","position":[1140,380],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ebc0b0de-b436-4a41-aeac-d0873d148a55","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.query.answer }}","rightValue":"=go"}]}},"typeVersion":2.2},{"id":"b9ed21a3-3d3a-4a6c-a115-76b2c67741de","name":"LinkedIn","type":"n8n-nodes-base.linkedIn","position":[2560,420],"parameters":{"text":"={{ $('Create LinkedIn Post').item.json.output }}\n\nRead More : {{ $('NocoDB Databse').item.json.URL }}\n\n{{ $('NocoDB Databse').item.json['Post Image URL'] }}","postAs":"organization","organization":"18234190","additionalFields":{},"shareMediaCategory":"IMAGE"},"credentials":{"linkedInOAuth2Api":{"id":"tkkY3bun7quWNiV6","name":"abc"}},"typeVersion":1},{"id":"6be6aaa6-440b-4a5f-a32d-86cb7d83e132","name":"Create LinkedIn Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[1940,420],"parameters":{"text":"=Article: {{ $('RSS Trigger').item.json['content:encodedSnippet'] }}\n\nSummary: {{ $('Article Summary').item.json.output }}\n\n","prompt":"define","options":{},"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_uaAQvNZU70LbH1Xt4tNsQySd","cachedResultName":"LinkedIn Post generator"}},"credentials":{"openAiApi":{"id":"N9Rmx2XNuFHkb5uR","name":"OpenAi account 3"}},"typeVersion":1.8},{"id":"9333508d-6cb2-424b-981e-cadd608c0f74","name":"Code","type":"n8n-nodes-base.code","position":[20,-160],"parameters":{"jsCode":"const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const content = item?.json[\"content:encoded\"];\n  const imageLink = content.match(/<featured-image>(.*?)<\\/featured-image>/)[1];\n  item.json[\"featured-image\"] = imageLink;\n  item.json[\"content:encoded\"] = content.replace(\n    /<featured-image>(.*?)<\\/featured-image>/,\n    \"\",\n  );\n  return item;\n});\nreturn updatedItems;\n"},"typeVersion":2},{"id":"54166d38-492e-4af2-871a-9d5d364f1f62","name":"X1","type":"n8n-nodes-base.twitter","position":[2820,-100],"parameters":{"text":"= {{ $('NocoDB Databse').item.json['Article Summary'] }}  {{ $('NocoDB Databse').item.json.URL }}","additionalFields":{}},"credentials":{"twitterOAuth2Api":{"id":"xyc23ZY63wF1d0xo","name":"Twitter Account"}},"typeVersion":2},{"id":"7249de0a-684d-4b27-b849-e053e413f469","name":"Facebook Graph API","type":"n8n-nodes-base.facebookGraphApi","position":[1940,-180],"parameters":{"edge":"Photos","node":"me","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $('NocoDB Databse').item.json.Post }} \n\nRead More : {{ $('NocoDB Databse').item.json.URL }}"},{"name":"url","value":"={{ $('NocoDB Databse').item.json['Post Image URL'] }}  "}]}},"graphApiVersion":"v22.0","httpRequestMethod":"POST"},"credentials":{"facebookGraphApi":{"id":"e0PEBMqKOd7yUs3u","name":"AutomationPostForFacebook"}},"typeVersion":1},{"id":"b93a446a-3f76-4df9-95bf-403d820fbdaf","name":"Wait1","type":"n8n-nodes-base.wait","position":[2260,120],"webhookId":"3eee8286-adf4-4a14-8c63-bbc9b5c2ee4e","parameters":{"resume":"webhook","options":{}},"typeVersion":1.1},{"id":"b43c4a33-3dcb-4120-a8a8-a672a700843d","name":"If1","type":"n8n-nodes-base.if","position":[2520,120],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a1109e1a-9acf-4ef0-bd1f-5011e31ae901","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.query.answer }}","rightValue":"go"}]}},"typeVersion":2.2},{"id":"f38d4a58-a880-42e5-beb9-b6fd4e13a97d","name":"X","type":"n8n-nodes-base.twitter","position":[2820,300],"parameters":{"text":"={{ $('NocoDB Databse').item.json['Article Summary'] }}","additionalFields":{}},"credentials":{"twitterOAuth2Api":{"id":"xyc23ZY63wF1d0xo","name":"Twitter Account"}},"typeVersion":2},{"id":"726f2859-0649-46a2-af81-50900244b8a6","name":"Extract Link Seprately","type":"n8n-nodes-base.httpRequest","position":[300,-160],"parameters":{"url":"={{ $json.link }}","options":{}},"typeVersion":4.2},{"id":"ba20c72f-8982-41f7-a1b1-ade266305519","name":"Generate Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[740,80],"parameters":{"prompt":"={{ $json.output }}","options":{"returnImageUrls":true},"resource":"image"},"credentials":{"openAiApi":{"id":"N9Rmx2XNuFHkb5uR","name":"OpenAi account 3"}},"typeVersion":1.8},{"id":"51ee805d-5c2b-4d1c-b694-a41bcfcc5a16","name":"NocoDB Databse","type":"n8n-nodes-base.nocoDb","position":[400,380],"parameters":{"table":"mdxddablsn84huy","fieldsUi":{"fieldValues":[{"fieldName":"URL","fieldValue":"={{ $('RSS Trigger').item.json.link }}"},{"fieldName":"Article Summary","fieldValue":"={{ $('Article Summary').item.json.output }}"},{"fieldName":"Platform","fieldValue":"Facebook"},{"fieldName":"Post","fieldValue":"={{ $json.output }}"},{"fieldName":"Image Prompt","fieldValue":"={{ $('Create Image Prompt').item.json.output }}"},{"fieldName":"Image URL","fieldValue":"={{ $('Generate Image').item.json.url }}"},{"fieldName":"Post Image URL","fieldValue":"={{ $('Code').item.json['featured-image'] }}"}]},"operation":"create","projectId":"pon9l140lnoadsz","workspaceId":"w7f5zx5l","authentication":"nocoDbApiToken"},"credentials":{"nocoDbApiToken":{"id":"ZaZ2km6Omut7oXHt","name":"NocoDB Token account"}},"typeVersion":3},{"id":"65178923-9408-4545-88e9-fd1db736a14b","name":"Send Message","type":"n8n-nodes-base.telegram","position":[640,380],"webhookId":"609c6d0f-88ac-48b8-a2ec-3d4e4e7f3224","parameters":{"text":"=FB Post:  {{ $('Create Facebook Post').item.json.output }}\n\nArticle Summary: {{ $('Article Summary').item.json.output }}\n\nOriginal URL: {{ $json.URL }}\n\nImage: {{ $json['Post Image URL'] }}\n\nNocode db link that can be used to edit the post: https://app.nocodb.com/#/w7f5zx5l/pon9l140lnoadsz/mdxddablsn84huy/facebook?rowId={{ $json.Id }}\n\nPlease Tap [Go]({{$execution.resumeUrl}}?answer=go) or [No]({{$execution.resumeUrl}}?answer=no)","chatId":"=-4650022285","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Go","additionalFields":{"url":"https://abc.app.n8n.cloud/webhook/16a45e88-270f-411b-91b3-cd9bbd53274e?answer=go\n"}},{"text":"No","additionalFields":{"url":"https://abc.app.n8n.cloud/webhook/16a45e88-270f-411b-91b3-cd9bbd53274e?answer=no"}}]}}]},"additionalFields":{"appendAttribution":true}},"credentials":{"telegramApi":{"id":"E7SkzHAkNnnHpZHa","name":"Telegram account 4"}},"typeVersion":1.2},{"id":"49215fa6-584a-4571-aa0b-bbaa0f1f54fe","name":"wait for response","type":"n8n-nodes-base.wait","position":[880,380],"webhookId":"357fe419-78b6-441f-8730-46d21db8a561","parameters":{"resume":"webhook","options":{},"responseMode":"responseNode","limitWaitTime":true},"typeVersion":1.1},{"id":"d70a9020-c1c2-46e7-ae91-1c88ddd33b38","name":"RSS Trigger","type":"n8n-nodes-base.rssFeedReadTrigger","position":[-240,-160],"parameters":{"feedUrl":"https://www.abc.com/press-releases/feed/","pollTimes":{"item":[{"mode":"everyX","unit":"minutes","value":20}]}},"typeVersion":1},{"id":"36495935-fd5a-4c91-9b67-8cb7183a4181","name":"Database Update to Yes","type":"n8n-nodes-base.nocoDb","position":[1520,120],"parameters":{"table":"mdxddablsn84huy","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Approved"},{"fieldName":"Id","fieldValue":"={{ $('NocoDB Databse').item.json.Id }}"}]},"operation":"update","projectId":"pon9l140lnoadsz","workspaceId":"w7f5zx5l","authentication":"nocoDbApiToken"},"credentials":{"nocoDbApiToken":{"id":"ZaZ2km6Omut7oXHt","name":"NocoDB Token account"}},"typeVersion":3},{"id":"a5107617-59f9-495f-8be4-44c02ae6601e","name":"Database Update to No","type":"n8n-nodes-base.nocoDb","position":[1520,660],"parameters":{"table":"mdxddablsn84huy","fieldsUi":{"fieldValues":[{"fieldName":"Status","fieldValue":"Declined"}]},"operation":"update","projectId":"pon9l140lnoadsz","workspaceId":"w7f5zx5l","authentication":"nocoDbApiToken"},"credentials":{"nocoDbApiToken":{"id":"ZaZ2km6Omut7oXHt","name":"NocoDB Token account"}},"typeVersion":3},{"id":"4fbb2beb-3705-490a-b886-d02101b4bb05","name":"message for twitter","type":"n8n-nodes-base.telegram","position":[1940,120],"webhookId":"f0b1c151-e89a-4a4a-843c-8cc121f7593a","parameters":{"text":"=How would you like to post on Twitter?\nGo for With Link\nNo for Without Link\n\n\n\nPlease Tap [Go]({{$execution.resumeUrl}}?answer=go) or [No]({{$execution.resumeUrl}}?answer=no)","chatId":"-4650022285","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Go","additionalFields":{"url":"https://abc.app.n8n.cloud/webhook/16a45e88-270f-411b-91b3-cd9bbd53274e?answer=go"}},{"text":"No","additionalFields":{"url":"https://abc.app.n8n.cloud/webhook/16a45e88-270f-411b-91b3-cd9bbd53274e?answer=no"}}]}}]},"additionalFields":{}},"credentials":{"telegramApi":{"id":"E7SkzHAkNnnHpZHa","name":"Telegram account 4"}},"typeVersion":1.2},{"id":"5e2ad9c0-8365-42a4-a8c6-ec7f92986cc1","name":"Image url extracter","type":"n8n-nodes-base.httpRequest","position":[2340,420],"parameters":{"url":"={{ $('NocoDB Databse').item.json['Post Image URL'] }}","options":{}},"typeVersion":4.2},{"id":"499c4408-1237-4d37-a21c-92e079b853c9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1420,20],"parameters":{"color":4,"width":300,"height":320,"content":"If Approved then update in Database and post on Social Media"},"typeVersion":1},{"id":"c5de71a3-3b01-48a2-b6ef-cb247f78ae95","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-400,-320],"parameters":{"color":4,"width":340,"height":400,"content":"Trigger Node\nInput your Feed to fetch the latest content"},"typeVersion":1},{"id":"9b78f0eb-38c1-4107-8e09-5c6d4afd7ad6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-20,-300],"parameters":{"width":480,"height":320,"content":"Image URL extract from the feed to separate column"},"typeVersion":1},{"id":"79142390-1a8b-4f21-bdf9-43b65379ff56","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[260,340],"parameters":{"color":6,"width":600,"height":200,"content":"Store summary in database table and send message to telegram for approval"},"typeVersion":1},{"id":"b37340df-8035-46d0-8e9c-93ec9d9267fd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1420,560],"parameters":{"color":3,"width":300,"height":320,"content":"If not Approved then stop the workflow and updated as declined in database\n"},"typeVersion":1},{"id":"174ae689-859a-4195-bea0-1035104876a6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-420,-820],"parameters":{"width":480,"height":420,"content":"This workflow automatically publishes newly posted blog articles from the website to social media platforms. It helps maintain consistent online presence by sharing content without manual effort."},"typeVersion":1}],"active":true,"pinData":{"RSS Trigger":[{"json":{"guid":"https://www.abc.com/?p=54429","link":"https://www.abc.com/press-releas","title":"Ofro, Kelithee & Santhosh Narayanan Unite for Spiritual Tamil Hip-Hop Track ‘Vetrivel’","itunes":{},"content":"<featured-image></featured-image><p>Renowned Tamil hip-hop producer Ofro collaborates with rising Gen Z rap talent Kelithee and celebrated music composer Santhosh Narayanan for “Vetrivel” — a bold, spiritually charged Tamil hip-hop track that blends divine devotion with street energy and cultural pride. Rooted in a deep reverence for Lord Murugan, “Vetrivel” is a sonic experience that fuses thunderous [&#8230;]</p>\n<p>The post <a rel=\"nofollow\" href=\"https://www.abc.com/press-releases/ofro-kelithee-santhosh-narayanan-unite-for-spiritual-tamil-hip-hop-track-vetrivel/\">Ofro, Kelithee &#038; Santhosh Narayanan Unite for Spiritual Tamil Hip-Hop Track ‘Vetrivel’</a> appeared first on <a rel=\"nofollow\" href=\"https://www.abc.com\">abc</a>.</p>\n","creator":"Jackey Chain","isoDate":"2025-06-05T09:16:18.000Z","pubDate":"Thu, 05 Jun 2025 09:16:18 +0000","categories":["Press releases","Artist","News","Singer"],"dc:creator":"Anchal Ojha","contentSnippet":"https://www.abc.com/wp-content/uploads/2025/06/Vetrivel.webp\nRenowned Tamil hip-hop producer Ofro collaborates with rising Gen Z rap talent Kelithee and celebrated music composer Santhosh Narayanan for “Vetrivel” — a bold, spiritually charged Tamil hip-hop track that blends divine devotion with street energy and cultural pride. Rooted in a deep reverence for Lord Murugan, “Vetrivel” is a sonic experience that fuses thunderous […]\nThe post Ofro, Kelithee & Santhosh Narayanan Unite for Spiritual Tamil Hip-Hop Track ‘Vetrivel’ appeared first on abc.","content:encoded":"<featured-image></featured-image>\n<p>Renowned Tamil hip-hop producer <strong>Ofro</strong> collaborates with rising Gen Z rap talent <strong>Kelithee</strong> and celebrated music composer <strong>Santhosh Narayanan</strong> for <em>“Vetrivel”</em> — a bold, spiritually charged Tamil hip-hop track that blends divine devotion with street energy and cultural pride.</p>\n\n\n\n<p>Rooted in a deep reverence for <strong>Lord Murugan</strong>, <em>“Vetrivel”</em> is a sonic experience that fuses thunderous hip-hop beats with folk-inspired instrumentation, channeling both raw grit and spiritual power. The track delivers a rallying cry born from the heart of Tamil soil — uniting genre-defying sounds with deeply personal storytelling.</p>\n\n\n\n<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5815882061711286\"\n     crossorigin=\"anonymous\"></script>\n<ins class=\"adsbygoogle\"\n     style=\"display:block\"\n     data-ad-format=\"autorelaxed\"\n     data-ad-client=\"ca-pub-5815882061711286\"\n     data-ad-slot=\"4238026668\"></ins>\n<script>\n     (adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n\n\n<p><strong>Ofro</strong>, a pioneer in the Tamil hip-hop movement, brings his signature global fusion style to the production. He shares, “<em>‘Vetrivel’ is a message of hope and faith. Throughout the process — from writing to release — there was a powerful divine energy guiding us. This song, for me, is truly part of God’s plan.</em>”</p>\n\n\n\n<p>Adding a generational voice to the track is <strong>Kelithee</strong>, who began his lyrical journey under Ofro’s mentorship at just 15. His raw, emotional verses reflect a personal and spiritual bond with Murugan. “<em>‘Vetrivel’ is my devotional offering. Murugan is more than a deity — He’s my friend,</em>” says Kelithee.</p>\n\n\n\n<script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5815882061711286\"\n     crossorigin=\"anonymous\"></script><ins class=\"adsbygoogle\"\n     style=\"display:block\"\n     data-ad-format=\"fluid\"\n     data-ad-layout-key=\"-ga-2w+v-a0+sx\"\n     data-ad-client=\"ca-pub-5815882061711286\"\n     data-ad-slot=\"3164618146\"></ins><script>\n     (adsbygoogle = window.adsbygoogle || []).push({});</script>\n\n\n\n<p>Elevating the sonic depth of the project, acclaimed composer <strong>Santhosh Narayanan</strong> infuses his trademark textured soundscapes, tying together the track’s spiritual and urban themes into a seamless, genre-blending production.</p>\n\n\n\n<p>More than just a song, <em>“Vetrivel”</em> is an anthem for believers, hip-hop fans, and culture seekers alike — a powerful fusion of <strong>faith, rhythm, and identity</strong>.</p>\n<div class='heateor_sss_sharing_container heateor_sss_vertical_sharing heateor_sss_bottom_sharing' style='width:44px;right: -10px;top: 100px;-webkit-box-shadow:none;box-shadow:none;' data-heateor-sss-href='https://www.abc.com/press-releases/feed/'><div class=\"heateor_sss_sharing_ul\"><a aria-label=\"Facebook\" class=\"heateor_sss_facebook\" href=\"https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.abc.com%2Fpress-releases%2Ffeed%2F\" title=\"Facebook\" rel=\"nofollow noopener\" target=\"_blank\" style=\"font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle\"><span class=\"heateor_sss_svg\" style=\"background-color:#0765FE;width:40px;height:40px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box\"><svg style=\"display:block;border-radius:999px;\" focusable=\"false\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\"><path fill=\"#fff\" d=\"M28 16c0-6.627-5.373-12-12-12S4 9.373 4 16c0 5.628 3.875 10.35 9.101 11.647v-7.98h-2.474V16H13.1v-1.58c0-4.085 1.849-5.978 5.859-5.978.76 0 2.072.15 2.608.298v3.325c-.283-.03-.775-.045-1.386-.045-1.967 0-2.728.745-2.728 2.683V16h3.92l-.673 3.667h-3.247v8.245C23.395 27.195 28 22.135 28 16Z\"></path></svg></span></a><a aria-label=\"X\" class=\"heateor_sss_button_x\" href=\"https://twitter.com/intent/tweet?text=Press%20releases&url=https%3A%2F%2Fwww.abc.com%2Fpress-releases%2Ffeed%2F\" title=\"X\" rel=\"nofollow noopener\" target=\"_blank\" style=\"font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle\"><span class=\"heateor_sss_svg heateor_sss_s__default heateor_sss_s_x\" style=\"background-color:#2a2a2a;width:40px;height:40px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box\"><svg width=\"100%\" height=\"100%\" style=\"display:block;border-radius:999px;\" focusable=\"false\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 32\"><path fill=\"#fff\" d=\"M21.751 7h3.067l-6.7 7.658L26 25.078h-6.172l-4.833-6.32-5.531 6.32h-3.07l7.167-8.19L6 7h6.328l4.37 5.777L21.75 7Zm-1.076 16.242h1.7L11.404 8.74H9.58l11.094 14.503Z\"></path></svg></span></a><a aria-label=\"Linkedin\" class=\"heateor_sss_button_linkedin\" href=\"https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.abc.com%2Fpress-releases%2Ffeed%2F\" title=\"Linkedin\" rel=\"nofollow noopener\" target=\"_blank\" style=\"font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle\"><span class=\"heateor_sss_svg heateor_sss_s__default heateor_sss_s_linkedin\" style=\"background-color:#0077b5;width:40px;height:40px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box\"><svg style=\"display:block;border-radius:999px;\" focusable=\"false\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\"><path d=\"M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z\" fill=\"#fff\"></path></svg></span></a><a aria-label=\"Pinterest\" class=\"heateor_sss_button_pinterest\" href=\"https://www.abc.com/press-releases/feed/\" onclick=\"event.preventDefault();javascript:void( (function() {var e=document.createElement('script' );e.setAttribute('type','text/javascript' );e.setAttribute('charset','UTF-8' );e.setAttribute('src','//assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());\" title=\"Pinterest\" rel=\"noopener\" style=\"font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle\"><span class=\"heateor_sss_svg heateor_sss_s__default heateor_sss_s_pinterest\" style=\"background-color:#cc2329;width:40px;height:40px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box\"><svg style=\"display:block;border-radius:999px;\" focusable=\"false\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"-2 -2 35 35\"><path fill=\"#fff\" d=\"M16.539 4.5c-6.277 0-9.442 4.5-9.442 8.253 0 2.272.86 4.293 2.705 5.046.303.125.574.005.662-.33.061-.231.205-.816.27-1.06.088-.331.053-.447-.191-.736-.532-.627-.873-1.439-.873-2.591 0-3.338 2.498-6.327 6.505-6.327 3.548 0 5.497 2.168 5.497 5.062 0 3.81-1.686 7.025-4.188 7.025-1.382 0-2.416-1.142-2.085-2.545.397-1.674 1.166-3.48 1.166-4.689 0-1.081-.581-1.983-1.782-1.983-1.413 0-2.548 1.462-2.548 3.419 0 1.247.421 2.091.421 2.091l-1.699 7.199c-.505 2.137-.076 4.755-.039 5.019.021.158.223.196.314.077.13-.17 1.813-2.247 2.384-4.324.162-.587.929-3.631.929-3.631.46.876 1.801 1.646 3.227 1.646 4.247 0 7.128-3.871 7.128-9.053.003-3.918-3.317-7.568-8.361-7.568z\"/></svg></span></a><a aria-label=\"Whatsapp\" class=\"heateor_sss_whatsapp\" href=\"https://api.whatsapp.com/send?text=Press%20releases%20https%3A%2F%2Fwww.abc.com%2Fpress-releases%2Ffeed%2F\" title=\"Whatsapp\" rel=\"nofollow noopener\" target=\"_blank\" style=\"font-size:32px!important;box-shadow:none;display:inline-block;vertical-align:middle\"><span class=\"heateor_sss_svg\" style=\"background-color:#55eb4c;width:40px;height:40px;border-radius:999px;display:inline-block;opacity:1;float:left;font-size:32px;box-shadow:none;display:inline-block;font-size:16px;padding:0 4px;vertical-align:middle;background-repeat:repeat;overflow:hidden;padding:0;cursor:pointer;box-sizing:content-box\"><svg style=\"display:block;border-radius:999px;\" focusable=\"false\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"-6 -5 40 40\"><path class=\"heateor_sss_svg_stroke heateor_sss_no_fill\" stroke=\"#fff\" stroke-width=\"2\" fill=\"none\" d=\"M 11.579798566743314 24.396926207859085 A 10 10 0 1 0 6.808479557110079 20.73576436351046\"></path><path d=\"M 7 19 l -1 6 l 6 -1\" class=\"heateor_sss_no_fill heateor_sss_svg_stroke\" stroke=\"#fff\" stroke-width=\"2\" fill=\"none\"></path><path d=\"M 10 10 q -1 8 8 11 c 5 -1 0 -6 -1 -3 q -4 -3 -5 -5 c 4 -2 -1 -5 -1 -4\" fill=\"#fff\"></path></svg></span></a></div><div class=\"heateorSssClear\"></div></div><p>The post <a rel=\"nofollow\" href=\"https://www.abc.com/press-releases/ofro-kelithee-santhosh-narayanan-unite-for-spiritual-tamil-hip-hop-track-vetrivel/\">Ofro, Kelithee &#038; Santhosh Narayanan Unite for Spiritual Tamil Hip-Hop Track ‘Vetrivel’</a> appeared first on <a rel=\"nofollow\" href=\"https://www.abc.com\">abc</a>.</p>\n","content:encodedSnippet":"https://www.abc.com/wp-content/uploads/2025/06/Vetrivel.webp\nRenowned Tamil hip-hop producer Ofro collaborates with rising Gen Z rap talent Kelithee and celebrated music composer Santhosh Narayanan for “Vetrivel” — a bold, spiritually charged Tamil hip-hop track that blends divine devotion with street energy and cultural pride.\nRooted in a deep reverence for Lord Murugan, “Vetrivel” is a sonic experience that fuses thunderous hip-hop beats with folk-inspired instrumentation, channeling both raw grit and spiritual power. The track delivers a rallying cry born from the heart of Tamil soil — uniting genre-defying sounds with deeply personal storytelling.\n\n\n\n     (adsbygoogle = window.adsbygoogle || []).push({});\n\n\n\n\nOfro, a pioneer in the Tamil hip-hop movement, brings his signature global fusion style to the production. He shares, “‘Vetrivel’ is a message of hope and faith. Throughout the process — from writing to release — there was a powerful divine energy guiding us. This song, for me, is truly part of God’s plan.”\nAdding a generational voice to the track is Kelithee, who began his lyrical journey under Ofro’s mentorship at just 15. His raw, emotional verses reflect a personal and spiritual bond with Murugan. “‘Vetrivel’ is my devotional offering. Murugan is more than a deity — He’s my friend,” says Kelithee.\n\n     (adsbygoogle = window.adsbygoogle || []).push({});\n\n\n\nElevating the sonic depth of the project, acclaimed composer Santhosh Narayanan infuses his trademark textured soundscapes, tying together the track’s spiritual and urban themes into a seamless, genre-blending production.\nMore than just a song, “Vetrivel” is an anthem for believers, hip-hop fans, and culture seekers alike — a powerful fusion of faith, rhythm, and identity.\n\n\n\n\n\n\n\n\n\n\nThe post Ofro, Kelithee & Santhosh Narayanan Unite for Spiritual Tamil Hip-Hop Track ‘Vetrivel’ appeared first on abc."}}]},"settings":{"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"versionId":"f6c8c7e3-38b8-42ca-836e-fcc5e717ddd8","connections":{"If":{"main":[[{"node":"Database Update to Yes","type":"main","index":0}],[{"node":"Database Update to No","type":"main","index":0}]]},"X1":{"main":[[]]},"If1":{"main":[[{"node":"X1","type":"main","index":0}],[{"node":"X","type":"main","index":0}]]},"Code":{"main":[[{"node":"Extract Link Seprately","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]},"RSS Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"wait for response","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Create Facebook Post","type":"main","index":0}]]},"NocoDB Databse":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Article Summary":{"main":[[{"node":"Create Image Prompt","type":"main","index":0}]]},"wait for response":{"main":[[{"node":"If","type":"main","index":0}]]},"Create Image Prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Image url extracter":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"message for twitter":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Create Facebook Post":{"main":[[{"node":"NocoDB Databse","type":"main","index":0}]]},"Create LinkedIn Post":{"main":[[{"node":"Image url extracter","type":"main","index":0}]]},"Database Update to Yes":{"main":[[{"node":"message for twitter","type":"main","index":0},{"node":"Facebook Graph API","type":"main","index":0},{"node":"Create LinkedIn Post","type":"main","index":0}]]},"Extract Link Seprately":{"main":[[{"node":"Article Summary","type":"main","index":0}]]}}}