data/workflows/5894.json
{"id":"knQoxMv2NhRJSXeB","meta":{"instanceId":"316024c4bebe6926144c34ab9e32f2d819dcb63f95a5e2063a7c22b8ca3a4742","templateId":"2978","templateCredsSetupCompleted":true},"name":"Reddit - Posts - to sell","tags":[],"nodes":[{"id":"637518ea-66b8-4e91-a231-d879e13a1f10","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-80,260],"parameters":{},"typeVersion":1},{"id":"d12facc2-3530-4456-a322-a6da5ab09f4f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1300,685],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"gpt-4.1"},"options":{}},"credentials":{"openAiApi":{"id":"69b7Hhxzgwc719cO","name":"OpenAi account"}},"typeVersion":1.2},{"id":"5afdec8d-7b52-48fa-b99b-58b31822bc4d","name":"Merge Input","type":"n8n-nodes-base.merge","position":[1580,460],"parameters":{"mode":"combine","options":{"includeUnpaired":true},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"1af4c8c3-0728-4c02-b023-00237d7285a1","name":"Filter Posts By Features","type":"n8n-nodes-base.if","position":[780,460],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0823d10a-ad54-4d82-bcea-9dd236e97857","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.ups }}","rightValue":0},{"id":"bb8187aa-f0f1-4999-8d4b-bdc9abba0618","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.selftext }}","rightValue":""},{"id":"539f0f5c-025a-4f82-9b3a-2ef1ad3a2d96","operator":{"type":"dateTime","operation":"after"},"leftValue":"={{ DateTime.fromSeconds($json.created).toISO() }}","rightValue":"={{ $today.minus(180,'days').toISO() }}"}]}},"typeVersion":2.2},{"id":"2c2be782-914f-4cbc-b2e9-682981e5a265","name":"Filter Posts By Content","type":"n8n-nodes-base.if","position":[1800,460],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d5d38c01-3a88-4767-b488-d9c04145bb8f","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output }}","rightValue":"Yes"}]}},"typeVersion":2.2},{"id":"3c290b3f-a834-4382-a166-1dd4471c502e","name":"Select Key Fields","type":"n8n-nodes-base.set","position":[1000,460],"parameters":{"options":{},"assignments":{"assignments":[{"id":"e5082ecc-3add-474e-bdb5-b8ad64729930","name":"upvotes","type":"string","value":"={{ $json.ups }}"},{"id":"a92b5859-fbcc-40c2-95e0-452b12530d98","name":"subreddit_subscribers","type":"number","value":"={{ $json.subreddit_subscribers }}"},{"id":"a846e21c-6cff-4521-9e0c-a32fa1305376","name":"postcontent","type":"string","value":"={{ $json.selftext }}"},{"id":"b8045389-684d-4872-9e32-9a6b5511eb2b","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"f182fedc-1b09-40fe-aeb5-2473263da442","name":"date","type":"string","value":"={{ DateTime.fromSeconds($json.created).toISO() }}"},{"id":"3cfc53e0-4fb1-4d15-9fda-2f9168f04033","name":"id","type":"string","value":"={{ $json.id }}"},{"id":"c127d0ec-a994-4533-b708-d73da281cb51","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"9b393309-73f7-46dc-ae14-b89bd1e428da","name":"subreddit","type":"string","value":"={{ $json.subreddit }}"}]}},"typeVersion":3.4},{"id":"60223b8e-0980-4c40-8d05-dab0d974e504","name":"Analysis Content  By AI","type":"@n8n/n8n-nodes-langchain.agent","position":[1220,460],"parameters":{"text":"\n\n  Reddit post: {{ $json.postcontent }}\n\n  Is this post from someone who might benefit from an iOS image editing app? Consider if they mention photo editing, Picsart, image apps, or mobile editing.\n\n  Output only yes or no\n","options":{},"promptType":"define"},"typeVersion":1.7},{"id":"e9d1bfcd-4381-4bf6-8099-29ceff0a1dce","name":"Get Posts","type":"n8n-nodes-base.reddit","position":[560,65],"parameters":{"limit":50,"keyword":"photo editing app OR image editor OR \"AI photo\" OR \"photo filters\"","operation":"search","subreddit":"=smallbusiness","additionalFields":{"sort":"hot"}},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"f79d9a17-0bc5-4ced-b43d-99c8007a6c1c","name":"Get Posts1","type":"n8n-nodes-base.reddit","position":[560,265],"parameters":{"limit":50,"keyword":"photo editing app OR image editor OR \"AI photo\" OR \"photo filters\"","operation":"search","subreddit":"=sidehustle","additionalFields":{"sort":"hot"}},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"1730a374-ea57-4a57-8002-28676aae6922","name":"Get Posts2","type":"n8n-nodes-base.reddit","position":[560,460],"parameters":{"limit":50,"keyword":"photo editing app OR image editor OR \"AI photo\" OR \"photo filters\"","operation":"search","subreddit":"=smallbusiness","additionalFields":{"sort":"hot"}},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"e447dc9f-ed72-42f4-877c-606608879ef1","name":"Get Posts3","type":"n8n-nodes-base.reddit","position":[560,665],"parameters":{"limit":50,"keyword":"photo editing app OR image editor OR \"AI photo\" OR \"photo filters\"","operation":"search","subreddit":"=indiehackers","additionalFields":{"sort":"hot"}},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"82aa9145-8944-4ee8-94c5-b432c8ec6ecd","name":"Get Posts4","type":"n8n-nodes-base.reddit","position":[560,865],"parameters":{"limit":50,"keyword":"photo editing app OR image editor OR \"AI photo\" OR \"photo filters\"","operation":"search","subreddit":"=ios","additionalFields":{"sort":"hot"}},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"aa4c4d79-c261-43cf-abf1-8a6a085692aa","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[2380,560],"parameters":{"columns":{"value":{"Upvotes":"{{ $json.upvotes }}","Subreddit":"{{ $json.subreddit }}","Date_Found":"{{ $now.toISO() }}","Post_Title":"{{ $json.title }}","Reddit_URL":"={{ $json.url }}","Subscribers":"{{ $json.subreddit_subscribers }}","Post_Content":"{{ $json.postcontent.slice(0,500) }}","Status Tracking":"New","Posted_to_Reddit":"\"Yes\"","AI_Generated_Reply":"{{ $json.message.content }}"},"schema":[{"id":"Reddit_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"Reddit_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Subreddit","type":"string","display":true,"removed":false,"required":false,"displayName":"Subreddit","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Post_Title","type":"string","display":true,"removed":false,"required":false,"displayName":"Post_Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Upvotes","type":"string","display":true,"removed":false,"required":false,"displayName":"Upvotes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date_Found","type":"string","display":true,"removed":false,"required":false,"displayName":"Date_Found","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Post_Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Post_Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Subscribers","type":"string","display":true,"removed":false,"required":false,"displayName":"Subscribers","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status Tracking","type":"string","display":true,"removed":false,"required":false,"displayName":"Status Tracking","defaultMatch":false,"canBeUsedToMatch":true},{"id":"AI_Generated_Reply","type":"string","display":true,"removed":false,"required":false,"displayName":"AI_Generated_Reply","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Posted_to_Reddit","type":"string","display":true,"removed":false,"required":false,"displayName":"Posted_to_Reddit","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Post"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uqEwJvxEkuvzaN5mu5sE75t9o7RF12UZ61vSrH5_YJk/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1uqEwJvxEkuvzaN5mu5sE75t9o7RF12UZ61vSrH5_YJk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uqEwJvxEkuvzaN5mu5sE75t9o7RF12UZ61vSrH5_YJk/edit?usp=drivesdk","cachedResultName":"reddit"}},"credentials":{"googleSheetsOAuth2Api":{"id":"1mKqNGQ9JELZC5Y7","name":"Google Sheets account 2"}},"typeVersion":4.6},{"id":"78a316fe-be7a-4624-bc3a-80a309f6c64f","name":"Create a comment in a post","type":"n8n-nodes-base.reddit","position":[2380,360],"parameters":{"postId":"={{ $('Select Key Fields').item.json.id }}","resource":"postComment","commentText":"={{ $json.message.content }}"},"credentials":{"redditOAuth2Api":{"id":"V63mpmRLk7iOM7gf","name":"Reddit account"}},"typeVersion":1},{"id":"ac2b4385-cc8f-48c5-a313-c9dee98309a3","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","position":[2020,460],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"GPT-4.1"},"options":{},"messages":{"values":[{"content":"=Based on this Reddit post, write a helpful, conversational reply that:\n\n1. Acknowledges their specific problem\n2. Provides genuine value first\n3. Naturally mentions my iOS photo editing app https://apps.apple.com/app/prompt-pic/id6747992467 ONLY if relevant\n4. Asks a follow-up question\n5. Max 120 words, conversational tone\n\nReddit Post:{{ $('Select Key Fields').item.json.postcontent }}\nPost Title: {{ $('Select Key Fields').item.json.title }}\n\nMy app: Prompt Pic https://apps.apple.com/app/prompt-pic/id6747992467\nCreate stunning photo edits with AI just by promopting. From removing background to adding anything to a picture, bring any idea to life. It's like Photoroom with prompts\n\n\n\nRules:\n- Only mention app if it's slightly or more relevant to their problem or if it inspires the writer of the post. When you mention the app, post its URL too. \n- No marketing language\n- Sound helpful, not salesy"}]}},"credentials":{"openAiApi":{"id":"69b7Hhxzgwc719cO","name":"OpenAi account"}},"typeVersion":1.8},{"id":"569111b4-4396-4a07-aeeb-dd855884d9ac","name":"Trigger: Run every 3 hours","type":"n8n-nodes-base.scheduleTrigger","position":[-80,540],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"typeVersion":1.2}],"active":false,"pinData":{},"settings":{},"versionId":"2c8cbc23-90d8-4b38-819c-72d5e409d4d8","connections":{"Get Posts":{"main":[[{"node":"Filter Posts By Features","type":"main","index":0}]]},"Get Posts1":{"main":[[{"node":"Filter Posts By Features","type":"main","index":0}]]},"Get Posts2":{"main":[[{"node":"Filter Posts By Features","type":"main","index":0}]]},"Get Posts3":{"main":[[{"node":"Filter Posts By Features","type":"main","index":0}]]},"Get Posts4":{"main":[[{"node":"Filter Posts By Features","type":"main","index":0}]]},"Merge Input":{"main":[[{"node":"Filter Posts By Content","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Create a comment in a post","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analysis Content  By AI","type":"ai_languageModel","index":0}]]},"Select Key Fields":{"main":[[{"node":"Analysis Content  By AI","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"Analysis Content  By AI":{"main":[[{"node":"Merge Input","type":"main","index":0}]]},"Filter Posts By Content":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Filter Posts By Features":{"main":[[{"node":"Select Key Fields","type":"main","index":0}]]},"Trigger: Run every 3 hours":{"main":[[{"node":"Get Posts","type":"main","index":0},{"node":"Get Posts1","type":"main","index":0},{"node":"Get Posts2","type":"main","index":0},{"node":"Get Posts3","type":"main","index":0},{"node":"Get Posts4","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Posts","type":"main","index":0},{"node":"Get Posts1","type":"main","index":0},{"node":"Get Posts2","type":"main","index":0},{"node":"Get Posts3","type":"main","index":0},{"node":"Get Posts4","type":"main","index":0}]]}}}