data/workflows/6455.json
{"id":"MM7OmbyItGAF9Xvx","meta":{"instanceId":"a1e8432a8abddd8ac53b4212f1cd4f1be9ba47f82cf80da52cf4836313b4b702","templateCredsSetupCompleted":true},"name":"My workflow 5","tags":[{"id":"inbn0wlGd0kW62F8","name":"anomaly-detection","createdAt":"2025-07-25T16:34:28.976Z","updatedAt":"2025-07-25T16:34:28.976Z"}],"nodes":[{"id":"dacc6410-82c5-4ffa-8975-45d40de99ec6","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[-2240,-1840],"webhookId":"ba86447b-5cda-48ab-a4d6-1e1a07bad686","parameters":{"options":{},"formTitle":"The Deepest Research","formFields":{"values":[{"fieldLabel":"Search Topic","placeholder":"Search Topic","requiredField":true},{"fieldLabel":"Email","placeholder":"name@example.com","requiredField":true}]},"formDescription":"Enter a search topic then sit back and relax."},"typeVersion":2.2},{"id":"904be35a-42ba-494b-b5ac-3782fb0b7874","name":"Plan Topics","type":"@n8n/n8n-nodes-langchain.agent","position":[-2032,-1840],"parameters":{"text":"=Search Topic: {{ $json['Search Topic'] }}","options":{"systemMessage":"=# Overview\nYou are a research assistant AI designed to generate five highly relevant and in-depth search topics based on a given search topic. Your goal is to break down the provided search topic into five key subtopics that will enable deep research and comprehensive understanding.\n\n## Instructions:\n1) Break Down the Topic: Identify five distinct yet interconnected subtopics that, when researched, will provide a well-rounded understanding of the main search topic.\n2) Ensure Depth and Relevance: Each search topic should be specific enough to allow deep exploration but broad enough to provide meaningful insights.\n3) Avoid Redundancy: The five search topics should be unique and cover different facets of the main topic.\n\n## Output Format (JSON):\n{\n  \"topic_1\": \"<First in-depth search topic>\",\n  \"topic_2\": \"<Second in-depth search topic>\",\n  \"topic_3\": \"<Third in-depth search topic>\",\n  \"topic_4\": \"<Fourth in-depth search topic>\",\n  \"topic_5\": \"<Fifth in-depth search topic>\"\n}\n\n## Example Input & Output:\nInput:\n\"AI-Powered Business Automation\"\n\nOutput\n{\n  \"topic_1\": \"The Role of AI in Automating Business Processes\",\n  \"topic_2\": \"AI-Driven Workflow Automation: Tools and Technologies\",\n  \"topic_3\": \"Challenges and Ethical Considerations in AI Automation\",\n  \"topic_4\": \"Case Studies: Successful AI Implementations in Business Automation\",\n  \"topic_5\": \"The Future of AI Automation: Trends and Emerging Innovations\"\n}\n\n## Final Notes\nYour responses should be concise, relevant, and well-structured to guide in-depth research effectively.\n\"Respond only with a JSON object in this format:\n{\n\"topic_1\": \"...\",\n\"topic_2\": \"...\",\n\"topic_3\": \"...\",\n\"topic_4\": \"...\",\n\"topic_5\": \"...\"\n}\nDo not include any extra text.\""},"promptType":"define","hasOutputParser":true},"typeVersion":1.8},{"id":"e6d4f3e0-d7ba-48ed-990d-478b9b04acc5","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[-2176,-1600],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"72f7d91e-ba33-4974-bd1d-7c739d114ce0","name":"5 Topics","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1840,-1600],"parameters":{"jsonSchemaExample":"{\n  \"topic_1\": \"Understanding AI Agents\",\n  \"topic_2\": \"Building AI Agents with n8n\",\n  \"topic_3\": \"Optimizing Prompt Engineering\",\n  \"topic_4\": \"Storing and Retrieving AI Knowledge\",\n  \"topic_5\": \"Scaling AI Automation for Businesses\"\n}\n"},"typeVersion":1.2},{"id":"4a6032f9-081c-4b22-b406-b8c7429c8fd3","name":"Intro","type":"@n8n/n8n-nodes-langchain.agent","position":[-1488,-1840],"parameters":{"text":"=Search Topic: {{ $('On form submission').item.json['Search Topic'] }}\n\nTopics: \n1) {{ $('Plan Topics').item.json.output.topic_1 }}\n2) {{ $('Plan Topics').item.json.output.topic_2 }}\n3) {{ $('Plan Topics').item.json.output.topic_3 }}\n4) {{ $('Plan Topics').item.json.output.topic_4 }}\n5) {{ $('Plan Topics').item.json.output.topic_5 }}","options":{"systemMessage":"=# Overview\nYou are a report title and introduction generator AI. Your task is to create a compelling title, a concise introduction, and five clear chapter headings for a research report based on a given main search topic and five subtopics.\n\n## Instructions:\n1) Title: Generate a clear and engaging title that reflects the overall theme of the report.\n2) Introduction: Write a short introduction (2 paragraphs) that provides context, explains the significance of the topic, and outlines what the report will cover. This section should start with a header called \"Introduction\".\n3)Table of Contents: At the end of the introduction, list the five sections of the report, each represented as a clearly formatted chapter title in <h2> headers.\n4) Chapter Titles: Ensure each chapter title is formatted as an <h2> header to make it visually distinct.\n\n## Styling:\n- Title: <h1> element, centered, styled with a professional dark blue color.\n- Introduction: Wrapped in a <div> with a light gray background (#f4f4f4) for contrast.\n- Paragraphs: Readable font size (16px), appropriate line height (1.6), and neutral text color (#333).\n- Horizontal Line (<hr>) should be used to separate the two introduction paragraphs.\n- Chapter Titles: Clearly formatted as <h2> elements for readability. Large font and \n\n## Output Format (JSON):\n\n{\n  \"title\": \"<Generated Report Title>\",\n  \"introduction\": \"<Generated Introduction>\",\n  \"chapter_1\": \"<h2>Chapter 1: [Title]</h2>\",\n  \"chapter_2\": \"<h2>Chapter 2: [Title]</h2>\",\n  \"chapter_3\": \"<h2>Chapter 3: [Title]</h2>\",\n  \"chapter_4\": \"<h2>Chapter 4: [Title]</h2>\",\n  \"chapter_5\": \"<h2>Chapter 5: [Title]</h2>\"\n}\n\n## Example Output:\n\n{\n  \"title\": \"<h1 style='text-align: center; color: #00366D;'>Vision and Vegetables: A Comprehensive Analysis of Carrots' Impact on Eye Health</h1>\",\n  \"introduction\": \"<div style='background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333;'><h2>Introduction</h2><p>The relationship between carrots and vision has been a topic of both scientific interest and cultural folklore for generations. While the common parental advice 'eat your carrots, they're good for your eyes' has become deeply embedded in popular consciousness, the scientific reality behind this widely-held belief merits thorough investigation. This comprehensive report examines the multifaceted connection between carrot consumption and ocular health, exploring both the scientific evidence and historical perspectives that have shaped our understanding of this remarkable root vegetable's role in vision care.</p><hr><p>Through this analysis, we will explore the biochemical properties of carrots, the role of beta-carotene in eye health, and the scientific consensus on their effectiveness. Additionally, we will discuss historical influences and modern dietary recommendations. By the end of this report, readers will have a well-rounded understanding of the true impact of carrots on visual function.</p></div>\",\n  \"chapter_1\": \"<h2 style='text-align: center; color: #00366D;'>Chapter 1: The Biochemical Properties of Carrots</h2>\",\n  \"chapter_2\": \"<h2 style='text-align: center; color: #00366D;'>Chapter 2: The Role of Beta-Carotene in Eye Health</h2>\",\n  \"chapter_3\": \"<h2 style='text-align: center; color: #00366D;'>Chapter 3: Carrots and Night Vision: Myth or Reality?</h2>\",\n  \"chapter_4\": \"<h2 style='text-align: center; color: #00366D;'>Chapter 4: Historical Perspectives on Carrots and Vision</h2>\",\n  \"chapter_5\": \"<h2 style='text-align: center; color: #00366D;'>Chapter 5: Modern Dietary Recommendations for Eye Health</h2>\"\n}\n\n## Final Notes\nEnsure the title is professional, the introduction is engaging, and that each chapter title is formatted as an <h2> header for clarity and emphasis."},"promptType":"define","hasOutputParser":true},"typeVersion":1.8},{"id":"593a7b93-5704-4868-b473-c2ddef7cf77b","name":"OpenRouter Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[-1616,-1600],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"79df9e24-9987-4745-b8b2-4c97ea01063b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-1488,-2000],"parameters":{"options":{},"fieldToSplitOut":"output"},"typeVersion":1},{"id":"aa8b0a39-9cfd-4e22-b41b-d64d452bc57a","name":"Merge","type":"n8n-nodes-base.merge","position":[-848,-1872],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3},{"id":"3443ddfc-46ca-45ce-afb1-2e969e15bcd9","name":"Set Topics","type":"n8n-nodes-base.set","position":[-1488,-2192],"parameters":{"options":{},"assignments":{"assignments":[{"id":"3da6558a-6372-44f9-8d5a-f18bfe6e1c16","name":"topics","type":"array","value":"['topic_1','topic_2','topic_3','topic_4','topic_5']"}]}},"typeVersion":3.4},{"id":"8020b78f-1d88-4a1d-80b9-134c328cf23e","name":"Merge1","type":"n8n-nodes-base.merge","position":[-1024,-2032],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"d5d46ad0-4ace-4a6f-a567-5eb04bf25695","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[-1264,-2192],"parameters":{"options":{},"fieldToSplitOut":"topics"},"typeVersion":1},{"id":"8d432631-9c23-4302-b916-9c2f99f36ece","name":"Switch","type":"n8n-nodes-base.switch","position":[-688,-1904],"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7081a8b9-aa72-4841-8392-908e2387acf9","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.topics }}","rightValue":"topic_1"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1b2472f8-0fb4-4812-bfd8-3a9417fab4a8","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.topics }}","rightValue":"topic_2"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6d0dad77-6120-441a-ae74-55c18a550a8a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.topics }}","rightValue":"topic_3"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5aff824d-531d-4134-b2a6-f694e1c1f8bf","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.topics }}","rightValue":"topic_4"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c80cc85a-2e2e-4cb2-9e62-dd8c4a48248d","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.topics }}","rightValue":"topic_5"}]}}]},"options":{}},"typeVersion":3.2},{"id":"88830a83-dc6d-4091-8231-ec8cce15ecdf","name":"OpenRouter Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[208,-1968],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"bfb0547f-f892-4beb-965d-d2013a82bf45","name":"Tavily","type":"n8n-nodes-base.httpRequest","position":[-224,-2224],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"fdSPJ7mObZhgRltA","name":"Header Auth account 6"}},"typeVersion":4.2},{"id":"d7a47444-1e6e-44d1-a94f-bd854d929a39","name":"Split Out2","type":"n8n-nodes-base.splitOut","position":[-32,-2224],"parameters":{"options":{},"fieldToSplitOut":"results"},"typeVersion":1},{"id":"d130e14c-4ec8-4913-93ad-9fad31ab3cc8","name":"Code","type":"n8n-nodes-base.code","position":[160,-2224],"parameters":{"jsCode":"// Create separate items for each URL with a number\n\n// Transform the input items to create numbered URLs\nreturn items.map((item, index) => {\n  return {\n    json: {\n      number: index + 1,\n      url: item.json.url,\n      // Optional: include a formatted numbered URL if needed\n      numberedUrl: `${index + 1}. ${item.json.url}`\n    }\n  };\n});"},"typeVersion":2},{"id":"c7daa3a4-53c7-4d51-9b6a-b35e846c4ff8","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[704,-2080],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"932a8d7b-b745-4425-880b-a1f179086c38","name":"Writer","type":"@n8n/n8n-nodes-langchain.agent","position":[384,-2080],"parameters":{"text":"=Title: {{ $('Split Out2').item.json.title }}\n\nResearch: \n{{ $('Split Out2').item.json.content }}\n\nSource:\n{{ $json.numberedUrl }}\n\nStyle Guide Example:\n{{ $('Switch').first().json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an advanced AI research assistant specializing in writing professional HTML reports based on a provided title, research, source, and a given style guide. Your task is to generate a fully formatted HTML report that is both visually appealing and structured according to professional writing standards.\n\n## Report Generation Guidelines\n1. Adherence to Style Guide\n- The report must strictly follow the provided HTML style guide, ensuring consistent styling, colors, fonts, padding, and layout.\n\n2. Structure & Formatting\n- The report should be well-structured and formatted in professional HTML.\n- Title (<h1>) – Provided as \"Title\"\n- Content Body – Fully formatted research content with proper sectioning (<h2>, <h3>, <p>).\n- Each section should be wrapped in a div styled according to the provided guide to ensure consistency.\n- Use <p> for paragraphs, <ul>/<ol> for lists, and <hr> to separate sections when necessary.\n- No Overview or Conclusion headers are necessary, just output a full report.\n- Horizontal Line (<hr>) should be used to separate sections for better visual clarity.\n\n3. Research-Based Content\n- Synthesize information logically and ensure the report is well-researched, factual, and professionally written.\n- Use informative writing. Provide as much detail as possible.\n- Maintain a logical progression of ideas, summarizing key points effectively.\n\n4. Source Attribution & Clickable Links\n- Use the number given in front of the source as the clickable attribute in the report.\n- Source links must be inline within the text using: <a href=\"SOURCE_URL\" target=\"_blank\">[1]</a>\n- Do not include a \"References\" section—instead, all sources should be embedded within the content.\n\n## Example Output Structure (Applying Style Guide)\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Research Report: [Title]</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 20px; }\n        h1, h2, h3 { color: #333; }\n        .report-section { background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333; margin-bottom: 10px; }\n    </style>\n</head>\n<body>\n\n    <div class=\"report-section\">\n        <h1>Research Report: [Title]</h1>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Introduction</h2>\n        <p>The connection between carrots and vision health has long been a subject of both scientific inquiry and popular wisdom. \n        From wartime propaganda to modern nutritional science, these vibrant orange vegetables have maintained their reputation as \n        nature's answer to eye health maintenance.</p>\n        <hr>\n        <p>This report systematically explores five key aspects of the carrot-vision relationship, including their nutritional profile, \n        beta-carotene's role, scientific studies, and comparative benefits with other eye-healthy vegetables.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Key Findings</h2>\n        <h3>Nutritional Composition</h3>\n        <p>Carrots contain high levels of vitamin A, antioxidants, and beta-carotene, which play a significant role in vision health \n        <a href=\"https://example.com\" target=\"_blank\">[1]</a>.</p>\n\n        <h3>Scientific Studies on Vision Benefits</h3>\n        <p>Recent studies have examined the link between carrot consumption and reduced risk of age-related eye diseases \n        <a href=\"https://example.com\" target=\"_blank\">[2]</a>.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Conclusion</h2>\n        <p>Based on extensive research, carrots do contribute positively to vision health due to their high beta-carotene content. \n        However, their benefits should be seen as part of a balanced diet rather than a standalone solution.</p>\n    </div>\n\n</body>\n</html>"},"promptType":"define"},"typeVersion":1.8},{"id":"dd819dd8-102e-45d3-9037-010f390cf980","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[704,-2224],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"numberedUrl"}]}},"typeVersion":1},{"id":"b32e0b03-fa02-441c-9c43-2e3ee1be0709","name":"Merge3","type":"n8n-nodes-base.merge","position":[880,-2208],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"e12338d6-625e-47df-b505-bc812bd6560b","name":"OpenRouter Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[208,-1472],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"075b3ff2-6e57-44a7-9103-9c01f1b66176","name":"Tavily1","type":"n8n-nodes-base.httpRequest","position":[-224,-1728],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"fdSPJ7mObZhgRltA","name":"Header Auth account 6"}},"typeVersion":4.2},{"id":"f02db98f-4b79-4938-afc7-73a0756b7476","name":"Split Out3","type":"n8n-nodes-base.splitOut","position":[-32,-1728],"parameters":{"options":{},"fieldToSplitOut":"results"},"typeVersion":1},{"id":"42fd1ad4-4b55-49cc-8a76-7c0869558de5","name":"Code1","type":"n8n-nodes-base.code","position":[176,-1728],"parameters":{"jsCode":"// Create separate items for each URL starting from number 6\n\n// Transform the input items to create numbered URLs\n// Start counting from 6 and increment by 1\nreturn items.map((item, index) => {\n  const number = index + 6; // Start at 6 instead of 1\n  \n  return {\n    json: {\n      number: number,\n      url: item.json.url,\n      numberedUrl: `${number}. ${item.json.url}`\n    }\n  };\n});"},"typeVersion":2},{"id":"f2dfc432-e1b9-4cea-8c6d-3afbc31c0a0d","name":"Aggregate2","type":"n8n-nodes-base.aggregate","position":[704,-1584],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"c0040301-ca32-41fb-860f-71a4d56c2d78","name":"Writer1","type":"@n8n/n8n-nodes-langchain.agent","position":[384,-1584],"parameters":{"text":"=Title: {{ $('Split Out3').item.json.title }}\n\nResearch: \n{{ $('Split Out3').item.json.content }}\n\nSource:\n{{ $json.numberedUrl }}\n\nStyle Guide Example:\n{{ $('Switch').first().json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an advanced AI research assistant specializing in writing professional HTML reports based on a provided title, research, source, and a given style guide. Your task is to generate a fully formatted HTML report that is both visually appealing and structured according to professional writing standards.\n\n## Report Generation Guidelines\n1. Adherence to Style Guide\n- The report must strictly follow the provided HTML style guide, ensuring consistent styling, colors, fonts, padding, and layout.\n\n2. Structure & Formatting\n- The report should be well-structured and formatted in professional HTML.\n- Title (<h1>) – Provided as \"Title\"\n- Content Body – Fully formatted research content with proper sectioning (<h2>, <h3>, <p>).\n- Each section should be wrapped in a div styled according to the provided guide to ensure consistency.\n- Use <p> for paragraphs, <ul>/<ol> for lists, and <hr> to separate sections when necessary.\n- No Overview or Conclusion headers are necessary, just output a full report.\n- Horizontal Line (<hr>) should be used to separate sections for better visual clarity.\n\n3. Research-Based Content\n- Synthesize information logically and ensure the report is well-researched, factual, and professionally written.\n- Use informative writing. Provide as much detail as possible.\n- Maintain a logical progression of ideas, summarizing key points effectively.\n\n4. Source Attribution & Clickable Links\n- Use the number given in front of the source as the clickable attribute in the report.\n- Source links must be inline within the text using: <a href=\"SOURCE_URL\" target=\"_blank\">[1]</a>\n- Do not include a \"References\" section—instead, all sources should be embedded within the content.\n\n## Example Output Structure (Applying Style Guide)\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Research Report: [Title]</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 20px; }\n        h1, h2, h3 { color: #333; }\n        .report-section { background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333; margin-bottom: 10px; }\n    </style>\n</head>\n<body>\n\n    <div class=\"report-section\">\n        <h1>Research Report: [Title]</h1>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Introduction</h2>\n        <p>The connection between carrots and vision health has long been a subject of both scientific inquiry and popular wisdom. \n        From wartime propaganda to modern nutritional science, these vibrant orange vegetables have maintained their reputation as \n        nature's answer to eye health maintenance.</p>\n        <hr>\n        <p>This report systematically explores five key aspects of the carrot-vision relationship, including their nutritional profile, \n        beta-carotene's role, scientific studies, and comparative benefits with other eye-healthy vegetables.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Key Findings</h2>\n        <h3>Nutritional Composition</h3>\n        <p>Carrots contain high levels of vitamin A, antioxidants, and beta-carotene, which play a significant role in vision health \n        <a href=\"https://example.com\" target=\"_blank\">[1]</a>.</p>\n\n        <h3>Scientific Studies on Vision Benefits</h3>\n        <p>Recent studies have examined the link between carrot consumption and reduced risk of age-related eye diseases \n        <a href=\"https://example.com\" target=\"_blank\">[2]</a>.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Conclusion</h2>\n        <p>Based on extensive research, carrots do contribute positively to vision health due to their high beta-carotene content. \n        However, their benefits should be seen as part of a balanced diet rather than a standalone solution.</p>\n    </div>\n\n</body>\n</html>"},"promptType":"define"},"typeVersion":1.8},{"id":"e3d84887-a15e-42eb-b377-c1340dca4fb8","name":"Aggregate3","type":"n8n-nodes-base.aggregate","position":[704,-1728],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"numberedUrl"}]}},"typeVersion":1},{"id":"f16f6b49-3cb6-4119-b635-77a54c905e2a","name":"Merge4","type":"n8n-nodes-base.merge","position":[880,-1712],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"38898049-1837-4055-9bb5-fe1240d44f49","name":"OpenRouter Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[208,-944],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"25c4cd7e-37de-435c-8e35-84560be7542f","name":"Tavily2","type":"n8n-nodes-base.httpRequest","position":[-224,-1200],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"fdSPJ7mObZhgRltA","name":"Header Auth account 6"}},"typeVersion":4.2},{"id":"06d40934-f83c-410f-bcd2-5d08e3366596","name":"Split Out4","type":"n8n-nodes-base.splitOut","position":[-32,-1200],"parameters":{"options":{},"fieldToSplitOut":"results"},"typeVersion":1},{"id":"8c405fb9-76da-45c7-8884-217e49ea67ac","name":"Code2","type":"n8n-nodes-base.code","position":[176,-1200],"parameters":{"jsCode":"// Create separate items for each URL starting from number 6\n\n// Transform the input items to create numbered URLs\n// Start counting from 6 and increment by 1\nreturn items.map((item, index) => {\n  const number = index + 11; // Start at 6 instead of 1\n  \n  return {\n    json: {\n      number: number,\n      url: item.json.url,\n      numberedUrl: `${number}. ${item.json.url}`\n    }\n  };\n});"},"typeVersion":2},{"id":"fa772384-e889-4664-958c-6a0797cc7b8f","name":"Aggregate4","type":"n8n-nodes-base.aggregate","position":[704,-1072],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"805fbd97-7322-4d5c-9ec4-8be2b646acad","name":"Writer2","type":"@n8n/n8n-nodes-langchain.agent","position":[368,-1072],"parameters":{"text":"=Title: {{ $('Split Out4').item.json.title }}\n\nResearch: \n{{ $('Split Out4').item.json.content }}\n\nSource:\n{{ $json.numberedUrl }}\n\nStyle Guide Example:\n{{ $('Switch').first().json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an advanced AI research assistant specializing in writing professional HTML reports based on a provided title, research, source, and a given style guide. Your task is to generate a fully formatted HTML report that is both visually appealing and structured according to professional writing standards.\n\n## Report Generation Guidelines\n1. Adherence to Style Guide\n- The report must strictly follow the provided HTML style guide, ensuring consistent styling, colors, fonts, padding, and layout.\n\n2. Structure & Formatting\n- The report should be well-structured and formatted in professional HTML.\n- Title (<h1>) – Provided as \"Title\"\n- Content Body – Fully formatted research content with proper sectioning (<h2>, <h3>, <p>).\n- Each section should be wrapped in a div styled according to the provided guide to ensure consistency.\n- Use <p> for paragraphs, <ul>/<ol> for lists, and <hr> to separate sections when necessary.\n- No Overview or Conclusion headers are necessary, just output a full report.\n- Horizontal Line (<hr>) should be used to separate sections for better visual clarity.\n\n3. Research-Based Content\n- Synthesize information logically and ensure the report is well-researched, factual, and professionally written.\n- Use informative writing. Provide as much detail as possible.\n- Maintain a logical progression of ideas, summarizing key points effectively.\n\n4. Source Attribution & Clickable Links\n- Use the number given in front of the source as the clickable attribute in the report.\n- Source links must be inline within the text using: <a href=\"SOURCE_URL\" target=\"_blank\">[1]</a>\n- Do not include a \"References\" section—instead, all sources should be embedded within the content.\n\n## Example Output Structure (Applying Style Guide)\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Research Report: [Title]</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 20px; }\n        h1, h2, h3 { color: #333; }\n        .report-section { background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333; margin-bottom: 10px; }\n    </style>\n</head>\n<body>\n\n    <div class=\"report-section\">\n        <h1>Research Report: [Title]</h1>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Introduction</h2>\n        <p>The connection between carrots and vision health has long been a subject of both scientific inquiry and popular wisdom. \n        From wartime propaganda to modern nutritional science, these vibrant orange vegetables have maintained their reputation as \n        nature's answer to eye health maintenance.</p>\n        <hr>\n        <p>This report systematically explores five key aspects of the carrot-vision relationship, including their nutritional profile, \n        beta-carotene's role, scientific studies, and comparative benefits with other eye-healthy vegetables.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Key Findings</h2>\n        <h3>Nutritional Composition</h3>\n        <p>Carrots contain high levels of vitamin A, antioxidants, and beta-carotene, which play a significant role in vision health \n        <a href=\"https://example.com\" target=\"_blank\">[1]</a>.</p>\n\n        <h3>Scientific Studies on Vision Benefits</h3>\n        <p>Recent studies have examined the link between carrot consumption and reduced risk of age-related eye diseases \n        <a href=\"https://example.com\" target=\"_blank\">[2]</a>.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Conclusion</h2>\n        <p>Based on extensive research, carrots do contribute positively to vision health due to their high beta-carotene content. \n        However, their benefits should be seen as part of a balanced diet rather than a standalone solution.</p>\n    </div>\n\n</body>\n</html>"},"promptType":"define"},"typeVersion":1.8},{"id":"c4e3dc1f-865d-415b-a677-f7d75f2272ac","name":"Aggregate5","type":"n8n-nodes-base.aggregate","position":[704,-1200],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"numberedUrl"}]}},"typeVersion":1},{"id":"f18bbf4a-343a-4b97-803f-50046f2df3ab","name":"Merge5","type":"n8n-nodes-base.merge","position":[880,-1184],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"29f1fa6c-9a59-48fa-995a-2073f3dec284","name":"OpenRouter Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[224,-448],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"5c8477fa-2d16-4884-8aee-3603474cd3e7","name":"Tavily3","type":"n8n-nodes-base.httpRequest","position":[-224,-704],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"fdSPJ7mObZhgRltA","name":"Header Auth account 6"}},"typeVersion":4.2},{"id":"56a0f3d8-ec18-4417-8496-eae7003abfc9","name":"Split Out5","type":"n8n-nodes-base.splitOut","position":[-32,-704],"parameters":{"options":{},"fieldToSplitOut":"results"},"typeVersion":1},{"id":"0a458568-44cb-4323-a990-63bab3bd358c","name":"Code3","type":"n8n-nodes-base.code","position":[176,-704],"parameters":{"jsCode":"// Create separate items for each URL starting from number 6\n\n// Transform the input items to create numbered URLs\n// Start counting from 6 and increment by 1\nreturn items.map((item, index) => {\n  const number = index + 16; // Start at 6 instead of 1\n  \n  return {\n    json: {\n      number: number,\n      url: item.json.url,\n      numberedUrl: `${number}. ${item.json.url}`\n    }\n  };\n});"},"typeVersion":2},{"id":"df571eb0-0101-4256-aad8-eeed2143048a","name":"Aggregate6","type":"n8n-nodes-base.aggregate","position":[704,-560],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"dd11220d-3dcd-460a-b7d2-d5a6c8cdc03a","name":"Writer3","type":"@n8n/n8n-nodes-langchain.agent","position":[384,-560],"parameters":{"text":"=Title: {{ $('Split Out5').item.json.title }}\n\nResearch: \n{{ $('Split Out5').item.json.content }}\n\nSource:\n{{ $json.numberedUrl }}\n\nStyle Guide Example:\n{{ $('Switch').first().json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an advanced AI research assistant specializing in writing professional HTML reports based on a provided title, research, source, and a given style guide. Your task is to generate a fully formatted HTML report that is both visually appealing and structured according to professional writing standards.\n\n## Report Generation Guidelines\n1. Adherence to Style Guide\n- The report must strictly follow the provided HTML style guide, ensuring consistent styling, colors, fonts, padding, and layout.\n\n2. Structure & Formatting\n- The report should be well-structured and formatted in professional HTML.\n- Title (<h1>) – Provided as \"Title\"\n- Content Body – Fully formatted research content with proper sectioning (<h2>, <h3>, <p>).\n- Each section should be wrapped in a div styled according to the provided guide to ensure consistency.\n- Use <p> for paragraphs, <ul>/<ol> for lists, and <hr> to separate sections when necessary.\n- No Overview or Conclusion headers are necessary, just output a full report.\n- Horizontal Line (<hr>) should be used to separate sections for better visual clarity.\n\n3. Research-Based Content\n- Synthesize information logically and ensure the report is well-researched, factual, and professionally written.\n- Use informative writing. Provide as much detail as possible.\n- Maintain a logical progression of ideas, summarizing key points effectively.\n\n4. Source Attribution & Clickable Links\n- Use the number given in front of the source as the clickable attribute in the report.\n- Source links must be inline within the text using: <a href=\"SOURCE_URL\" target=\"_blank\">[1]</a>\n- Do not include a \"References\" section—instead, all sources should be embedded within the content.\n\n## Example Output Structure (Applying Style Guide)\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Research Report: [Title]</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 20px; }\n        h1, h2, h3 { color: #333; }\n        .report-section { background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333; margin-bottom: 10px; }\n    </style>\n</head>\n<body>\n\n    <div class=\"report-section\">\n        <h1>Research Report: [Title]</h1>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Introduction</h2>\n        <p>The connection between carrots and vision health has long been a subject of both scientific inquiry and popular wisdom. \n        From wartime propaganda to modern nutritional science, these vibrant orange vegetables have maintained their reputation as \n        nature's answer to eye health maintenance.</p>\n        <hr>\n        <p>This report systematically explores five key aspects of the carrot-vision relationship, including their nutritional profile, \n        beta-carotene's role, scientific studies, and comparative benefits with other eye-healthy vegetables.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Key Findings</h2>\n        <h3>Nutritional Composition</h3>\n        <p>Carrots contain high levels of vitamin A, antioxidants, and beta-carotene, which play a significant role in vision health \n        <a href=\"https://example.com\" target=\"_blank\">[1]</a>.</p>\n\n        <h3>Scientific Studies on Vision Benefits</h3>\n        <p>Recent studies have examined the link between carrot consumption and reduced risk of age-related eye diseases \n        <a href=\"https://example.com\" target=\"_blank\">[2]</a>.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Conclusion</h2>\n        <p>Based on extensive research, carrots do contribute positively to vision health due to their high beta-carotene content. \n        However, their benefits should be seen as part of a balanced diet rather than a standalone solution.</p>\n    </div>\n\n</body>\n</html>"},"promptType":"define"},"typeVersion":1.8},{"id":"45deaf8d-2814-46e2-bfc9-adf49400d9ab","name":"Aggregate7","type":"n8n-nodes-base.aggregate","position":[704,-704],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"numberedUrl"}]}},"typeVersion":1},{"id":"2633b214-8499-4e89-b74f-b944af8494b0","name":"Merge6","type":"n8n-nodes-base.merge","position":[880,-688],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"c97f0aa6-c45a-419d-ab5d-ba97e23d01d1","name":"OpenRouter Chat Model6","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[224,64],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"d4da6069-b104-41b7-8b58-c544bb36330e","name":"Tavily4","type":"n8n-nodes-base.httpRequest","position":[-224,-208],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}","sendBody":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"fdSPJ7mObZhgRltA","name":"Header Auth account 6"}},"typeVersion":4.2},{"id":"3a3ea209-0472-4b7a-913a-a6e2ff6ef7a1","name":"Split Out6","type":"n8n-nodes-base.splitOut","position":[-32,-208],"parameters":{"options":{},"fieldToSplitOut":"results"},"typeVersion":1},{"id":"9cb3a401-3571-46ff-afdf-f7716a65af9e","name":"Code4","type":"n8n-nodes-base.code","position":[176,-208],"parameters":{"jsCode":"// Create separate items for each URL starting from number 6\n\n// Transform the input items to create numbered URLs\n// Start counting from 6 and increment by 1\nreturn items.map((item, index) => {\n  const number = index + 21; // Start at 6 instead of 1\n  \n  return {\n    json: {\n      number: number,\n      url: item.json.url,\n      numberedUrl: `${number}. ${item.json.url}`\n    }\n  };\n});"},"typeVersion":2},{"id":"db1d9239-0638-4111-9076-5f8851b46ed8","name":"Aggregate8","type":"n8n-nodes-base.aggregate","position":[704,-64],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"c524fd07-6d03-456d-b8c4-8897437d2672","name":"Writer4","type":"@n8n/n8n-nodes-langchain.agent","position":[368,-64],"parameters":{"text":"=Title: {{ $('Split Out6').item.json.title }}\n\nResearch: \n{{ $('Split Out6').item.json.content }}\n\nSource:\n{{ $json.numberedUrl }}\n\nStyle Guide Example:\n{{ $('Switch').first().json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an advanced AI research assistant specializing in writing professional HTML reports based on a provided title, research, source, and a given style guide. Your task is to generate a fully formatted HTML report that is both visually appealing and structured according to professional writing standards.\n\n## Report Generation Guidelines\n1. Adherence to Style Guide\n- The report must strictly follow the provided HTML style guide, ensuring consistent styling, colors, fonts, padding, and layout.\n\n2. Structure & Formatting\n- The report should be well-structured and formatted in professional HTML.\n- Title (<h1>) – Provided as \"Title\"\n- Content Body – Fully formatted research content with proper sectioning (<h2>, <h3>, <p>).\n- Each section should be wrapped in a div styled according to the provided guide to ensure consistency.\n- Use <p> for paragraphs, <ul>/<ol> for lists, and <hr> to separate sections when necessary.\n- No Overview or Conclusion headers are necessary, just output a full report.\n- Horizontal Line (<hr>) should be used to separate sections for better visual clarity.\n\n3. Research-Based Content\n- Synthesize information logically and ensure the report is well-researched, factual, and professionally written.\n- Use informative writing. Provide as much detail as possible.\n- Maintain a logical progression of ideas, summarizing key points effectively.\n\n4. Source Attribution & Clickable Links\n- Use the number given in front of the source as the clickable attribute in the report.\n- Source links must be inline within the text using: <a href=\"SOURCE_URL\" target=\"_blank\">[1]</a>\n- Do not include a \"References\" section—instead, all sources should be embedded within the content.\n\n## Example Output Structure (Applying Style Guide)\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Research Report: [Title]</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 20px; }\n        h1, h2, h3 { color: #333; }\n        .report-section { background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333; margin-bottom: 10px; }\n    </style>\n</head>\n<body>\n\n    <div class=\"report-section\">\n        <h1>Research Report: [Title]</h1>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Introduction</h2>\n        <p>The connection between carrots and vision health has long been a subject of both scientific inquiry and popular wisdom. \n        From wartime propaganda to modern nutritional science, these vibrant orange vegetables have maintained their reputation as \n        nature's answer to eye health maintenance.</p>\n        <hr>\n        <p>This report systematically explores five key aspects of the carrot-vision relationship, including their nutritional profile, \n        beta-carotene's role, scientific studies, and comparative benefits with other eye-healthy vegetables.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Key Findings</h2>\n        <h3>Nutritional Composition</h3>\n        <p>Carrots contain high levels of vitamin A, antioxidants, and beta-carotene, which play a significant role in vision health \n        <a href=\"https://example.com\" target=\"_blank\">[1]</a>.</p>\n\n        <h3>Scientific Studies on Vision Benefits</h3>\n        <p>Recent studies have examined the link between carrot consumption and reduced risk of age-related eye diseases \n        <a href=\"https://example.com\" target=\"_blank\">[2]</a>.</p>\n    </div>\n\n    <div class=\"report-section\">\n        <h2>Conclusion</h2>\n        <p>Based on extensive research, carrots do contribute positively to vision health due to their high beta-carotene content. \n        However, their benefits should be seen as part of a balanced diet rather than a standalone solution.</p>\n    </div>\n\n</body>\n</html>"},"promptType":"define"},"typeVersion":1.8},{"id":"41e5c6a2-40f4-48e1-bbb4-9207c12c5e9e","name":"Aggregate9","type":"n8n-nodes-base.aggregate","position":[704,-208],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"numberedUrl"}]}},"typeVersion":1},{"id":"84eb60b2-67bd-47d4-90c2-58540a04e24b","name":"Merge7","type":"n8n-nodes-base.merge","position":[880,-192],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3},{"id":"9268414e-9806-4280-8858-05d2e8b3c95a","name":"Get Sources","type":"n8n-nodes-base.googleSheets","position":[2304,-2240],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('On form submission').first().json['Search Topic'] }}","lookupColumn":"Search Topic"}]},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"df8c73e4-df17-48cd-a61e-977d3061afe5","name":"Limit","type":"n8n-nodes-base.limit","position":[2096,-2240],"parameters":{},"typeVersion":1},{"id":"6c336cc0-3b84-4808-b751-132cb3a3a608","name":"OpenRouter Chat Model7","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[3296,-1952],"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"credentials":{"openRouterApi":{"id":"9RQTLfKBqaaua57R","name":"OpenRouter account"}},"typeVersion":1},{"id":"9df34315-65cd-43dd-b410-bce0683fd019","name":"Sources","type":"@n8n/n8n-nodes-langchain.agent","position":[2496,-2240],"parameters":{"text":"=Sources\n{{ $json['Topic 1 Sources'] }}\n{{ $json['Topic 2 Sources'] }}\n{{ $json['Topic 3 Sources'] }}\n{{ $json['Topic 4 Sources'] }}\n{{ $json['Topic 5 Sources'] }}","options":{"systemMessage":"=# Overview\nYou are an AI assistant specializing in generating well-formatted HTML source sections for research reports. You will be given a list of sources, each with an associated number. Your task is to generate an HTML-formatted \"Sources\" section where:\n1) Each source is displayed with its original number in brackets [ ].\n2) Each source is a clickable hyperlink that opens in a new tab when clicked.\n3) The list is structured in an ordered format (<ul> or <ol>) for clarity and readability.\n\n## Formatting Guidelines:\n- The section title should be <h2>Sources</h2>.\n- Use an unordered list (<ul>) to display the sources.\n- Each source should be in the format:\n<li><a href=\"SOURCE_URL\" target=\"_blank\">[NUMBER] Source Title</a></li>\nThe original numbering of the sources must be preserved.\n\n## Example Output Structure:\n<div class=\"sources-section\">\n    <h2>Sources</h2>\n    <ul>\n        <li><a href=\"https://example1.com\" target=\"_blank\">[1] Research on AI Development</a></li>\n        <li><a href=\"https://example2.com\" target=\"_blank\">[2] The Impact of Automation</a></li>\n        <li><a href=\"https://example3.com\" target=\"_blank\">[3] Machine Learning Trends</a></li>\n    </ul>\n</div>"},"promptType":"define"},"typeVersion":1.8},{"id":"24027afe-982a-4ea3-bc5f-41d6e063eabd","name":"Send Sources","type":"n8n-nodes-base.googleSheets","position":[2816,-2240],"parameters":{"columns":{"value":{"Sources":"={{ $json.output }}","Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"7c32f3c0-e51f-49e7-b35f-55ab23981775","name":"Get All Content","type":"n8n-nodes-base.googleSheets","position":[3024,-2240],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('On form submission').first().json['Search Topic'] }}","lookupColumn":"Search Topic"}]},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5},{"id":"5a5312e3-0a88-47c7-88bc-d438eb6be7e3","name":"Combine Content","type":"n8n-nodes-base.code","position":[2816,-1984],"parameters":{"jsCode":"// N8N Code Node to combine multiple fields into a single field with new lines\n\n// This code expects the input item to have the following fields:\n// - Title\n// - Introduction\n// - ToC (Table of Contents)\n// - Chapter 1\n// - Topic 1 Content\n// - Chapter 2\n// - Topic 2 Content\n// - Chapter 3\n// - Topic 3 Content\n// - Chapter 4\n// - Topic 4 Content\n// - Chapter 5\n// - Topic 5 Content\n// - Sources\n\n// Access the incoming data\nconst item = items[0];\n\n// Create a new field called \"CombinedContent\" that joins all fields with newlines\nconst combinedContent = [\n  item.json.Title || '',\n  item.json.Introduction || '',\n  item.json.ToC || '',\n  item.json['Chapter 1'] || '',\n  item.json['Topic 1 Content'] || '',\n  item.json['Chapter 2'] || '',\n  item.json['Topic 2 Content'] || '',\n  item.json['Chapter 3'] || '',\n  item.json['Topic 3 Content'] || '',\n  item.json['Chapter 4'] || '',\n  item.json['Topic 4 Content'] || '',\n  item.json['Chapter 5'] || '',\n  item.json['Topic 5 Content'] || '',\n  item.json.Sources || ''\n].join('\\n\\n');\n\n// Add the combined content to the item\nitem.json.CombinedContent = combinedContent;\n\n// Return the modified item\nreturn [item];"},"typeVersion":2},{"id":"348253b8-d380-4170-9326-862f11fc02ff","name":"Download PDF","type":"n8n-nodes-base.httpRequest","position":[2256,-1744],"parameters":{"url":"={{ $json.download_url }}","options":{}},"typeVersion":4.2},{"id":"7ba6242d-d28f-4ccd-9a51-e0d08cb0776c","name":"Merge2","type":"n8n-nodes-base.merge","position":[1840,-2192],"parameters":{"numberInputs":5},"typeVersion":3},{"id":"48b7b72f-378c-4790-b9b4-879458369cfc","name":"Send Report","type":"n8n-nodes-base.gmail","position":[2464,-1744],"webhookId":"e066c2ef-6c8c-413e-a70e-05c88f29b9f6","parameters":{"sendTo":"={{ $('On form submission').first().json.Email }}","message":"=Your Deep Research Report on {{ $('On form submission').first().json['Search Topic'] }} is complete.\n\nYou can find it attached below.","options":{"attachmentsUi":{"attachmentsBinary":[{}]},"appendAttribution":false},"subject":"=Deep Research Report: {{ $('On form submission').first().json['Search Topic'] }}","emailType":"text"},"credentials":{"gmailOAuth2":{"id":"b5jAxaSQXRCmjZga","name":"Gmail account 2"}},"typeVersion":2.1},{"id":"63384485-bf76-4cc4-878d-21df4ac4794f","name":"HTML","type":"n8n-nodes-base.html","position":[1040,-2208],"parameters":{"options":{},"operation":"extractHtmlContent","dataPropertyName":"output","extractionValues":{"values":[{"key":"section","cssSelector":"title"}]}},"typeVersion":1.2},{"id":"2157c997-e837-4407-b5a1-8c4bd28e9db0","name":"Combine","type":"n8n-nodes-base.code","position":[1200,-2208],"parameters":{"jsCode":"return [{\n  sections: $input.all().map(item => item.json.section)\n}];\n"},"typeVersion":2},{"id":"bd07db87-4514-4ba6-94b4-51abd1af8080","name":"HTML1","type":"n8n-nodes-base.html","position":[1040,-1712],"parameters":{"options":{},"operation":"extractHtmlContent","dataPropertyName":"output","extractionValues":{"values":[{"key":"section","cssSelector":"title"}]}},"typeVersion":1.2},{"id":"176fd445-b520-4aab-81d4-43a226cc3cb7","name":"Combine1","type":"n8n-nodes-base.code","position":[1200,-1712],"parameters":{"jsCode":"return [{\n  sections: $input.all().map(item => item.json.section)\n}];\n"},"typeVersion":2},{"id":"494607b9-5162-4127-92bd-4abc5105bda3","name":"HTML2","type":"n8n-nodes-base.html","position":[1040,-1184],"parameters":{"options":{},"operation":"extractHtmlContent","dataPropertyName":"output","extractionValues":{"values":[{"key":"section","cssSelector":"title"}]}},"typeVersion":1.2},{"id":"a3fc33be-d61e-4e13-91b3-a8ec046b904a","name":"Combine2","type":"n8n-nodes-base.code","position":[1200,-1184],"parameters":{"jsCode":"return [{\n  sections: $input.all().map(item => item.json.section)\n}];\n"},"typeVersion":2},{"id":"84e587de-0c1f-4cda-8dd6-dc766c013893","name":"HTML3","type":"n8n-nodes-base.html","position":[1040,-688],"parameters":{"options":{},"operation":"extractHtmlContent","dataPropertyName":"output","extractionValues":{"values":[{"key":"section","cssSelector":"title"}]}},"typeVersion":1.2},{"id":"e787a786-a5c7-47c7-a333-116d29fc16bb","name":"Combine3","type":"n8n-nodes-base.code","position":[1200,-688],"parameters":{"jsCode":"return [{\n  sections: $input.all().map(item => item.json.section)\n}];\n"},"typeVersion":2},{"id":"ce86101a-8c35-4c5f-ab48-1c6ec628fe3a","name":"HTML4","type":"n8n-nodes-base.html","position":[1040,-192],"parameters":{"options":{},"operation":"extractHtmlContent","dataPropertyName":"output","extractionValues":{"values":[{"key":"section","cssSelector":"title"}]}},"typeVersion":1.2},{"id":"0f088b37-8f61-4cb5-8f05-be93021d3883","name":"Combine4","type":"n8n-nodes-base.code","position":[1200,-192],"parameters":{"jsCode":"return [{\n  sections: $input.all().map(item => item.json.section)\n}];\n"},"typeVersion":2},{"id":"82adcd43-9554-434f-b6c4-882bb13a8540","name":"Table of Contents","type":"@n8n/n8n-nodes-langchain.agent","position":[2064,-1984],"parameters":{"text":"=Chapter 1: {{ $('Plan Topics').first().json.output.topic_1 }}\nSections:\n{{ $json['Topic 1 Sections']}}\n\nChapter 2: {{ $('Plan Topics').first().json.output.topic_2 }}\nSections:\n{{ $json['Topic 2 Sections'] }}\n\nChapter 3: {{ $('Plan Topics').first().json.output.topic_3 }}\nSections:\n{{ $json['Topic 3 Sections'] }}\n\nChapter 4: {{ $('Plan Topics').first().json.output.topic_4 }}\nSections:\n{{ $json['Topic 4 Sections'] }}\n\nChapter 5: {{ $('Plan Topics').first().json.output.topic_5 }}\nSections:\n{{ $json['Topic 5 Sections'] }}\n\nStyle Guide:\n{{ $json.Introduction }}","options":{"systemMessage":"=# Overview\nYou are an AI assistant tasked with creating a structured Table of Contents (ToC) in professional HTML formatting for a research report. Your output must follow the provided style guide and be clean, readable, and well-structured.\n\n## Guidelines\n1) Format Chapters as <h2> Elements\n- Each chapter should be a distinct <h2> heading.\n2) Format Sections as an Ordered List (<ol>)\n- Each section under a chapter should be a list item (<li>) inside an <ol>.\n- Maintain clear hierarchy and indentation for readability.\n3) Apply Given Style Guide\n- Wrap the ToC in a <div> with the same padding, font size, and color as the style guide.\n- Add a horizontal rule (<hr>) for separation.\n\n## Example Output\n\n<div style=\"background-color: #f4f4f4; padding: 20px; font-size: 16px; line-height: 1.6; color: #333;\">\n    <h2>Table of Contents</h2>\n    <hr>\n    <ol>\n        <li>\n            <h2>Chapter 1: Introduction</h2>\n            <ol>\n                <li>Background and Importance</li>\n                <li>Research Goals</li>\n            </ol>\n        </li>\n        <li>\n            <h2>Chapter 2: Nutritional Science of Carrots</h2>\n            <ol>\n                <li>Vitamin A and Vision Health</li>\n                <li>Antioxidants in Carrots</li>\n                <li>Other Essential Nutrients</li>\n            </ol>\n        </li>\n    </ol>\n</div>"},"promptType":"define"},"typeVersion":1.8},{"id":"db8a6c80-6c83-4627-ba82-bd85da24acfb","name":"Send ToC","type":"n8n-nodes-base.googleSheets","position":[2416,-1984],"parameters":{"columns":{"value":{"ToC":"={{ $json.output }}","Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"ToC","type":"string","display":true,"required":false,"displayName":"ToC","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5},{"id":"f1dc2dbe-e589-40b2-a947-54bfe00ef916","name":"Send Intro","type":"n8n-nodes-base.googleSheets","position":[-1152,-1840],"parameters":{"columns":{"value":{"Title":"={{ $json.output.title }}","Chapter 1":"={{ $json.output.chapter_1 }}","Chapter 2":"={{ $json.output.chapter_2 }}","Chapter 3":"={{ $json.output.chapter_3 }}","Chapter 4":"={{ $json.output.chapter_4 }}","Chapter 5":"={{ $json.output.chapter_5 }}","Introduction":"={{ $json.output.introduction }}","Search Topic":"={{ $('On form submission').item.json['Search Topic'] }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Chapter 1","type":"string","display":true,"removed":false,"required":false,"displayName":"Chapter 1","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Chapter 2","type":"string","display":true,"removed":false,"required":false,"displayName":"Chapter 2","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Chapter 3","type":"string","display":true,"removed":false,"required":false,"displayName":"Chapter 3","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Chapter 4","type":"string","display":true,"removed":false,"required":false,"displayName":"Chapter 4","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Chapter 5","type":"string","display":true,"removed":false,"required":false,"displayName":"Chapter 5","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"ToC","type":"string","display":true,"removed":true,"required":false,"displayName":"ToC","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"SxEqEZVJmzxA5dcu","name":"Google Sheets account"}},"typeVersion":4.5},{"id":"a8ac3014-a6d0-4ca8-9dae-f4c8d949e319","name":"Title, Intro, Chapters","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1280,-1600],"parameters":{"jsonSchemaExample":"{\n  \"title\": \"<Generated Report Title>\",\n  \"introduction\": \"<Generated Introduction>\",\n  \"chapter_1\": \"<h2>Chapter 1: [Title]</h2>\",\n  \"chapter_2\": \"<h2>Chapter 2: [Title]</h2>\",\n  \"chapter_3\": \"<h2>Chapter 3: [Title]</h2>\",\n  \"chapter_4\": \"<h2>Chapter 4: [Title]</h2>\",\n  \"chapter_5\": \"<h2>Chapter 5: [Title]</h2>\"\n}\n"},"typeVersion":1.2},{"id":"a35a581e-1b26-4970-9113-24f04f701571","name":"Get All Content1","type":"n8n-nodes-base.googleSheets","position":[2608,-1984],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('On form submission').first().json['Search Topic'] }}","lookupColumn":"Search Topic"}]},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5},{"id":"8a594a79-0aad-4b2f-ac9c-5edd597a9aee","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2352,-2288],"parameters":{"color":4,"width":1800,"height":1000,"content":"# Planning Stage\n"},"typeVersion":1},{"id":"1e4a7b23-2504-40bd-b046-9e78344c6b00","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-480,-2320],"parameters":{"color":5,"width":2140,"height":500,"content":"# Chapter 1\n"},"typeVersion":1},{"id":"0e1eb8a3-6d8b-4ae2-a621-89161b63ae50","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-480,-1808],"parameters":{"width":2140,"height":480,"content":"# Chapter 2\n"},"typeVersion":1},{"id":"e9f838e5-9557-4d7d-be3c-991df6020f38","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-480,-1312],"parameters":{"color":5,"width":2140,"height":500,"content":"# Chapter 3\n"},"typeVersion":1},{"id":"50c2cca3-f33b-49d2-9d62-696c710b6ac7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-480,-784],"parameters":{"width":2140,"height":480,"content":"# Chapter 4\n"},"typeVersion":1},{"id":"a18eef6a-eb75-4db0-964e-40b179eda264","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-480,-288],"parameters":{"color":5,"width":2140,"height":500,"content":"# Chapter 5\n"},"typeVersion":1},{"id":"c4192a36-6eef-46c2-9ae5-89a79d0a8348","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1680,-2320],"parameters":{"color":4,"width":1580,"height":500,"content":"# Finalize Content"},"typeVersion":1},{"id":"fdb5a0f4-22a8-4f96-ad0d-7c43599f4935","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1680,-1808],"parameters":{"color":6,"width":1080,"height":240,"content":"# Generate PDF"},"typeVersion":1},{"id":"8d1e3b96-8738-42d3-b37b-0d3d3081efc9","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-480,-3024],"parameters":{"width":620,"height":660,"content":"## 🛠️ SETUP GUIDE\n\n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\n### 1️⃣ Google Sheet Template  \n[📄 Google Sheet Template](https://docs.google.com/spreadsheets/d/16WekkajqKqMAwrERVjQo2XdzhKCU7QcprfasZnyK0CA/edit?usp=sharing)  \n- Make a copy of the sheet.  \n- Rename it to match the node, or modify the node to link to your sheet.\n\n### 2️⃣ Tavily API  \n[🌐 Tavily](https://tavily.com/)  \n- Sign up and get an API key.  \n- Connect your API key in the **5 Tavily HTTP Request nodes**.  \n- Add this header parameter:  Authorization: Bearer <your_token>\n\n\n### 3️⃣ API Template.io  \n[🖨️ API Template.io](https://apitemplate.io/?via=eleanor&gad_source=1&gclid=Cj0KCQjw16O_BhDNARIsAC3i2GDBxOF8j_cmtcTke-dIcypdwLuGT2ijr4vDnR4U7vcMDeGBRoAJntkaAvYnEALw_wcB)  \n- Get an API key.  \n- Connect your account in the **HTTP Request Node** that generates a PDF.  \n\n\n### 4️⃣ OpenRouter  \n[🤖 OpenRouter](https://openrouter.ai/)  \n- Sign up and get an API key.  \n- Make sure you have credits in your account.  \n- Connect your account in **all OpenRouter chat models** (under each agent).  \n"},"typeVersion":1},{"id":"35680b40-1685-49aa-a20e-9bd334d0ec54","name":"Generate PDF","type":"n8n-nodes-base.httpRequest","position":[2080,-1744],"parameters":{"url":"https://rest-us.apitemplate.io/v2/create-pdf-from-html","method":"POST","options":{},"jsonBody":"={\n  \"body\": \"{{$json[\"CombinedContent\"].replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"css\": \"<style>.bg{background: red};</style>\",\n  \"data\": {\n    \"name\": \"This is a title\"\n  },\n  \"settings\": {\n    \"paper_size\": \"A4\",\n    \"orientation\": \"1\",\n    \"header_font_size\": \"9px\",\n    \"margin_top\": \"40\",\n    \"margin_right\": \"10\",\n    \"margin_bottom\": \"40\",\n    \"margin_left\": \"10\",\n    \"print_background\": \"1\",\n    \"displayHeaderFooter\": true,\n    \"custom_header\": \"<style>#header, #footer { padding: 0 !important; }</style>\\n<table style=\\\"width: 100%; padding: 0px 5px;margin: 0px!important;font-size: 8px\\\">\\n  <tr>\\n    <td style=\\\"text-align:left; width:30%!important;\\\"><span class=\\\"date\\\"></span></td>\\n    <td style=\\\"text-align:center; width:30%!important;\\\"><span class=\\\"pageNumber\\\"></span></td>\\n    <td style=\\\"text-align:right; width:30%!important;\\\"><span class=\\\"totalPages\\\"></span></td>\\n  </tr>\\n</table>\",\n    \"custom_footer\": \"<style>#header, #footer { padding: 0 !important; }</style>\\n<table style=\\\"width: 100%; padding: 0px 5px;margin: 0px!important;font-size: 8px\\\">\\n  <tr>\\n    <td style=\\\"text-align:left; width:30%!important;\\\"><span class=\\\"date\\\"></span></td>\\n    <td style=\\\"text-align:center; width:30%!important;\\\"><span class=\\\"pageNumber\\\"></span></td>\\n    <td style=\\\"text-align:right; width:30%!important;\\\"><span class=\\\"totalPages\\\"></span></td>\\n  </tr>\\n</table>\"\n  }\n}","sendBody":true,"sendQuery":true,"specifyBody":"json","authentication":"predefinedCredentialType","queryParameters":{"parameters":[{"name":"filename","value":"={{ $('On form submission').first().json['Search Topic'] }}.pdf"}]},"nodeCredentialType":"apiTemplateIoApi"},"credentials":{"apiTemplateIoApi":{"id":"WYRjJ4Z6RNDa5AcB","name":"APITemplate.io account"}},"typeVersion":4.2},{"id":"5d0bb02b-00ad-4e35-841a-48667495babb","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-480,-3120],"parameters":{"color":6,"width":500,"height":80,"content":"# Nate Herk | AI Automation"},"typeVersion":1},{"id":"8e1ff501-00f1-4b92-9048-f7a7b1bec88f","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-2032,-1600],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"ad393b8d-35e7-4391-bfeb-54beac281688","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-1488,-1600],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"309879ea-cb72-4578-8d17-2fbe99060356","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-2624,-1600],"parameters":{"content":"Use Lite model - affordable. Subscribe on Youtube Channel to learn more. https://www.youtube.com/@greatcommissionerofking?sub_confirmation=1"},"typeVersion":1},{"id":"31976c4b-d1b0-43cd-81d9-0da9edf59a80","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[368,-1920],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"ddf90306-3189-46f5-aa07-815c621a399d","name":"Google Gemini Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[368,-1424],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"351ecbf2-8dd7-4071-8cc0-ab0569c4921f","name":"Google Gemini Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[352,-928],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"62866760-0955-4ad5-b235-42e6c2b8cb0e","name":"Google Gemini Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[384,-400],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"b562ebbf-6703-4f7a-a105-5a331c50a238","name":"Google Gemini Chat Model6","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[368,112],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"2f5a4460-0ab3-418b-9b12-420040e494e9","name":"Update row in sheet","type":"n8n-nodes-base.googleSheets","position":[1360,-2208],"parameters":{"columns":{"value":{"Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}","Topic 1 Content":"={{ $('Merge3').first().json.output.join(\"\\n \\n\") }}","Topic 1 Sources":"={{ $('Merge3').first().json.numberedUrl.join(\"\\n\") }}","Topic 1 Sections":"={{ $json.sections.join(\"\\n\") }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"7ce79f38-9574-4311-b669-c0082bf30a83","name":"Update row in sheet1","type":"n8n-nodes-base.googleSheets","position":[1360,-1712],"parameters":{"columns":{"value":{"Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}","Topic 2 Content":"={{ $('Merge4').first().json.output.join(\"\\n \\n\") }}","Topic 2 Sources":"={{ $('Merge4').first().json.numberedUrl.join(\"\\n\") }}","Topic 2 Sections":"={{ $json.sections.join(\"\\n\") }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"1a46a0aa-1c09-4d90-b2d6-dae149c88ec2","name":"Update row in sheet2","type":"n8n-nodes-base.googleSheets","position":[1360,-1184],"parameters":{"columns":{"value":{"Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}","Topic 3 Content":"={{ $('Merge5').first().json.output.join(\"\\n \\n\") }}","Topic 3 Sources":"={{ $('Merge5').first().json.numberedUrl.join(\"\\n\") }}","Topic 3 Sections":"={{ $json.sections.join(\"\\n\") }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sections","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 3 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"7ab0d321-1da7-40b6-b352-22563c243205","name":"Update row in sheet3","type":"n8n-nodes-base.googleSheets","position":[1360,-688],"parameters":{"columns":{"value":{"Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}","Topic 4 Content":"={{ $('Merge6').first().json.output.join(\"\\n \\n\") }}","Topic 4 Sources":"={{ $('Merge6').first().json.numberedUrl.join(\"\\n\") }}","Topic 4 Sections":"={{ $json.sections.join(\"\\n\") }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sections","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 4 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"314eb294-730a-402f-860b-a500831ab289","name":"Update row in sheet4","type":"n8n-nodes-base.googleSheets","position":[1360,-192],"parameters":{"columns":{"value":{"Search Topic":"={{ $('On form submission').first().json['Search Topic'] }}","Topic 5 Content":"={{ $('Merge7').first().json.output.join(\"\\n \\n\") }}","Topic 5 Sources":"={{ $('Merge7').first().json.numberedUrl.join(\"\\n\") }}","Topic 5 Sections":"={{ $json.sections.join(\"\\n\") }}"},"schema":[{"id":"Search Topic","type":"string","display":true,"removed":false,"required":false,"displayName":"Search Topic","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Introduction","type":"string","display":true,"removed":true,"required":false,"displayName":"Introduction","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 1 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 1 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 2 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 2 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 3 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 3 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Sections","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 4 Content","type":"string","display":true,"removed":true,"required":false,"displayName":"Topic 4 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sources","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 5 Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Sections","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 5 Sections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Topic 5 Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Topic 5 Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sources","type":"string","display":true,"removed":true,"required":false,"displayName":"Sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Search Topic"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nLtek-h9e_Std_lfAG8NIG0TsX3yraYKy3kxJWZ2Av4/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_pad9YFC7rwBcgQkzgSPzkCBiE3mYczD2bw5KoyZtvk/edit?usp=drivesdk","cachedResultName":"Deep Research Template"}},"credentials":{"googleSheetsOAuth2Api":{"id":"lmKahZW6ZsE6M2uk","name":"Google Sheets account 2"}},"typeVersion":4.5,"alwaysOutputData":true},{"id":"e2644234-9c59-495d-b2fc-b60d20461aea","name":"Google Gemini Chat Model7","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[3072,-1952],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"qDOJXtHXFPAXxBcC","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"56634ea6-00be-4893-a09d-3189df050234","connections":{"Code":{"main":[[{"node":"Writer","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Combine","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Writer1","type":"main","index":0},{"node":"Aggregate3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Writer2","type":"main","index":0},{"node":"Aggregate5","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Writer3","type":"main","index":0},{"node":"Aggregate7","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Writer4","type":"main","index":0},{"node":"Aggregate9","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Combine1","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Combine2","type":"main","index":0}]]},"HTML3":{"main":[[{"node":"Combine3","type":"main","index":0}]]},"HTML4":{"main":[[{"node":"Combine4","type":"main","index":0}]]},"Intro":{"main":[[{"node":"Send Intro","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get Sources","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"HTML4","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Tavily","type":"main","index":0}],[{"node":"Tavily1","type":"main","index":0}],[{"node":"Tavily2","type":"main","index":0}],[{"node":"Tavily3","type":"main","index":0}],[{"node":"Tavily4","type":"main","index":0}]]},"Tavily":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Writer":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Combine":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Sources":{"main":[[{"node":"Send Sources","type":"main","index":0}]]},"Tavily1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Tavily2":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Tavily3":{"main":[[{"node":"Split Out5","type":"main","index":0}]]},"Tavily4":{"main":[[{"node":"Split Out6","type":"main","index":0}]]},"Writer1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Writer2":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Writer3":{"main":[[{"node":"Aggregate6","type":"main","index":0}]]},"Writer4":{"main":[[{"node":"Aggregate8","type":"main","index":0}]]},"5 Topics":{"ai_outputParser":[[{"node":"Plan Topics","type":"ai_outputParser","index":0}]]},"Combine1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Combine2":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Combine3":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"Combine4":{"main":[[{"node":"Update row in sheet4","type":"main","index":0}]]},"Send ToC":{"main":[[{"node":"Get All Content1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Split Out":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Aggregate3":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Aggregate5":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Aggregate6":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Aggregate7":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Aggregate8":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Aggregate9":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Send Intro":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set Topics":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Split Out5":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Split Out6":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get Sources":{"main":[[{"node":"Sources","type":"main","index":0}]]},"Plan Topics":{"main":[[{"node":"Intro","type":"main","index":0},{"node":"Split Out","type":"main","index":0},{"node":"Set Topics","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Send Report","type":"main","index":0}]]},"Generate PDF":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Send Sources":{"main":[[{"node":"Get All Content","type":"main","index":0}]]},"Combine Content":{"main":[[{"node":"Generate PDF","type":"main","index":0}]]},"Get All Content":{"main":[[{"node":"Table of Contents","type":"main","index":0}]]},"Get All Content1":{"main":[[{"node":"Combine Content","type":"main","index":0}]]},"Table of Contents":{"main":[[{"node":"Send ToC","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Plan Topics","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Update row in sheet2":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Update row in sheet3":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Update row in sheet4":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"OpenRouter Chat Model2":{"ai_languageModel":[[]]},"OpenRouter Chat Model3":{"ai_languageModel":[[]]},"OpenRouter Chat Model4":{"ai_languageModel":[[]]},"OpenRouter Chat Model5":{"ai_languageModel":[[]]},"OpenRouter Chat Model6":{"ai_languageModel":[[]]},"OpenRouter Chat Model7":{"ai_languageModel":[[]]},"Title, Intro, Chapters":{"ai_outputParser":[[{"node":"Intro","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Plan Topics","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Intro","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Writer","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Writer1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Writer2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"Writer3","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"Writer4","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model7":{"ai_languageModel":[[{"node":"Sources","type":"ai_languageModel","index":0},{"node":"Table of Contents","type":"ai_languageModel","index":0}]]}}}