data/workflows/6600.json
{"nodes":[{"id":"170dcec4-9b3e-4d88-8cdb-e0af274a04bc","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[-48,-160],"parameters":{"simple":false,"filters":{"sender":"via Upwork","readStatus":"unread"},"options":{},"pollTimes":{"item":[{"mode":"everyX","unit":"minutes","value":3}]}},"typeVersion":1.2},{"id":"b7736356-c818-4259-9a8c-5c0ce4bfea55","name":"Code","type":"n8n-nodes-base.code","position":[160,-160],"parameters":{"jsCode":"return { \n  client: $input.first().json.from.value[0].name.split(\" via\")[0], \n  messgae: $input.first().json.text.split($today.year)[1].split(\"Reply\")[0]\n}"},"typeVersion":2},{"id":"59bf17cf-7b78-464c-b4b9-60c83f6a35d7","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[64,176],"parameters":{"text":"={{ $json.text }}","options":{},"attributes":{"attributes":[{"name":"message","required":true,"description":"Client's Message which was send to me"},{"name":"client","required":true,"description":"Client name who sent this message"}]}},"typeVersion":1.2},{"id":"861b165a-08bf-4ebb-9d35-f0653db27649","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[176,320],"parameters":{"options":{}},"typeVersion":1},{"id":"4ae27b64-1f8e-47b4-b18d-ea18a7a3a86b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-208,-256],"parameters":{"width":864,"height":304,"content":"**Upwork Client Messages Notification Without the requirement of an AI Model**"},"typeVersion":1},{"id":"46594376-8e44-4781-b81d-f6ed51df1d43","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-208,80],"parameters":{"width":864,"height":384,"content":"**MUCH BETTER - Upwork Client Messages Notifier with Google Gemini**"},"typeVersion":1},{"id":"ed2a7da2-485b-4846-a181-3b7de540c208","name":"Gmail Trigger X","type":"n8n-nodes-base.gmailTrigger","position":[-128,176],"parameters":{"simple":false,"filters":{"sender":"via Upwork","readStatus":"unread"},"options":{},"pollTimes":{"item":[{"mode":"everyX","unit":"minutes","value":3}]}},"typeVersion":1.2},{"id":"7f596d6b-1a8f-4bf6-b9cd-c604ddbbb351","name":"Send to Slack X","type":"n8n-nodes-base.slack","position":[432,176],"parameters":{"text":"=Message From: {{ $json.output.client }}\n\n{{ $json.output.message }}","user":{"__rl":true,"mode":"list","value":""},"select":"user","otherOptions":{},"authentication":"oAuth2"},"typeVersion":2.3},{"id":"88269738-5069-468c-8f49-ee177d658c03","name":"Send to Slack","type":"n8n-nodes-base.slack","position":[368,-160],"parameters":{"text":"=Message From: {{ $json.client }}\n\n{{ $json.messgae }}","user":{"__rl":true,"mode":"list","value":""},"select":"user","otherOptions":{},"authentication":"oAuth2"},"typeVersion":2.3}],"connections":{"Code":{"main":[[{"node":"Send to Slack","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Gmail Trigger X":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Send to Slack X","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]}}}