data/workflows/6653.json
{"id":"o9pRt8t2gor7a909","meta":{"instanceId":"9219ebc7795bea866f70aa3d977d54417fdf06c41944be95e20cfb60f992db19","templateCredsSetupCompleted":true},"name":"Postiz scheduler","tags":[],"nodes":[{"id":"283060ef-37d1-4abd-a34a-81cab78b4b48","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[-2992,896],"parameters":{"event":"fileCreated","options":{},"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1t3A6BXYskPkAl_VxS5-NjSyzjLiNxv-B","cachedResultUrl":"https://drive.google.com/drive/folders/1t3A6BXYskPkAl_VxS5-NjSyzjLiNxv-B","cachedResultName":"Video scheduler"}},"credentials":{"googleDriveOAuth2Api":{"id":"r1DVmNxwkIL8JO17","name":"Google Drive account"}},"typeVersion":1},{"id":"392546ef-1ee4-4f95-b3b8-bb82a424a121","name":"Download file","type":"n8n-nodes-base.googleDrive","position":[-2768,896],"parameters":{"fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{},"operation":"download"},"credentials":{"googleDriveOAuth2Api":{"id":"r1DVmNxwkIL8JO17","name":"Google Drive account"}},"typeVersion":3},{"id":"1f852e6b-62e6-4518-b920-a2a781df72ac","name":"Extract datetime","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[-1872,896],"parameters":{"text":"={{ $json.data['Date time'] }}","options":{},"attributes":{"attributes":[{"name":"datetime","required":true,"description":"=Date and time in ISO 8601 format with milliseconds and UTC ('Z'), e.g., 2024-12-14T08:18:54.274Z. Today is {{ $now }}"}]}},"typeVersion":1.2},{"id":"26c6cd2a-0ae7-47b1-9d41-3cc357d60dc0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-3136,1152],"parameters":{"width":768,"height":912,"content":"# TikTok post settings\n\n- **title**  \n  - Text string for the caption of your post (max ~2200 characters).\n\n- **privacy_level**  \n  - Who can see your video.  \n  - Allowed: `PUBLIC_TO_EVERYONE`, `MUTUAL_FOLLOW_FRIENDS`, `FOLLOWER_OF_CREATOR`, `SELF_ONLY`\n\n- **duet**  \n  - Allow others to create Duet videos with your post.  \n  - Allowed: `true` or `false`\n\n- **stitch**  \n  - Allow others to use your video in their Stitch.  \n  - Allowed: `true` or `false`\n\n- **comment**  \n  - Enable or disable comments on your post.  \n  - Allowed: `true` or `false`\n\n- **autoAddMusic**  \n  - Add music automatically to your video.  \n  - Allowed: `\"yes\"` or `\"no\"`\n\n- **brand_content_toggle**  \n  - Marks the post as branded/promotional content.  \n  - Allowed: `true` or `false`\n\n- **brand_organic_toggle**  \n  - Marks branded content as organic (natural, unpaid).  \n  - Allowed: `true` or `false`\n\n- **content_posting_method**  \n  - Method of posting.  \n  - Allowed: `\"DIRECT_POST\"` or `\"UPLOAD\"`\n"},"typeVersion":1},{"id":"b3bc5f98-5868-4f9a-be01-6fa646a4b35d","name":"Schedule on TikTok","type":"n8n-nodes-postiz.postiz","position":[-800,512],"parameters":{"date":"={{ $('Extract datetime').item.json.output.datetime }}","type":"schedule","posts":{"post":[{"value":{"contentItem":[{"image":{"imageItem":[{"id":"={{ $('Upload to Postiz').item.json.id }}","path":"={{ $('Upload to Postiz').item.json.path }}"}]},"content":"={{ $('Send email and wait for reply').item.json.data.Caption }}"}]},"settings":{"setting":[{"key":"title","value":"={{ $('Send email and wait for reply').item.json.data.Title }}"},{"key":"privacy_level","value":"={{ $('Set fields').item.json.privacy_level }}"},{"key":"duet","value":"={{ $('Set fields').item.json.duet }}"},{"key":"stitch","value":"={{ $('Set fields').item.json.stitch }}"},{"key":"comment","value":"={{ $('Set fields').item.json.comment }}"},{"key":"autoAddMusic","value":"={{ $('Set fields').item.json.autoAddMusic }}"},{"key":"brand_content_toggle","value":"={{ $('Set fields').item.json.brand_content_toggle }}"},{"key":"brand_organic_toggle","value":"={{ $('Set fields').item.json.brand_organic_toggle }}"},{"key":"content_posting_method","value":"={{ $('Set fields').item.json.content_posting_method }}"}]},"integrationId":"={{ $('Get integrations').item.json.id }}"}]}},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"41b566b5-affe-4014-8ece-e31fa9e68a74","name":"Upload to Postiz","type":"n8n-nodes-base.httpRequest","position":[-2544,896],"parameters":{"url":"https://api.postiz.com/public/v1/upload","method":"POST","options":{},"sendBody":true,"contentType":"multipart-form-data","authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"file","parameterType":"formBinaryData","inputDataFieldName":"data"}]},"genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"yke56MRphVkVPx81","name":"Postiz"}},"typeVersion":4.2},{"id":"67631e91-b548-46cd-9012-f4fa6a9ef1c6","name":"Get integrations","type":"n8n-nodes-postiz.postiz","position":[-1472,896],"parameters":{"operation":"getIntegrations"},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"d900fef3-7960-4441-8a33-f417c0e7e142","name":"Schedule on Youtube","type":"n8n-nodes-postiz.postiz","position":[-800,704],"parameters":{"date":"={{ $('Extract datetime').item.json.output.datetime }}","type":"schedule","posts":{"post":[{"value":{"contentItem":[{"image":{"imageItem":[{"id":"={{ $('Set fields').item.json.id }}","path":"={{ $('Set fields').item.json.path }}"}]},"content":"={{ $('Send email and wait for reply').item.json.data.Caption }}"}]},"settings":{"setting":[{"key":"title","value":"={{ $('Send email and wait for reply').item.json.data.Title }}"},{"key":"type","value":"={{ $('Set fields').item.json.youtubeType }}"}]},"integrationId":"={{ $json.id }}"}]}},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"59f1a232-495e-4baa-9ee5-cc20330e51ab","name":"Schedule on Facebook","type":"n8n-nodes-postiz.postiz","position":[-800,896],"parameters":{"date":"={{ $('Extract datetime').item.json.output.datetime }}","type":"schedule","posts":{"post":[{"value":{"contentItem":[{"image":{"imageItem":[{"id":"={{ $('Set fields').item.json.id }}","path":"={{ $('Set fields').item.json.path }}"}]},"content":"={{ $('Send email and wait for reply').item.json.data.Caption }}"}]},"settings":{"setting":[{"key":"title","value":"={{ $('Send email and wait for reply').item.json.data.Title }}"}]},"integrationId":"={{ $json.id }}"}]}},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"9e1b3fa6-abc5-4446-85cd-a48f4a8ad59c","name":"Schedule on Instagram","type":"n8n-nodes-postiz.postiz","position":[-800,1088],"parameters":{"date":"={{ $('Extract datetime').item.json.output.datetime }}","type":"schedule","posts":{"post":[{"value":{"contentItem":[{"image":{"imageItem":[{"id":"={{ $('Set fields').item.json.id }}","path":"={{ $('Set fields').item.json.path }}"}]},"content":"={{ $('Send email and wait for reply').item.json.data.Caption }}"}]},"settings":{"setting":[{"key":"title","value":"={{ $('Send email and wait for reply').item.json.data.Title }}"},{"key":"post_type","value":"={{ $('Set fields').item.json.instagramType }}"}]},"integrationId":"={{ $json.id }}"}]}},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"89c15967-8fba-4863-99df-d1cef3b5b63f","name":"Schedule on Threads","type":"n8n-nodes-postiz.postiz","position":[-800,1280],"parameters":{"date":"={{ $('Extract datetime').item.json.output.datetime }}","type":"schedule","posts":{"post":[{"value":{"contentItem":[{"image":{"imageItem":[{"id":"={{ $('Set fields').item.json.id }}","path":"={{ $('Set fields').item.json.path }}"}]},"content":"={{ $('Send email and wait for reply').item.json.data.Caption }}"}]},"settings":{"setting":[{"key":"title","value":"={{ $('Send email and wait for reply').item.json.data.Title }}"}]},"integrationId":"={{ $json.id }}"}]}},"credentials":{"postizApi":{"id":"xVanFO1DJ2UoineT","name":"Postiz account"}},"typeVersion":1},{"id":"14514db0-4cda-46fe-b203-a00aa724ce29","name":"Send email and wait for reply","type":"n8n-nodes-base.gmail","position":[-2096,896],"webhookId":"ba7978db-4f32-4102-9d63-b13e5b59656e","parameters":{"sendTo":"={{ $json.toEmail }}","message":"Please confirm the details to schedule the post","options":{"appendAttribution":false},"subject":"Confirm post scheduling","operation":"sendAndWait","formFields":{"values":[{"fieldType":"textarea","fieldLabel":"Title","placeholder":"insert post title","requiredField":true},{"fieldType":"textarea","fieldLabel":"Date time","placeholder":"enter date and time","requiredField":true},{"fieldType":"textarea","fieldLabel":"Caption","requiredField":true}]},"responseType":"customForm"},"credentials":{"gmailOAuth2":{"id":"q3P6IybvNdDiPZ52","name":"Gmail account"}},"typeVersion":2.1},{"id":"c36de3f9-4276-4dc0-942d-6adcba6ba1d0","name":"Set fields","type":"n8n-nodes-base.set","position":[-2320,896],"parameters":{"options":{},"assignments":{"assignments":[{"id":"9edc5e75-5fe1-4d0e-b2a0-4e58dd5038c9","name":"privacy_level","type":"string","value":"PUBLIC_TO_EVERYONE"},{"id":"99acb1ab-3d6d-41d1-8b5c-50ea087a8718","name":"duet","type":"boolean","value":false},{"id":"e4204d31-e495-409e-b6aa-ca89507d2d95","name":"stitch","type":"boolean","value":false},{"id":"e56063b9-5a1a-421d-a1e9-ed5d656da52f","name":"comment","type":"boolean","value":false},{"id":"0f48d08a-598f-4480-9e18-f3a72397bfc8","name":"autoAddMusic","type":"string","value":"no"},{"id":"47add0ab-e7d1-45b8-9a4f-9a9ada01d3e5","name":"brand_organic_toggle","type":"boolean","value":true},{"id":"f67436b0-d826-4d8e-996f-619ce3587c75","name":"brand_content_toggle","type":"boolean","value":false},{"id":"eb623872-c1c5-4603-b29b-a4a3655df7a4","name":"content_posting_method","type":"string","value":"UPLOAD"},{"id":"a0635211-2d9f-4795-833c-8e5133ec600f","name":"toEmail","type":"string","value":"yourEmail"},{"id":"f6392389-f97b-401c-85d6-056f31487f74","name":"youtubeType","type":"string","value":"public"},{"id":"0c83ad0e-63cd-461b-838e-9c4ec960e7e7","name":"instagramType","type":"string","value":"post"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"3f88d8db-4c08-401d-9720-dbaff2e9575b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-1248,896],"parameters":{"options":{},"fieldToSplitOut":"id, identifier"},"typeVersion":1},{"id":"3cee477f-4a94-42ef-bbd0-c2096f7b692b","name":"Filter","type":"n8n-nodes-base.filter","position":[-1024,512],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"19f5c3c9-379b-47a5-87a6-51d5307f455e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.identifier }}","rightValue":"tiktok"}]}},"typeVersion":2.2},{"id":"391c39f0-f494-4048-8c26-662fc5da42c0","name":"Filter1","type":"n8n-nodes-base.filter","position":[-1024,704],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.identifier }}","rightValue":"youtube"}]}},"typeVersion":2.2},{"id":"f5870954-d04d-4854-bd53-18499530dda6","name":"Filter2","type":"n8n-nodes-base.filter","position":[-1024,896],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.identifier }}","rightValue":"facebook"}]}},"typeVersion":2.2},{"id":"5026b7de-7cfb-496a-bd6b-6a8c470c5398","name":"Filter3","type":"n8n-nodes-base.filter","position":[-1024,1088],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.identifier }}","rightValue":"instagram"}]}},"typeVersion":2.2},{"id":"ffc24dff-a1f2-44b4-9385-bb38bf292ec7","name":"Filter4","type":"n8n-nodes-base.filter","position":[-1024,1280],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.identifier }}","rightValue":"threads"}]}},"typeVersion":2.2},{"id":"1739d329-ea50-431c-94c3-2b0c86fc1ac0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1776,1120],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"gpt-4.1"},"options":{}},"credentials":{"openAiApi":{"id":"vupAk5StuhOafQcb","name":"OpenAi account"}},"typeVersion":1.2},{"id":"5264ca1f-9089-4c90-9e7c-fb8948351ad2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-2392,704],"parameters":{"color":3,"height":352,"content":"## Set fields \nAdjust your social media settings according to your needs"},"typeVersion":1},{"id":"496483dc-da54-4c92-a8eb-7e4b54bfdc66","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2320,1152],"parameters":{"width":384,"height":224,"content":"# Youtube post settings\n\n- **type**  \n  - `public`, `unlisted` or `private`"},"typeVersion":1},{"id":"20a91134-64bb-48fb-9312-487593a590b8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2320,1408],"parameters":{"width":384,"height":224,"content":"# Instagram post settings\n\n- **post_type**  \n  - `post` or `story`"},"typeVersion":1},{"id":"8243c2b4-1d15-44c2-9b4f-edb35e9d9778","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-3680,704],"parameters":{"color":4,"width":512,"height":560,"content":"## Requirements\n### Postiz\n- Create an account on [Postiz](https://postiz.com/?ref=onenode)\n- Install the community node from Postiz available [here](https://www.npmjs.com/package/n8n-nodes-postiz)\n- Connect your desired social media accounts\n- Get your API key and enable credentials on n8n\n\n### Google Drive\n- Create a folder that will watch for new files added\n- Enable your credentials on n8n for Google Drive\n\n### Human in the loop\n- Confirm on your email the post title, date and time (you can insert in natural language), and caption by filling the form\n\n## Configuration\nEdit the fields that will be passed later into the workflow inside the red sticker.\nThat's it, you don't need to change anything else."},"typeVersion":1}],"active":true,"pinData":{"Google Drive Trigger":[{"json":{"id":"1Kd0G-ZlyZ3T-w-VZHSmOKssIs4NHyMk_","kind":"drive#file","name":"178472-859955927_small.mp4","size":"2206570","owners":[{"me":true,"kind":"drive#user","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUKiwwlUXbUshpUkPch03XgjynlcXebwKjHrFy4TWqWtuGf1Gm7WJ_YiRZmJdWj-XAPtQ1zNSI41ymrLtaKHJupKVwTuABgQ0_MOlkfnurxLgXxl6mZIM6A889JnJeR08C_uXzWFDCAB_GIDyb0MFyrJzcRJTY5aPMKlXmPWFqEunAWhz2AtzZgq6TDpoFk48rYAAEf1cwZk7WpK95biewBPA5wsZ8Rlj1YhYcR5je-ft261FKpnSHADiH0BUjrlFN2HarERytTxZOOJzrc5WPHBbgbRpALkqZ7pscbyh-AWdgxCsdH5OjgLmYOC3vSAl5srm4Sxx5COneNz4akwDfuViQrFe832CGsmcoiJIhc_feCXXXn-uvbV1DN9vC_3gRLSYKPhfdytaTLHNR1HfTXCYYEgK2M3l9d4q5EoKS4orZ64ztWCIFMaI46YA4IPELWYuyn5_W_R3BlOT8QDNXPyKGlqmzEurqJeujpcHMhd092AWMyhmwNG-B4Zy6-eCHah4XXEtRRtZI8iKkUDK8g5tsiaVdl02zI38lYw_C8p8g5p8sZ4HNt4Z2nvhcUgtjoRpU_3kw-cqbafK0wa9THi5c2yW_-25mPffF7SLaO6nweCbcHXlHL7a_Ho6Oz9kKtkn2PDQyX7nB8F0Ie9fuDSnpQmYZuQRTMb_6DZ0F5JFMsFf1Bga5gM4edLIdkcsbuAfWcEKZ-lD0mseB-i3yJ-u0pra-kg2o-iEfP9l4X9uN_y4pjWQkvFogoq88A6H3oTGFNkYF_M8Yvomd8aYzDcG__CibS-1T7fo5prSxFfmb7pUXU0o6aCRnOYbTTdeUotEY8TIcdYZgiX_QiMn8_WUP2iEad8pIwW1Lcp0opVumlU5kKR_1TEOHNSz-Dy04rQNnG2fqVT5dnG9ugHdqFliq0LKP0tq_fLT-Omp8ZSRoB9Q43izUoIPxCNylCiTHBQCY8csJngEsZ0UYm6BQPRluNc435=s64","displayName":"1 Node","emailAddress":"hello@1node.ai","permissionId":"03088928967677722405"}],"shared":false,"spaces":["drive"],"parents":["1t3A6BXYskPkAl_VxS5-NjSyzjLiNxv-B"],"starred":false,"trashed":false,"version":"8","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/video/mp4","mimeType":"video/mp4","ownedByMe":true,"viewedByMe":true,"createdTime":"2025-07-29T09:17:56.297Z","md5Checksum":"d02a2540b6f9d3f91785ac5f3cdc5a0e","permissions":[{"id":"03088928967677722405","kind":"drive#permission","role":"owner","type":"user","deleted":false,"photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjWwKAqclh6of2dl-xcqfmoUe_RQFuBx8nNyMvFhuvBvzl591iKs1psyE9tpbTZQp8jnEMQXZJOT2XCkf_DctrOSqThx3fMVUFreIpiGZQTHK0ANBD28fKOp5pjbSPH4ObnBWUyptWdixwJjIQBiS-sgcDZMRZuinuAMRBRJCpDv2knO8195VwWqywRMmU3SMgdO14PQkxlEpmeYFqOqosVl51ZAOUj0rQrYpzkAUv0EvuUevBmOlTgP8bBoO8PQbrWJagDYSlGnXOdePr2Cp8BjhAxO-GqrZ1r0GeEC2uSjA7mAloNgx8BUyPxTojx7Q1J9pfKEPeHfguVAEB22L1WAkpjoNip7yF7Ph3ZyyiP8zq2UOMHr1401c5X_fv-7uyPP7C3oeTsts6IPfoklGVKL_kz4h_gB2gBR0jVPq5fGiHzhqIh75BhWNNArCj9krDIaodwTeyN83bKGYtxL7DSFHL3diVVKuI-AmV4zyUGMqEg3yRxeBiafE74Uwom45ohE5IVPoHiUUzyau0ZUIuK-EiUqSls7TSv5xMUr5P34WLvQPV_a4kFeo5A0Tat2uPUAzzyqRbQFquXTACnx9aIZZ7OxfpHMS2aHGXNZV-A_5TbS6wVsLURU5BwQ3aYEc6wnnyE9nNUkAeuGWxz9PID5hXgJvleO8Ip2GqbDXY2ioE1K0Rn_l6kTMu3D9uTipZFSQF-lJ4Vw5_n0F9kNWInt5DFgg4O3T_zbfDCpBdRK2Sl6V4GZY2M-Q9P8g1BJaXYLZxTJ5BcITQVGRw8yD0Yn1DUnGm1UOx1I9ULiXkL0F_WZ9aOVuTGaSa8cof95vF11TPLv1SjxtaRWbo2GkUVVtDTrHvPu8bntDWAAr_LftFA_dGP3lSSffFc6JEggPjM1zsR6aMwQ2duBRZOJCLWky21jkiEqfCJbuASi_ATAGRg5OKzw3aFGNNk8nYo-_s7CW3WuWh8s7imPZvjYh9qFV7ToMM-6=s64","displayName":"1 Node","emailAddress":"hello@1node.ai","pendingOwner":false}],"webViewLink":"https://drive.google.com/file/d/1Kd0G-ZlyZ3T-w-VZHSmOKssIs4NHyMk_/view?usp=drivesdk","capabilities":{"canCopy":true,"canEdit":true,"canShare":true,"canTrash":true,"canDelete":true,"canRename":true,"canComment":true,"canUntrash":true,"canDownload":true,"canReadLabels":false,"canAddChildren":false,"canListChildren":false,"canModifyLabels":false,"canModifyContent":true,"canReadRevisions":true,"canRemoveChildren":false,"canAcceptOwnership":false,"canAddMyDriveParent":false,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canRemoveMyDriveParent":true,"canMoveItemIntoTeamDrive":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canRemoveContentRestriction":false,"canEnableInheritedPermissions":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canDisableInheritedPermissions":false,"canChangeItemDownloadRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyEditorContentRestriction":true,"canChangeCopyRequiresWriterPermission":true},"hasThumbnail":true,"modifiedByMe":true,"modifiedTime":"2025-07-29T09:17:32.000Z","sha1Checksum":"f6f7189d66b4a8af9ca0823cdd40b36c769535dd","fileExtension":"mp4","permissionIds":["03088928967677722405"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPUAzABN1rIQ-0R6zzZ7NEbPjRAdPqx7oUamX_MnsTc7jBD2kFb0PescQssR-nlqNcZS7fAwD6jynUOvKMnu7qOJr_HVtJfeO4OHbYB3bQPB64=s220","headRevisionId":"0B_tpdc5BqbogRkNDazhycUt0cm0yeFE4RmI3U24xK21qTHBZPQ","quotaBytesUsed":"2206570","sha256Checksum":"441308e7c8adb223d346fe22b8d850b26add9c9d280a5fd7d26d82fd3360bf92","viewedByMeTime":"2025-07-29T09:17:56.297Z","webContentLink":"https://drive.google.com/uc?id=1Kd0G-ZlyZ3T-w-VZHSmOKssIs4NHyMk_&export=download","isAppAuthorized":false,"writersCanShare":true,"modifiedByMeTime":"2025-07-29T09:17:32.000Z","originalFilename":"178472-859955927_small.mp4","thumbnailVersion":"1","explicitlyTrashed":false,"fullFileExtension":"mp4","lastModifyingUser":{"me":true,"kind":"drive#user","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUKiwwlUXbUshpUkPch03XgjynlcXebwKjHrFy4TWqWtuGf1Gm7WJ_YiRZmJdWj-XAPtQ1zNSI41ymrLtaKHJupKVwTuABgQ0_MOlkfnurxLgXxl6mZIM6A889JnJeR08C_uXzWFDCAB_GIDyb0MFyrJzcRJTY5aPMKlXmPWFqEunAWhz2AtzZgq6TDpoFk48rYAAEf1cwZk7WpK95biewBPA5wsZ8Rlj1YhYcR5je-ft261FKpnSHADiH0BUjrlFN2HarERytTxZOOJzrc5WPHBbgbRpALkqZ7pscbyh-AWdgxCsdH5OjgLmYOC3vSAl5srm4Sxx5COneNz4akwDfuViQrFe832CGsmcoiJIhc_feCXXXn-uvbV1DN9vC_3gRLSYKPhfdytaTLHNR1HfTXCYYEgK2M3l9d4q5EoKS4orZ64ztWCIFMaI46YA4IPELWYuyn5_W_R3BlOT8QDNXPyKGlqmzEurqJeujpcHMhd092AWMyhmwNG-B4Zy6-eCHah4XXEtRRtZI8iKkUDK8g5tsiaVdl02zI38lYw_C8p8g5p8sZ4HNt4Z2nvhcUgtjoRpU_3kw-cqbafK0wa9THi5c2yW_-25mPffF7SLaO6nweCbcHXlHL7a_Ho6Oz9kKtkn2PDQyX7nB8F0Ie9fuDSnpQmYZuQRTMb_6DZ0F5JFMsFf1Bga5gM4edLIdkcsbuAfWcEKZ-lD0mseB-i3yJ-u0pra-kg2o-iEfP9l4X9uN_y4pjWQkvFogoq88A6H3oTGFNkYF_M8Yvomd8aYzDcG__CibS-1T7fo5prSxFfmb7pUXU0o6aCRnOYbTTdeUotEY8TIcdYZgiX_QiMn8_WUP2iEad8pIwW1Lcp0opVumlU5kKR_1TEOHNSz-Dy04rQNnG2fqVT5dnG9ugHdqFliq0LKP0tq_fLT-Omp8ZSRoB9Q43izUoIPxCNylCiTHBQCY8csJngEsZ0UYm6BQPRluNc435=s64","displayName":"1 Node","emailAddress":"hello@1node.ai","permissionId":"03088928967677722405"},"linkShareMetadata":{"securityUpdateEnabled":true,"securityUpdateEligible":false},"videoMediaMetadata":{"width":0,"height":0,"durationMillis":"0"},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"inheritedPermissionsDisabled":false}}]},"settings":{"timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"qFOYM3IA9QZ7fMym","executionOrder":"v1","executionTimeout":-1},"versionId":"8e207e0a-4b21-46a7-b61d-782e14c67939","connections":{"Filter":{"main":[[{"node":"Schedule on TikTok","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Schedule on Youtube","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Schedule on Facebook","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Schedule on Instagram","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Schedule on Threads","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0},{"node":"Filter1","type":"main","index":0},{"node":"Filter2","type":"main","index":0},{"node":"Filter3","type":"main","index":0},{"node":"Filter4","type":"main","index":0}]]},"Set fields":{"main":[[{"node":"Send email and wait for reply","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload to Postiz","type":"main","index":0}]]},"Extract datetime":{"main":[[{"node":"Get integrations","type":"main","index":0}]]},"Get integrations":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Upload to Postiz":{"main":[[{"node":"Set fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extract datetime","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Send email and wait for reply":{"main":[[{"node":"Extract datetime","type":"main","index":0}]]}}}