data/workflows/6790.json
{"meta":{"instanceId":"dfb23db7-7565-411b-94ba-735459dcd578","model_name":"part-crafter","model_type":"image","version_id":"a8fe4d91050b7d6497dd6676506a4105a3903b7287353681f52f3be0bb01d67f","model_owner":"fire","generated_at":"2025-08-01T14:50:46.304972"},"name":"fire/part-crafter - Image Generator","nodes":[{"id":"961a885d-cd22-449b-99dd-56f67cf6d32d","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-896,-176],"parameters":{},"typeVersion":1},{"id":"c783d936-e0cd-4568-906c-3d10c7ac6651","name":"Set API Token","type":"n8n-nodes-base.set","position":[-608,-80],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"YOUR_REPLICATE_API_TOKEN"}]}},"typeVersion":3.3},{"id":"8c826b84-a6d5-420e-83d3-3478038928cf","name":"Set Image Parameters","type":"n8n-nodes-base.set","position":[-288,-128],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"={{ $('Set API Token').item.json.api_token }}"},{"id":"seed","name":"seed","type":"number","value":0},{"id":"image","name":"image","type":"string","value":"https://picsum.photos/512/512"},{"id":"num_parts","name":"num_parts","type":"number","value":16},{"id":"num_tokens","name":"num_tokens","type":"string","value":2048},{"id":"guidance_scale","name":"guidance_scale","type":"number","value":7},{"id":"remove_background","name":"remove_background","type":"boolean","value":false},{"id":"use_flash_decoder","name":"use_flash_decoder","type":"boolean","value":false},{"id":"num_inference_steps","name":"num_inference_steps","type":"number","value":50}]}},"typeVersion":3.3},{"id":"e9f915fb-602a-4770-859d-5cc1888eac42","name":"Create Image Prediction","type":"n8n-nodes-base.httpRequest","position":[-64,-128],"parameters":{"url":"https://api.replicate.com/v1/predictions","method":"POST","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"jsonBody":"={\n  \"version\": \"fire/part-crafter:a8fe4d91050b7d6497dd6676506a4105a3903b7287353681f52f3be0bb01d67f\",\n  \"input\": {\n    \"seed\": {{ $json.seed }},\n    \"image\": \"{{ $json.image }}\",\n    \"num_parts\": {{ $json.num_parts }},\n    \"num_tokens\": \"{{ $json.num_tokens }}\",\n    \"guidance_scale\": {{ $json.guidance_scale }},\n    \"remove_background\": {{ $json.remove_background }},\n    \"use_flash_decoder\": {{ $json.use_flash_decoder }},\n    \"num_inference_steps\": {{ $json.num_inference_steps }}\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.api_token }}"},{"name":"Prefer","value":"wait"}]}},"typeVersion":4.1},{"id":"f824abcd-9057-4d16-8dc7-787709b34506","name":"Wait 5s","type":"n8n-nodes-base.wait","position":[160,-128],"webhookId":"d2c4ca16-0eb2-45b4-8a2d-eec2f99df89c","parameters":{"unit":"seconds","amount":5},"typeVersion":1},{"id":"4ffec935-a57f-4e9a-b78b-0ec484f7f3dd","name":"Check Status","type":"n8n-nodes-base.httpRequest","position":[384,-128],"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{ $('Create Image Prediction').item.json.id }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set API Token').item.json.api_token }}"}]}},"typeVersion":4.1},{"id":"6a32bbc4-254b-4de3-9a49-819e12421730","name":"Is Complete?","type":"n8n-nodes-base.if","position":[528,-240],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c93d7ba1-0ef9-4087-aa10-389cb2a2c6bd","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"succeeded"}]}},"typeVersion":2},{"id":"5afaff3e-7088-4e66-b25e-094c8793902b","name":"Has Failed?","type":"n8n-nodes-base.if","position":[848,-80],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"d1bfd044-3a07-4c18-b55f-72d192596139","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"failed"}]}},"typeVersion":2},{"id":"954ec662-d841-42e2-869a-f75f87914cbc","name":"Wait 10s","type":"n8n-nodes-base.wait","position":[720,128],"webhookId":"51a05aef-e220-406d-8c2c-e59c82c3e26e","parameters":{"unit":"seconds","amount":10},"typeVersion":1},{"id":"8b4c21c0-76b3-498b-8968-4f664751f821","name":"Success Response","type":"n8n-nodes-base.set","position":[832,-320],"parameters":{"options":{},"assignments":{"assignments":[{"id":"success-response","name":"response","type":"object","value":"={{ { success: true, image_url: $json.output, prediction_id: $json.id, status: $json.status, message: 'Image generated successfully' } }}"}]}},"typeVersion":3.3},{"id":"e319f032-1411-4436-b0e9-0960531d3dde","name":"Error Response","type":"n8n-nodes-base.set","position":[1344,144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"error-response","name":"response","type":"object","value":"={{ { success: false, error: $json.error || 'Image generation failed', prediction_id: $json.id, status: $json.status, message: 'Failed to generate image' } }}"}]}},"typeVersion":3.3},{"id":"771e6214-6cfc-4b6d-8443-2dde97e62c43","name":"Display Result","type":"n8n-nodes-base.set","position":[1552,-144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"final-result","name":"final_result","type":"object","value":"={{ $json.response }}"}]}},"typeVersion":3.3},{"id":"8c1f8ebb-b253-4b09-9d67-b7c1840af6c6","name":"Log Request","type":"n8n-nodes-base.code","position":[160,-320],"parameters":{"jsCode":"// Log generation details for monitoring\nconst data = $input.all()[0].json;\n\nconsole.log('fire/part-crafter Request:', {\n  timestamp: new Date().toISOString(),\n  prediction_id: data.id,\n  model_type: 'image'\n});\n\nreturn $input.all();"},"typeVersion":2},{"id":"42f672d9-dcd2-484a-8f73-f70d3effa408","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1536,-304],"parameters":{"color":4,"width":580,"height":320,"content":"=======================================\n        PART-CRAFTER GENERATOR\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n======================================="},"typeVersion":1},{"id":"6e5cc786-f8e3-42b2-a3d1-0e90393a8848","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1536,48],"parameters":{"color":4,"width":589,"height":1958,"content":"## 🤖 **FIRE/PART-CRAFTER - IMAGE GENERATION WORKFLOW**\n\n**🔥 Powered by Replicate API and n8n Automation**\n\n---\n\n### 📝 **Model Overview**\n\n- **Owner**: fire\n- **Model**: part-crafter\n- **Type**: Image Generation\n- **API Endpoint**: https://api.replicate.com/v1/predictions\n\n**🎯 What This Model Does:**\nPartCrafter is a structured 3D mesh generation model that creates multiple parts and objects from a single RGB image.\n\n---\n\n### 📋 **Parameter Reference**\n\n**🔴 Required Parameters:** image\n**🔵 Optional Parameters:** seed, num_parts, num_tokens, guidance_scale, remove_background, use_flash_decoder, num_inference_steps\n\n**📖 Detailed Parameter Guide:**\n- **seed** (integer): Random seed for reproducibility. Use 0 for random seed (Default: 0)\n- **image** (string): Input image for 3D mesh generation\n- **num_parts** (integer): Number of parts to generate (Default: 16)\n- **num_tokens** (string): Number of tokens for generation (Default: 2048)\n- **guidance_scale** (number): Guidance scale for generation (Default: 7)\n- **remove_background** (boolean): Remove background from input image (Default: False)\n- **use_flash_decoder** (boolean): Use flash decoder for faster inference (Tempermental?) (Default: False)\n- **num_inference_steps** (integer): Number of inference steps (Default: 50)\n\n---\n\n### 🔧 **Workflow Components Explained**\n\n**🎯 Manual Trigger**\n- Starts the workflow execution\n- Click to begin image generation process\n\n**🔐 Set API Token** \n- Configures your Replicate API authentication\n- Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n- Essential for accessing the fire/part-crafter model\n\n**⚙️ Set Image Parameters**\n- Configures all input parameters for the model\n- Includes both required and optional parameters\n- Pre-filled with sensible defaults for testing\n\n**🚀 Create Image Prediction**\n- Sends the generation request to Replicate API\n- Uses the image parameters you configured\n- Returns a prediction ID for status tracking\n\n**⏳ Wait & Status Checking Loop**\n- Waits 5 seconds then checks prediction status\n- Continues checking until completion or failure\n- Implements intelligent retry logic with 10-second delays\n\n**✅ Success/Error Handling**\n- Routes successful completions to success response\n- Handles failures gracefully with error details\n- Returns structured JSON response with URLs/errors\n\n**📊 Logging & Monitoring**\n- Logs all requests for debugging and monitoring\n- Tracks timestamps and prediction IDs\n- Helps identify issues during development\n\n---\n\n### 🌟 **Key Benefits**\n\n- **🎨 Instant Image Generation**: Transform ideas into images using state-of-the-art AI\n- **🔄 Automated Workflow**: Handles the complete generation pipeline automatically\n- **🛡️ Error Resilience**: Built-in retry logic and comprehensive error handling\n- **📈 Production Ready**: Includes logging, monitoring, and structured responses\n- **🔧 Customizable**: Easy to modify parameters and extend functionality\n- **⚡ Efficient Processing**: Optimized API calls with intelligent status checking\n\n---\n\n### 🚀 **Quick Start Instructions**\n\n1. **🔑 Get Your API Key**\n   - Sign up at https://replicate.com\n   - Navigate to your account settings\n   - Copy your API token\n\n2. **🔧 Configure the Workflow**\n   - Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n   - Adjust parameters in the 'Set Image Parameters' node\n   - Customize the prompt or other inputs as needed\n\n3. **▶️ Execute the Workflow**\n   - Click the 'Manual Trigger' to start\n   - Monitor the execution in the n8n interface\n   - Check logs for detailed execution information\n\n4. **📥 Get Your Results**\n   - Successful generations return a URL to your image\n   - Download or use the generated content as needed\n   - Results are available immediately upon completion\n\n---\n\n### 🔍 **Troubleshooting Guide**\n\n**Common Issues:**\n- **Invalid API Token**: Ensure your Replicate token is valid and has sufficient credits\n- **Parameter Validation**: Check that required parameters match expected types\n- **Generation Timeout**: Some images take longer - monitor the logs\n- **Output Format**: Verify the model returns the expected output format\n\n**Best Practices:**\n- Test with default parameters first\n- Monitor your Replicate usage and billing\n- Keep API tokens secure and never commit them to code\n- Use appropriate parameter values for your use case\n\n---\n\n**🔗 Additional Resources:**\n- Model Documentation: https://replicate.com/fire/part-crafter\n- Replicate API Docs: https://replicate.com/docs\n- n8n Documentation: https://docs.n8n.io\n\n---"},"typeVersion":1}],"active":false,"pinData":{},"versionId":"1","connections":{"Wait 5s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Has Failed?":{"main":[[{"node":"Error Response","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Log Request":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Has Failed?","type":"main","index":0}]]},"Set API Token":{"main":[[{"node":"Set Image Parameters","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set API Token","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Set Image Parameters":{"main":[[{"node":"Create Image Prediction","type":"main","index":0}]]},"Create Image Prediction":{"main":[[{"node":"Log Request","type":"main","index":0}]]}}}