data/workflows/6803.json
{"meta":{"instanceId":"c4f06ea9-d020-442e-b367-19f414f020cd","model_name":"jhonpiedrahita_ai01","model_type":"other","version_id":"fcdcce61392c00f15318346038baa7c83af0a37e3e37a0318dd6aa8de33684b2","model_owner":"jhonp4","generated_at":"2025-08-01T14:50:46.475903"},"name":"jhonp4/jhonpiedrahita_ai01 - Other Generator","nodes":[{"id":"20120de8-d033-473d-b783-074fc0c7629e","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-896,-176],"parameters":{},"typeVersion":1},{"id":"12318b1c-c340-4c40-9ead-4ee8b36b812f","name":"Set API Token","type":"n8n-nodes-base.set","position":[-608,-80],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"YOUR_REPLICATE_API_TOKEN"}]}},"typeVersion":3.3},{"id":"ae15b90b-da58-4048-9ca0-b6138fb6e513","name":"Set Other Parameters","type":"n8n-nodes-base.set","position":[-288,-128],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"={{ $('Set API Token').item.json.api_token }}"},{"id":"mask","name":"mask","type":"string","value":"https://via.placeholder.com/512x512/000000/FFFFFF.png"},{"id":"seed","name":"seed","type":"number","value":-1},{"id":"image","name":"image","type":"string","value":"https://picsum.photos/512/512"},{"id":"model","name":"model","type":"string","value":"dev"},{"id":"width","name":"width","type":"number","value":512},{"id":"height","name":"height","type":"number","value":512},{"id":"prompt","name":"prompt","type":"string","value":"Create something amazing"},{"id":"go_fast","name":"go_fast","type":"boolean","value":false},{"id":"extra_lora","name":"extra_lora","type":"string","value":""},{"id":"lora_scale","name":"lora_scale","type":"number","value":1},{"id":"megapixels","name":"megapixels","type":"string","value":"1"},{"id":"num_outputs","name":"num_outputs","type":"number","value":1},{"id":"aspect_ratio","name":"aspect_ratio","type":"string","value":"1:1"},{"id":"output_format","name":"output_format","type":"string","value":"webp"},{"id":"guidance_scale","name":"guidance_scale","type":"number","value":3},{"id":"output_quality","name":"output_quality","type":"number","value":80},{"id":"prompt_strength","name":"prompt_strength","type":"number","value":0.8},{"id":"extra_lora_scale","name":"extra_lora_scale","type":"number","value":1},{"id":"replicate_weights","name":"replicate_weights","type":"string","value":""},{"id":"num_inference_steps","name":"num_inference_steps","type":"number","value":28},{"id":"disable_safety_checker","name":"disable_safety_checker","type":"boolean","value":false}]}},"typeVersion":3.3},{"id":"5a1e3689-0a7b-45be-a95d-bdb103ab1ef2","name":"Create Other Prediction","type":"n8n-nodes-base.httpRequest","position":[-64,-128],"parameters":{"url":"https://api.replicate.com/v1/predictions","method":"POST","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"jsonBody":"={\n  \"version\": \"jhonp4/jhonpiedrahita_ai01:fcdcce61392c00f15318346038baa7c83af0a37e3e37a0318dd6aa8de33684b2\",\n  \"input\": {\n    \"mask\": \"{{ $json.mask }}\",\n    \"seed\": {{ $json.seed }},\n    \"image\": \"{{ $json.image }}\",\n    \"model\": \"{{ $json.model }}\",\n    \"width\": {{ $json.width }},\n    \"height\": {{ $json.height }},\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"go_fast\": {{ $json.go_fast }},\n    \"extra_lora\": \"{{ $json.extra_lora }}\",\n    \"lora_scale\": {{ $json.lora_scale }},\n    \"megapixels\": \"{{ $json.megapixels }}\",\n    \"num_outputs\": {{ $json.num_outputs }},\n    \"aspect_ratio\": \"{{ $json.aspect_ratio }}\",\n    \"output_format\": \"{{ $json.output_format }}\",\n    \"guidance_scale\": {{ $json.guidance_scale }},\n    \"output_quality\": {{ $json.output_quality }},\n    \"prompt_strength\": {{ $json.prompt_strength }},\n    \"extra_lora_scale\": {{ $json.extra_lora_scale }},\n    \"replicate_weights\": \"{{ $json.replicate_weights }}\",\n    \"num_inference_steps\": {{ $json.num_inference_steps }},\n    \"disable_safety_checker\": {{ $json.disable_safety_checker }}\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.api_token }}"},{"name":"Prefer","value":"wait"}]}},"typeVersion":4.1},{"id":"40af6dbb-4792-4b1e-913e-745648d8ee29","name":"Wait 5s","type":"n8n-nodes-base.wait","position":[160,-128],"webhookId":"d2c4ca16-0eb2-45b4-8a2d-eec2f99df89c","parameters":{"unit":"seconds","amount":5},"typeVersion":1},{"id":"c5bdd432-42fb-4d84-95c5-a0a885a6f318","name":"Check Status","type":"n8n-nodes-base.httpRequest","position":[384,-128],"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{ $('Create Other Prediction').item.json.id }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set API Token').item.json.api_token }}"}]}},"typeVersion":4.1},{"id":"5e599b18-90ba-41ef-89ec-f5885d104823","name":"Is Complete?","type":"n8n-nodes-base.if","position":[528,-240],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c93d7ba1-0ef9-4087-aa10-389cb2a2c6bd","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"succeeded"}]}},"typeVersion":2},{"id":"519e5a33-3ba8-47c5-a022-b648c2499fef","name":"Has Failed?","type":"n8n-nodes-base.if","position":[848,-80],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"d1bfd044-3a07-4c18-b55f-72d192596139","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"failed"}]}},"typeVersion":2},{"id":"269b986f-ec94-4f21-b943-e44f7c0e5660","name":"Wait 10s","type":"n8n-nodes-base.wait","position":[720,128],"webhookId":"51a05aef-e220-406d-8c2c-e59c82c3e26e","parameters":{"unit":"seconds","amount":10},"typeVersion":1},{"id":"db7edbe1-054c-4069-b9c1-3a72706e5239","name":"Success Response","type":"n8n-nodes-base.set","position":[832,-320],"parameters":{"options":{},"assignments":{"assignments":[{"id":"success-response","name":"response","type":"object","value":"={{ { success: true, result_url: $json.output, prediction_id: $json.id, status: $json.status, message: 'Other generated successfully' } }}"}]}},"typeVersion":3.3},{"id":"185eacc1-7382-43f6-aa33-fb01628ceb96","name":"Error Response","type":"n8n-nodes-base.set","position":[1344,144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"error-response","name":"response","type":"object","value":"={{ { success: false, error: $json.error || 'Other generation failed', prediction_id: $json.id, status: $json.status, message: 'Failed to generate other' } }}"}]}},"typeVersion":3.3},{"id":"b0e407f0-b1c6-4017-8e4d-260023f86953","name":"Display Result","type":"n8n-nodes-base.set","position":[1552,-144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"final-result","name":"final_result","type":"object","value":"={{ $json.response }}"}]}},"typeVersion":3.3},{"id":"a544dde9-f32d-42a0-aba1-32d4dc64e680","name":"Log Request","type":"n8n-nodes-base.code","position":[160,-320],"parameters":{"jsCode":"// Log generation details for monitoring\nconst data = $input.all()[0].json;\n\nconsole.log('jhonp4/jhonpiedrahita_ai01 Request:', {\n  timestamp: new Date().toISOString(),\n  prediction_id: data.id,\n  model_type: 'other'\n});\n\nreturn $input.all();"},"typeVersion":2},{"id":"37c1f0a2-ee86-4843-9e9f-709ed4accf5f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1536,-304],"parameters":{"color":4,"width":580,"height":320,"content":"=======================================\n        JHONPIEDRAHITA_AI01 GENERATOR\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n======================================="},"typeVersion":1},{"id":"499b3e05-76a6-4bd4-8e36-191915251a28","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1536,48],"parameters":{"color":4,"width":589,"height":1958,"content":"## 🤖 **JHONP4/JHONPIEDRAHITA_AI01 - OTHER GENERATION WORKFLOW**\n\n**🔥 Powered by Replicate API and n8n Automation**\n\n---\n\n### 📝 **Model Overview**\n\n- **Owner**: jhonp4\n- **Model**: jhonpiedrahita_ai01\n- **Type**: Other Generation\n- **API Endpoint**: https://api.replicate.com/v1/predictions\n\n**🎯 What This Model Does:**\nNone\n\n---\n\n### 📋 **Parameter Reference**\n\n**🔴 Required Parameters:** prompt\n**🔵 Optional Parameters:** mask, seed, image, model, width, height, go_fast, extra_lora (and 12 more)\n\n**📖 Detailed Parameter Guide:**\n- **mask** (string): Image mask for image inpainting mode. If provided, aspect_ratio, width, and height inputs are ign...\n- **seed** (integer): Random seed. Set for reproducible generation\n- **image** (string): Input image for image to image or inpainting mode. If provided, aspect_ratio, width, and height i...\n- **model** (string): Which model to run inference with. The dev model performs best with around 28 inference steps but... (Default: dev)\n- **width** (integer): Width of generated image. Only works if `aspect_ratio` is set to custom. Will be rounded to neare...\n- **height** (integer): Height of generated image. Only works if `aspect_ratio` is set to custom. Will be rounded to near...\n- **prompt** (string): Prompt for generated image. If you include the `trigger_word` used in the training process you ar...\n- **go_fast** (boolean): Run faster predictions with model optimized for speed (currently fp8 quantized); disable to run i... (Default: False)\n- *...and 13 more parameters*\n\n---\n\n### 🔧 **Workflow Components Explained**\n\n**🎯 Manual Trigger**\n- Starts the workflow execution\n- Click to begin other generation process\n\n**🔐 Set API Token** \n- Configures your Replicate API authentication\n- Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n- Essential for accessing the jhonp4/jhonpiedrahita_ai01 model\n\n**⚙️ Set Other Parameters**\n- Configures all input parameters for the model\n- Includes both required and optional parameters\n- Pre-filled with sensible defaults for testing\n\n**🚀 Create Other Prediction**\n- Sends the generation request to Replicate API\n- Uses the other parameters you configured\n- Returns a prediction ID for status tracking\n\n**⏳ Wait & Status Checking Loop**\n- Waits 5 seconds then checks prediction status\n- Continues checking until completion or failure\n- Implements intelligent retry logic with 10-second delays\n\n**✅ Success/Error Handling**\n- Routes successful completions to success response\n- Handles failures gracefully with error details\n- Returns structured JSON response with URLs/errors\n\n**📊 Logging & Monitoring**\n- Logs all requests for debugging and monitoring\n- Tracks timestamps and prediction IDs\n- Helps identify issues during development\n\n---\n\n### 🌟 **Key Benefits**\n\n- **🎨 Instant Other Generation**: Transform ideas into others using state-of-the-art AI\n- **🔄 Automated Workflow**: Handles the complete generation pipeline automatically\n- **🛡️ Error Resilience**: Built-in retry logic and comprehensive error handling\n- **📈 Production Ready**: Includes logging, monitoring, and structured responses\n- **🔧 Customizable**: Easy to modify parameters and extend functionality\n- **⚡ Efficient Processing**: Optimized API calls with intelligent status checking\n\n---\n\n### 🚀 **Quick Start Instructions**\n\n1. **🔑 Get Your API Key**\n   - Sign up at https://replicate.com\n   - Navigate to your account settings\n   - Copy your API token\n\n2. **🔧 Configure the Workflow**\n   - Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n   - Adjust parameters in the 'Set Other Parameters' node\n   - Customize the prompt or other inputs as needed\n\n3. **▶️ Execute the Workflow**\n   - Click the 'Manual Trigger' to start\n   - Monitor the execution in the n8n interface\n   - Check logs for detailed execution information\n\n4. **📥 Get Your Results**\n   - Successful generations return a URL to your other\n   - Download or use the generated content as needed\n   - Results are available immediately upon completion\n\n---\n\n### 🔍 **Troubleshooting Guide**\n\n**Common Issues:**\n- **Invalid API Token**: Ensure your Replicate token is valid and has sufficient credits\n- **Parameter Validation**: Check that required parameters match expected types\n- **Generation Timeout**: Some others take longer - monitor the logs\n- **Output Format**: Verify the model returns the expected output format\n\n**Best Practices:**\n- Test with default parameters first\n- Monitor your Replicate usage and billing\n- Keep API tokens secure and never commit them to code\n- Use appropriate parameter values for your use case\n\n---\n\n**🔗 Additional Resources:**\n- Model Documentation: https://replicate.com/jhonp4/jhonpiedrahita_ai01\n- Replicate API Docs: https://replicate.com/docs\n- n8n Documentation: https://docs.n8n.io\n\n---"},"typeVersion":1}],"active":false,"pinData":{},"versionId":"1","connections":{"Wait 5s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Has Failed?":{"main":[[{"node":"Error Response","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Log Request":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Has Failed?","type":"main","index":0}]]},"Set API Token":{"main":[[{"node":"Set Other Parameters","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set API Token","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Set Other Parameters":{"main":[[{"node":"Create Other Prediction","type":"main","index":0}]]},"Create Other Prediction":{"main":[[{"node":"Log Request","type":"main","index":0}]]}}}