data/workflows/6841.json
{"id":"oca5MgiXvuk6uO9B","meta":{"instanceId":"9c8f658dbece48b519a8ad7757c7d7db7a30c5f3fd29c9dc8afae32fe0c7711a","templateCredsSetupCompleted":true},"name":"Automate weekly Hollywood film briefing via Tavily and Gemini","tags":[],"nodes":[{"id":"33bd06d0-a733-47d0-88ea-d921780bc4a9","name":"Send a message","type":"n8n-nodes-base.gmail","position":[1504,0],"webhookId":"68887666-c2da-4012-8d34-1713fb13960d","parameters":{"sendTo":"titanfactz@gmail.com","message":"={{ $json.output.body }}","options":{},"subject":"={{ $json.output.subject }}"},"credentials":{"gmailOAuth2":{"id":"tgaDxPWU6CLLz8ly","name":"Gmail account"}},"typeVersion":2.1},{"id":"49971303-18e4-4c16-b007-061cc84dbf62","name":"Hollywood News Research Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[736,0],"parameters":{"text":"=You are an AI summarizer creating a daily Hollywood film industry briefing.\n\nYou will receive four Tavily search results:\n- Hollywood movies releasing this week\n- Hollywood box office results last week\n- Hollywood news\n- Must‑watch Hollywood movies currently in theatres\n\nEach result contains `title` and `content`.\n\n---\n\n### TASK\nSummarize each result into Gmail‑friendly HTML with emojis and bullet points:\n\n🎬 Releases  \n📊 Box Office  \n📰 News  \n🎥 Must-Watch Movies  \n\nFor **Must-Watch Movies**:\n- If details (reviews/hype) exist, summarize them briefly.\n- If only movie names appear, **assume reasons** (e.g., “great for IMAX/4DX,” “big visual effects,” “audience buzz,” or “fan‑favorite franchise”).\n\nIf no data at all, write “No data available”.\n\n---\n\n### OUTPUT FORMAT\nReturn JSON:\n{\n  \"subject\": \"Daily Hollywood Film Industry Briefing – {{ $json['Readable date'] }}\",\n  \"body\": \"<html>\n    🎬 Releases\n    <ul><li>Movie 1</li></ul>\n    📊 Box Office\n    <ul><li>Result 1</li></ul>\n    📰 News\n    <ul><li>Update 1</li></ul>\n    🎥 Must-Watch Movies\n    <ul><li>Recommendation 1 with assumed reason (if needed)</li></ul>\n  </html>\"\n}\n","options":{},"promptType":"define","hasOutputParser":true},"typeVersion":2.1},{"id":"13a2e59f-09f9-45f4-8751-6ac14c2957b6","name":"Fetch Weekly Releases (Tavily)","type":"n8n-nodes-base.httpRequestTool","position":[512,224],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"hollywood movies releasing this week\",\n  \"search_depth\": \"basic\",\n  \"time_range\": \"week\",\n  \"max_results\": 5\n}\n","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"{{$credentials.TavilyApiKey}}"}]}},"typeVersion":4.2},{"id":"59d02c90-23b9-4837-836a-e47357c043bf","name":"Fetch Weekly Box Office (Tavily)","type":"n8n-nodes-base.httpRequestTool","position":[704,224],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"hollywood box office results last week\",\n  \"search_depth\": \"basic\",\n  \"time_range\": \"week\",\n  \"max_results\": 5\n}\n","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"{{$credentials.TavilyApiKey}}"}]}},"typeVersion":4.2},{"id":"5bbbfe58-2e1f-47ab-a76c-86a98a2e82ee","name":"Fetch Hollywood News (Tavily)","type":"n8n-nodes-base.httpRequestTool","position":[896,224],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"hollywood news latest casting director production\",\n  \"search_depth\": \"basic\",\n  \"time_range\": \"week\",\n  \"max_results\": 5\n}\n","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"{{$credentials.TavilyApiKey}}"}]}},"typeVersion":4.2},{"id":"f126d4d3-ff36-46bc-9fba-6a6035db4068","name":"Fetch Must-Watch Movies (Tavily)","type":"n8n-nodes-base.httpRequestTool","position":[1088,224],"parameters":{"url":"https://api.tavily.com/search","method":"POST","options":{},"jsonBody":"={\n  \"query\": \"best hollywood movies playing in theatres\",\n  \"search_depth\": \"basic\",\n  \"time_range\": \"week\",\n  \"max_results\": 5\n}\n","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"{{$credentials.TavilyApiKey}}"}]}},"typeVersion":4.2},{"id":"465e0a1c-648d-4960-b476-fd6502d9e5ed","name":"Format Output for Email","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1296,224],"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Daily Hollywood Film Industry Briefing – July 25, 2025\",\n  \"body\": \"<html> ... formatted content ... </html>\"\n}\n"},"typeVersion":1.3},{"id":"11dacc4f-424c-467b-91c3-8fb86f30ab12","name":"Weekly Thursday Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[144,0],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":7}]}},"typeVersion":1.2},{"id":"52a88f90-5dcf-4a9e-ad46-2a499da4049c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-512,-400],"parameters":{"width":576,"height":992,"content":"## Try It Out! 🎬\n\n### This n8n template demonstrates how to build a **weekly Hollywood film industry briefing** using Tavily for real-time search and Google Gemini for summarization. It sends a concise, emoji‑styled email with **movie releases, box office results, industry news, and must‑watch recommendations**.\n\nUse cases: Perfect for **film journalists, entertainment blogs, or movie fans** who want an automated weekly update in their inbox.\n\n### How it works\n\n* **Trigger:** Scheduled every Thursday morning (configurable).\n* **Search:** Four Tavily API calls fetch:\n  * Movies releasing this week\n  * Last week’s box office results\n  * Hollywood industry news\n  * Must-watch movies currently in theatres\n* **Summarization:** Google Gemini processes the search results and formats them into Gmail‑friendly HTML with emojis and bullet points.\n* **Output:** Email sent automatically via Gmail node with subject and formatted briefing.\n\n### How to use\n\n* Configure **Tavily API** and **Gmail OAuth2** credentials in n8n.\n* (Optional) Edit search queries in Tavily nodes to focus on specific genres or regions.\n* Adjust the **schedule trigger** to your preferred day/time.\n\n### Requirements\n\n* Tavily API account (free tier available)\n* Google Gemini API key for summarization\n* Gmail account (OAuth2 credentials)\n\n### Need Help?\n\nDM me on [X (formerly Twitter)](https://x.com/manav170303) or email [titanfactz@gmail.com](mailto:titanfactz@gmail.com).\n\nAlways open to feedback and improvements!\n"},"typeVersion":1},{"id":"aba34eae-8a56-4093-86d4-e7aad9859bc0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1760,-400],"parameters":{"color":7,"width":752,"height":896,"content":"## Example Email Output\n\n**Daily Hollywood Film Industry Briefing – 2025, 07:00 am**\nInbox\n\n[titanfactz@gmail.com](mailto:titanfactz@gmail.com)\n07:00am (0 minutes ago)\nto me\n\n## 🎬 **Releases**\n* Dora and the Search for Sol Dorado (July 2, 2025)\n* Jurassic World Rebirth (July 2, 2025)\n* The Old Guard 2 (July 2, 2025)\n* The Sound (June 27, 2025)\n\n## 📊 **Box Office**\n* Fantastic Four: First Steps – estimated \\$40M-\\$45M opening\n* Bad Guys 2 – estimated \\$22M opening\n* Naked Gun – estimated \\$16M opening\n* Together – estimated \\$10M+ over 5-day opening\n* Superman – \\$24.8 million last week (\\$289.5 million total)\n* Jurassic World: Rebirth – \\$13.0 million last week (\\$301.5 million total)\n* F1: The Movie – \\$6.2 million last week (\\$165.5 million total)\n\n## 📰 **News**\n* Michael Peña joins Chris Hemsworth and Lily James in Amazon’s new submarine action film, *Subversion*.\n* Casting director seeks 2,000 extras for a massive concert scene in the new TV series *9-1-1*.\n* *Emily in Paris* casting director Juliette Menager discusses finding Sylvie and Camille Razat’s exit.\n\n## 🎥 **Must-Watch Movies**\n* Caught by the Tides – Jia Zhangke’s latest experimental film blending memories and archives.\n* Sinners – Highly rated 9.5/10, a compelling cinematic experience.\n* Fantastic Four: The First Steps – A big Marvel win, rated 9/10 with stunning visuals.\n* MI: The Final Reckoning – Rated 8.5/10, audiences are buzzing about this action-packed finale.\n* Superman – Fan-favorite franchise, rated 8.5/10, delivering powerful storytelling.\n* Ballerina – Rated 8.5/10, expected to feature breathtaking choreography and action.\n* Thunderbolts – Rated 7.5/10, thrilling ensemble film with dynamic character arcs."},"typeVersion":1},{"id":"b93ba6e8-080c-48fd-8a19-517e2a985182","name":"Google Gemini 2.5 Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[304,224],"parameters":{"options":{}},"credentials":{"googlePalmApi":{"id":"SuWwLWBsAfrDFgCm","name":"Google Gemini(PaLM) Api account"}},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"dfc3ce2a-95ab-45e2-816b-f35f72fbba05","connections":{"Format Output for Email":{"ai_outputParser":[[{"node":"Hollywood News Research Agent","type":"ai_outputParser","index":0}]]},"Google Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Hollywood News Research Agent","type":"ai_languageModel","index":0}]]},"Weekly Thursday Trigger":{"main":[[{"node":"Hollywood News Research Agent","type":"main","index":0}]]},"Fetch Hollywood News (Tavily)":{"ai_tool":[[{"node":"Hollywood News Research Agent","type":"ai_tool","index":0}]]},"Hollywood News Research Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Fetch Weekly Releases (Tavily)":{"ai_tool":[[{"node":"Hollywood News Research Agent","type":"ai_tool","index":0}]]},"Fetch Must-Watch Movies (Tavily)":{"ai_tool":[[{"node":"Hollywood News Research Agent","type":"ai_tool","index":0}]]},"Fetch Weekly Box Office (Tavily)":{"ai_tool":[[{"node":"Hollywood News Research Agent","type":"ai_tool","index":0}]]}}}