data/workflows/6853.json
{"meta":{"instanceId":"53bf477b-1af5-46ba-a985-4bff0059c5b3","model_name":"cyberrealistic-pony-semireal-v36","model_type":"other","version_id":"37b3641b63dde3759bd28e8c3e43a6466993ac95f3eead034cabd36506f2749c","model_owner":"0xdino","generated_at":"2025-08-01T14:50:46.761829"},"name":"0xdino/cyberrealistic-pony-semireal-v36 - Other Generator","nodes":[{"id":"adde00c7-017c-451e-b5f3-2edbb7dfd64e","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-896,-176],"parameters":{},"typeVersion":1},{"id":"2371f482-4eac-4655-bb25-75c39a7c8bf0","name":"Set API Token","type":"n8n-nodes-base.set","position":[-608,-80],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"YOUR_REPLICATE_API_TOKEN"}]}},"typeVersion":3.3},{"id":"23d51277-ff1a-464b-aaaa-fffd91dfabc1","name":"Set Other Parameters","type":"n8n-nodes-base.set","position":[-288,-128],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"={{ $('Set API Token').item.json.api_token }}"},{"id":"cfg","name":"cfg","type":"number","value":4},{"id":"seed","name":"seed","type":"number","value":0},{"id":"steps","name":"steps","type":"number","value":40},{"id":"width","name":"width","type":"number","value":768},{"id":"height","name":"height","type":"number","value":1152},{"id":"prompt","name":"prompt","type":"string","value":"score_9, score_8_up, score_7_up, super-detailed fashion portrait of a young woman in ripped denim shorts and ribbed tank top, colorful accessories, RAW photography style, soft cinematic lighting, dramatic shadows across her face and body, brown hair gently tousled, (fine-art editorial atmosphere), moody tone, high-resolution textures and rich natural detail, solo subject"},{"id":"denoise","name":"denoise","type":"number","value":0.98},{"id":"scheduler","name":"scheduler","type":"string","value":"karras"},{"id":"facerestore","name":"facerestore","type":"boolean","value":true},{"id":"sampler_name","name":"sampler_name","type":"string","value":"dpmpp_3m_sde"},{"id":"negative_prompt","name":"negative_prompt","type":"string","value":"score 6, score 5, score 4, (worst quality:1.2), (low quality:1.2), (normal quality:1.2), lowres, bad anatomy, bad hands, signature, watermarks, ugly, imperfect eyes, skewed eyes, unnatural face, unnatural body, error, extra limb, missing limbs"},{"id":"codeformer_fidelity","name":"codeformer_fidelity","type":"number","value":0.4}]}},"typeVersion":3.3},{"id":"6a0a2246-b1e0-4941-8c6a-48afe6bf56cf","name":"Create Other Prediction","type":"n8n-nodes-base.httpRequest","position":[-64,-128],"parameters":{"url":"https://api.replicate.com/v1/predictions","method":"POST","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"jsonBody":"={\n  \"version\": \"0xdino/cyberrealistic-pony-semireal-v36:37b3641b63dde3759bd28e8c3e43a6466993ac95f3eead034cabd36506f2749c\",\n  \"input\": {\n    \"cfg\": {{ $json.cfg }},\n    \"seed\": {{ $json.seed }},\n    \"steps\": {{ $json.steps }},\n    \"width\": {{ $json.width }},\n    \"height\": {{ $json.height }},\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"denoise\": {{ $json.denoise }},\n    \"scheduler\": \"{{ $json.scheduler }}\",\n    \"facerestore\": {{ $json.facerestore }},\n    \"sampler_name\": \"{{ $json.sampler_name }}\",\n    \"negative_prompt\": \"{{ $json.negative_prompt }}\",\n    \"codeformer_fidelity\": {{ $json.codeformer_fidelity }}\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.api_token }}"},{"name":"Prefer","value":"wait"}]}},"typeVersion":4.1},{"id":"a063ac92-2506-473d-956a-b92d13b9346e","name":"Wait 5s","type":"n8n-nodes-base.wait","position":[160,-128],"webhookId":"d2c4ca16-0eb2-45b4-8a2d-eec2f99df89c","parameters":{"unit":"seconds","amount":5},"typeVersion":1},{"id":"4f4184bd-5f02-4ba8-ad6b-a144935657dc","name":"Check Status","type":"n8n-nodes-base.httpRequest","position":[384,-128],"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{ $('Create Other Prediction').item.json.id }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set API Token').item.json.api_token }}"}]}},"typeVersion":4.1},{"id":"768c4b15-e630-4182-92c4-996a240dcd79","name":"Is Complete?","type":"n8n-nodes-base.if","position":[528,-240],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c93d7ba1-0ef9-4087-aa10-389cb2a2c6bd","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"succeeded"}]}},"typeVersion":2},{"id":"c04972d4-e642-4864-84e5-a4591a16eeeb","name":"Has Failed?","type":"n8n-nodes-base.if","position":[848,-80],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"d1bfd044-3a07-4c18-b55f-72d192596139","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"failed"}]}},"typeVersion":2},{"id":"a9f94e83-a23c-422a-8161-9663a4e030aa","name":"Wait 10s","type":"n8n-nodes-base.wait","position":[720,128],"webhookId":"51a05aef-e220-406d-8c2c-e59c82c3e26e","parameters":{"unit":"seconds","amount":10},"typeVersion":1},{"id":"f4a84641-ac53-48f2-a3fa-0794cd404763","name":"Success Response","type":"n8n-nodes-base.set","position":[832,-320],"parameters":{"options":{},"assignments":{"assignments":[{"id":"success-response","name":"response","type":"object","value":"={{ { success: true, result_url: $json.output, prediction_id: $json.id, status: $json.status, message: 'Other generated successfully' } }}"}]}},"typeVersion":3.3},{"id":"093afded-0007-4ea5-bfa9-22d8516957a5","name":"Error Response","type":"n8n-nodes-base.set","position":[1344,144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"error-response","name":"response","type":"object","value":"={{ { success: false, error: $json.error || 'Other generation failed', prediction_id: $json.id, status: $json.status, message: 'Failed to generate other' } }}"}]}},"typeVersion":3.3},{"id":"a9e67093-3266-4275-8a02-7097c1fd2753","name":"Display Result","type":"n8n-nodes-base.set","position":[1552,-144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"final-result","name":"final_result","type":"object","value":"={{ $json.response }}"}]}},"typeVersion":3.3},{"id":"72052da8-c3b2-4568-93a7-3f5c9999ed68","name":"Log Request","type":"n8n-nodes-base.code","position":[160,-320],"parameters":{"jsCode":"// Log generation details for monitoring\nconst data = $input.all()[0].json;\n\nconsole.log('0xdino/cyberrealistic-pony-semireal-v36 Request:', {\n  timestamp: new Date().toISOString(),\n  prediction_id: data.id,\n  model_type: 'other'\n});\n\nreturn $input.all();"},"typeVersion":2},{"id":"6914bf5d-f44b-4ebb-8989-5a51f8a36417","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1536,-304],"parameters":{"color":4,"width":580,"height":320,"content":"=======================================\n        CYBERREALISTIC-PONY-SEMIREAL-V36 GENERATOR\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n======================================="},"typeVersion":1},{"id":"f31a7bfc-5a79-4dbc-8bb2-46091bed4706","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1536,48],"parameters":{"color":4,"width":589,"height":1958,"content":"## 🤖 **0XDINO/CYBERREALISTIC-PONY-SEMIREAL-V36 - OTHER GENERATION WORKFLOW**\n\n**🔥 Powered by Replicate API and n8n Automation**\n\n---\n\n### 📝 **Model Overview**\n\n- **Owner**: 0xdino\n- **Model**: cyberrealistic-pony-semireal-v36\n- **Type**: Other Generation\n- **API Endpoint**: https://api.replicate.com/v1/predictions\n\n**🎯 What This Model Does:**\nNone\n\n---\n\n### 📋 **Parameter Reference**\n\n**🔴 Required Parameters:** None\n**🔵 Optional Parameters:** cfg, seed, steps, width, height, prompt, denoise, scheduler (and 4 more)\n\n**📖 Detailed Parameter Guide:**\n- **cfg** (number): CFG scale (Default: 4)\n- **seed** (integer): Random seed (0 = random) (Default: 0)\n- **steps** (integer): Sampling steps (Default: 40)\n- **width** (integer): Image width (Default: 768)\n- **height** (integer): Image height (Default: 1152)\n- **prompt** (string): Positive prompt (Default: score_9, score_8_up, score_7_up, super-detailed fashion portrait of a young woman in ripped denim shorts and ribbed tank top, colorful accessories, RAW photography style, soft cinematic lighting, dramatic shadows across her face and body, brown hair gently tousled, (fine-art editorial atmosphere), moody tone, high-resolution textures and rich natural detail, solo subject)\n- **denoise** (number): Denoise strength (Default: 0.98)\n- **scheduler** (string): Scheduler type (Default: karras)\n- *...and 4 more parameters*\n\n---\n\n### 🔧 **Workflow Components Explained**\n\n**🎯 Manual Trigger**\n- Starts the workflow execution\n- Click to begin other generation process\n\n**🔐 Set API Token** \n- Configures your Replicate API authentication\n- Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n- Essential for accessing the 0xdino/cyberrealistic-pony-semireal-v36 model\n\n**⚙️ Set Other Parameters**\n- Configures all input parameters for the model\n- Includes both required and optional parameters\n- Pre-filled with sensible defaults for testing\n\n**🚀 Create Other Prediction**\n- Sends the generation request to Replicate API\n- Uses the other parameters you configured\n- Returns a prediction ID for status tracking\n\n**⏳ Wait & Status Checking Loop**\n- Waits 5 seconds then checks prediction status\n- Continues checking until completion or failure\n- Implements intelligent retry logic with 10-second delays\n\n**✅ Success/Error Handling**\n- Routes successful completions to success response\n- Handles failures gracefully with error details\n- Returns structured JSON response with URLs/errors\n\n**📊 Logging & Monitoring**\n- Logs all requests for debugging and monitoring\n- Tracks timestamps and prediction IDs\n- Helps identify issues during development\n\n---\n\n### 🌟 **Key Benefits**\n\n- **🎨 Instant Other Generation**: Transform ideas into others using state-of-the-art AI\n- **🔄 Automated Workflow**: Handles the complete generation pipeline automatically\n- **🛡️ Error Resilience**: Built-in retry logic and comprehensive error handling\n- **📈 Production Ready**: Includes logging, monitoring, and structured responses\n- **🔧 Customizable**: Easy to modify parameters and extend functionality\n- **⚡ Efficient Processing**: Optimized API calls with intelligent status checking\n\n---\n\n### 🚀 **Quick Start Instructions**\n\n1. **🔑 Get Your API Key**\n   - Sign up at https://replicate.com\n   - Navigate to your account settings\n   - Copy your API token\n\n2. **🔧 Configure the Workflow**\n   - Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n   - Adjust parameters in the 'Set Other Parameters' node\n   - Customize the prompt or other inputs as needed\n\n3. **▶️ Execute the Workflow**\n   - Click the 'Manual Trigger' to start\n   - Monitor the execution in the n8n interface\n   - Check logs for detailed execution information\n\n4. **📥 Get Your Results**\n   - Successful generations return a URL to your other\n   - Download or use the generated content as needed\n   - Results are available immediately upon completion\n\n---\n\n### 🔍 **Troubleshooting Guide**\n\n**Common Issues:**\n- **Invalid API Token**: Ensure your Replicate token is valid and has sufficient credits\n- **Parameter Validation**: Check that required parameters match expected types\n- **Generation Timeout**: Some others take longer - monitor the logs\n- **Output Format**: Verify the model returns the expected output format\n\n**Best Practices:**\n- Test with default parameters first\n- Monitor your Replicate usage and billing\n- Keep API tokens secure and never commit them to code\n- Use appropriate parameter values for your use case\n\n---\n\n**🔗 Additional Resources:**\n- Model Documentation: https://replicate.com/0xdino/cyberrealistic-pony-semireal-v36\n- Replicate API Docs: https://replicate.com/docs\n- n8n Documentation: https://docs.n8n.io\n\n---"},"typeVersion":1}],"active":false,"pinData":{},"versionId":"1","connections":{"Wait 5s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Has Failed?":{"main":[[{"node":"Error Response","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Log Request":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Has Failed?","type":"main","index":0}]]},"Set API Token":{"main":[[{"node":"Set Other Parameters","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set API Token","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Set Other Parameters":{"main":[[{"node":"Create Other Prediction","type":"main","index":0}]]},"Create Other Prediction":{"main":[[{"node":"Log Request","type":"main","index":0}]]}}}