data/workflows/6871.json
{"meta":{"instanceId":"7ae0354a-8051-4c54-af1d-83d237c1e6db","model_name":"iconic-locations","model_type":"image","version_id":"cff3e2c056e4f9c0b829dc290037e7b0ceec3a294ecd6c246136aeff334585c1","model_owner":"flux-kontext-apps","generated_at":"2025-08-01T14:50:47.591893"},"name":"flux-kontext-apps/iconic-locations - Image Generator","nodes":[{"id":"7772df4f-2d8e-4141-8678-64cf4f4de8c5","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-896,-176],"parameters":{},"typeVersion":1},{"id":"48d690a6-8ffe-4cc7-950c-350a0a6ab5d8","name":"Set API Token","type":"n8n-nodes-base.set","position":[-608,-80],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"YOUR_REPLICATE_API_TOKEN"}]}},"typeVersion":3.3},{"id":"cd76e3d6-9ed4-4aa3-a0dc-38c8c587e64f","name":"Set Image Parameters","type":"n8n-nodes-base.set","position":[-288,-128],"parameters":{"options":{},"assignments":{"assignments":[{"id":"api_token","name":"api_token","type":"string","value":"={{ $('Set API Token').item.json.api_token }}"},{"id":"seed","name":"seed","type":"number","value":-1},{"id":"gender","name":"gender","type":"string","value":"none"},{"id":"input_image","name":"input_image","type":"string","value":"https://picsum.photos/512/512"},{"id":"aspect_ratio","name":"aspect_ratio","type":"string","value":"match_input_image"},{"id":"output_format","name":"output_format","type":"string","value":"png"},{"id":"iconic_location","name":"iconic_location","type":"string","value":"Eiffel Tower"},{"id":"safety_tolerance","name":"safety_tolerance","type":"number","value":2}]}},"typeVersion":3.3},{"id":"f0cb5804-820b-447e-8f8d-c5d74671364f","name":"Create Image Prediction","type":"n8n-nodes-base.httpRequest","position":[-64,-128],"parameters":{"url":"https://api.replicate.com/v1/predictions","method":"POST","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"jsonBody":"={\n  \"version\": \"flux-kontext-apps/iconic-locations:cff3e2c056e4f9c0b829dc290037e7b0ceec3a294ecd6c246136aeff334585c1\",\n  \"input\": {\n    \"seed\": {{ $json.seed }},\n    \"gender\": \"{{ $json.gender }}\",\n    \"input_image\": \"{{ $json.input_image }}\",\n    \"aspect_ratio\": \"{{ $json.aspect_ratio }}\",\n    \"output_format\": \"{{ $json.output_format }}\",\n    \"iconic_location\": \"{{ $json.iconic_location }}\",\n    \"safety_tolerance\": {{ $json.safety_tolerance }}\n  }\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.api_token }}"},{"name":"Prefer","value":"wait"}]}},"typeVersion":4.1},{"id":"099a42f2-9923-4b65-9dc1-0e8f64b1149e","name":"Wait 5s","type":"n8n-nodes-base.wait","position":[160,-128],"webhookId":"d2c4ca16-0eb2-45b4-8a2d-eec2f99df89c","parameters":{"unit":"seconds","amount":5},"typeVersion":1},{"id":"bb434d62-7ca5-4ae8-8877-69aac7cd5e0b","name":"Check Status","type":"n8n-nodes-base.httpRequest","position":[384,-128],"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{ $('Create Image Prediction').item.json.id }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set API Token').item.json.api_token }}"}]}},"typeVersion":4.1},{"id":"d82a3192-f397-4d18-8b01-4ffbb891edda","name":"Is Complete?","type":"n8n-nodes-base.if","position":[528,-240],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c93d7ba1-0ef9-4087-aa10-389cb2a2c6bd","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"succeeded"}]}},"typeVersion":2},{"id":"3445bc47-d985-460c-bfc0-e0c13a9dcc7e","name":"Has Failed?","type":"n8n-nodes-base.if","position":[848,-80],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"d1bfd044-3a07-4c18-b55f-72d192596139","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"failed"}]}},"typeVersion":2},{"id":"8269109f-86b4-41f0-921f-90a1136af36c","name":"Wait 10s","type":"n8n-nodes-base.wait","position":[720,128],"webhookId":"51a05aef-e220-406d-8c2c-e59c82c3e26e","parameters":{"unit":"seconds","amount":10},"typeVersion":1},{"id":"1a826071-d9be-46ec-a40e-8c818a2129a1","name":"Success Response","type":"n8n-nodes-base.set","position":[832,-320],"parameters":{"options":{},"assignments":{"assignments":[{"id":"success-response","name":"response","type":"object","value":"={{ { success: true, image_url: $json.output, prediction_id: $json.id, status: $json.status, message: 'Image generated successfully' } }}"}]}},"typeVersion":3.3},{"id":"73c0238f-96a8-423c-9975-fd7c57d1640f","name":"Error Response","type":"n8n-nodes-base.set","position":[1344,144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"error-response","name":"response","type":"object","value":"={{ { success: false, error: $json.error || 'Image generation failed', prediction_id: $json.id, status: $json.status, message: 'Failed to generate image' } }}"}]}},"typeVersion":3.3},{"id":"e84e1375-be57-4bf1-ab18-a196841c2f29","name":"Display Result","type":"n8n-nodes-base.set","position":[1552,-144],"parameters":{"options":{},"assignments":{"assignments":[{"id":"final-result","name":"final_result","type":"object","value":"={{ $json.response }}"}]}},"typeVersion":3.3},{"id":"49e458aa-0f16-4fab-951f-fa1d41900286","name":"Log Request","type":"n8n-nodes-base.code","position":[160,-320],"parameters":{"jsCode":"// Log generation details for monitoring\nconst data = $input.all()[0].json;\n\nconsole.log('flux-kontext-apps/iconic-locations Request:', {\n  timestamp: new Date().toISOString(),\n  prediction_id: data.id,\n  model_type: 'image'\n});\n\nreturn $input.all();"},"typeVersion":2},{"id":"bd6d61c4-b573-4058-8a18-9c929f270b16","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1536,-304],"parameters":{"color":4,"width":580,"height":320,"content":"=======================================\n        ICONIC-LOCATIONS GENERATOR\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n======================================="},"typeVersion":1},{"id":"86369184-a902-4e92-961a-c1ce87fe75ca","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1536,48],"parameters":{"color":4,"width":589,"height":1958,"content":"## 🤖 **FLUX-KONTEXT-APPS/ICONIC-LOCATIONS - IMAGE GENERATION WORKFLOW**\n\n**🔥 Powered by Replicate API and n8n Automation**\n\n---\n\n### 📝 **Model Overview**\n\n- **Owner**: flux-kontext-apps\n- **Model**: iconic-locations\n- **Type**: Image Generation\n- **API Endpoint**: https://api.replicate.com/v1/predictions\n\n**🎯 What This Model Does:**\nPut yourself in an iconic location around the world from a single image\n\n---\n\n### 📋 **Parameter Reference**\n\n**🔴 Required Parameters:** input_image\n**🔵 Optional Parameters:** seed, gender, aspect_ratio, output_format, iconic_location, safety_tolerance\n\n**📖 Detailed Parameter Guide:**\n- **seed** (integer): Random seed. Set for reproducible generation\n- **gender** (string): The gender of the person (Default: none)\n- **input_image** (string): Image of the person to transport to an iconic location. Must be jpeg, png, gif, or webp.\n- **aspect_ratio** (string): Aspect ratio of the generated image. Use 'match_input_image' to match the aspect ratio of the inp... (Default: match_input_image)\n- **output_format** (string): Output format for the generated image (Default: png)\n- **iconic_location** (string): The iconic location to place the person in (Default: Eiffel Tower)\n- **safety_tolerance** (integer): Safety tolerance, 0 is most strict and 2 is most permissive. 2 is currently the maximum allowed. (Default: 2)\n\n---\n\n### 🔧 **Workflow Components Explained**\n\n**🎯 Manual Trigger**\n- Starts the workflow execution\n- Click to begin image generation process\n\n**🔐 Set API Token** \n- Configures your Replicate API authentication\n- Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n- Essential for accessing the flux-kontext-apps/iconic-locations model\n\n**⚙️ Set Image Parameters**\n- Configures all input parameters for the model\n- Includes both required and optional parameters\n- Pre-filled with sensible defaults for testing\n\n**🚀 Create Image Prediction**\n- Sends the generation request to Replicate API\n- Uses the image parameters you configured\n- Returns a prediction ID for status tracking\n\n**⏳ Wait & Status Checking Loop**\n- Waits 5 seconds then checks prediction status\n- Continues checking until completion or failure\n- Implements intelligent retry logic with 10-second delays\n\n**✅ Success/Error Handling**\n- Routes successful completions to success response\n- Handles failures gracefully with error details\n- Returns structured JSON response with URLs/errors\n\n**📊 Logging & Monitoring**\n- Logs all requests for debugging and monitoring\n- Tracks timestamps and prediction IDs\n- Helps identify issues during development\n\n---\n\n### 🌟 **Key Benefits**\n\n- **🎨 Instant Image Generation**: Transform ideas into images using state-of-the-art AI\n- **🔄 Automated Workflow**: Handles the complete generation pipeline automatically\n- **🛡️ Error Resilience**: Built-in retry logic and comprehensive error handling\n- **📈 Production Ready**: Includes logging, monitoring, and structured responses\n- **🔧 Customizable**: Easy to modify parameters and extend functionality\n- **⚡ Efficient Processing**: Optimized API calls with intelligent status checking\n\n---\n\n### 🚀 **Quick Start Instructions**\n\n1. **🔑 Get Your API Key**\n   - Sign up at https://replicate.com\n   - Navigate to your account settings\n   - Copy your API token\n\n2. **🔧 Configure the Workflow**\n   - Replace 'YOUR_REPLICATE_API_TOKEN' with your actual token\n   - Adjust parameters in the 'Set Image Parameters' node\n   - Customize the prompt or other inputs as needed\n\n3. **▶️ Execute the Workflow**\n   - Click the 'Manual Trigger' to start\n   - Monitor the execution in the n8n interface\n   - Check logs for detailed execution information\n\n4. **📥 Get Your Results**\n   - Successful generations return a URL to your image\n   - Download or use the generated content as needed\n   - Results are available immediately upon completion\n\n---\n\n### 🔍 **Troubleshooting Guide**\n\n**Common Issues:**\n- **Invalid API Token**: Ensure your Replicate token is valid and has sufficient credits\n- **Parameter Validation**: Check that required parameters match expected types\n- **Generation Timeout**: Some images take longer - monitor the logs\n- **Output Format**: Verify the model returns the expected output format\n\n**Best Practices:**\n- Test with default parameters first\n- Monitor your Replicate usage and billing\n- Keep API tokens secure and never commit them to code\n- Use appropriate parameter values for your use case\n\n---\n\n**🔗 Additional Resources:**\n- Model Documentation: https://replicate.com/flux-kontext-apps/iconic-locations\n- Replicate API Docs: https://replicate.com/docs\n- n8n Documentation: https://docs.n8n.io\n\n---"},"typeVersion":1}],"active":false,"pinData":{},"versionId":"1","connections":{"Wait 5s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Has Failed?":{"main":[[{"node":"Error Response","type":"main","index":0}],[{"node":"Wait 10s","type":"main","index":0}]]},"Log Request":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Success Response","type":"main","index":0}],[{"node":"Has Failed?","type":"main","index":0}]]},"Set API Token":{"main":[[{"node":"Set Image Parameters","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Set API Token","type":"main","index":0}]]},"Success Response":{"main":[[{"node":"Display Result","type":"main","index":0}]]},"Set Image Parameters":{"main":[[{"node":"Create Image Prediction","type":"main","index":0}]]},"Create Image Prediction":{"main":[[{"node":"Log Request","type":"main","index":0}]]}}}