data/workflows/7194.json
{"id":"MATk1GTgv5UewRJB","meta":{"instanceId":"b9d26382fbc087c17fe86e193d09f32e5d99f4a254d13f3b8ee28079e71766cf","templateCredsSetupCompleted":true},"name":"URL Checker with AI Prod","tags":[],"nodes":[{"id":"f4103bbf-3fd0-447e-8635-79e7f83bd115","name":"Webhook","type":"n8n-nodes-base.webhook","position":[0,96],"webhookId":"6269ba57-045c-4752-b2a6-8a6af3acd437","parameters":{"path":"url-check","options":{},"httpMethod":"POST"},"typeVersion":2},{"id":"4e844875-cf83-427c-9ea1-aa496e270246","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","position":[448,96],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-nano","cachedResultName":"GPT-4.1-NANO"},"options":{},"messages":{"values":[{"content":"=You are a helpful website uptime analyzer. Given an HTTP response, determine if the site is up or down, and explain why.\n{\n  \"url\": \"{{ $('Webhook').item.json.body.url[0] }}\",\n  \"status_code\": \"{{ $json.statusCode }}\",\n  \"body_snippet\": \"{{ $json.data }}\",\n  \"headers\": \"{{ JSON.stringify($json.headers).slice(0, 500) }}\"\n}\n {{ $('Webhook').item.json.body.url[0] }}\n\nIf the resutls error out \"getaddrinfo ENOTFOUND\" respond back in a helpful manner. "}]},"jsonOutput":true},"credentials":{"openAiApi":{"id":"IZ5MCnU8soAAAld3","name":"OpenAi account"}},"typeVersion":1.8},{"id":"1bc231e1-eb60-4f34-a59f-d0f5f9aca2a3","name":"If","type":"n8n-nodes-base.if","position":[848,96],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3465caee-4abf-4fa6-842f-308f378997ec","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.message.content.site_status }}","rightValue":"up"},{"id":"1d79778b-10c8-4b53-b628-8c67bb17926f","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $('HTTP Request').item.json.statusCode }}","rightValue":200}]}},"typeVersion":2.2},{"id":"f39cab38-9ca4-4365-a192-00ba556162cb","name":"Gmail Success Message","type":"n8n-nodes-base.gmail","position":[1072,0],"webhookId":"6b1c8679-c0fa-43cf-b091-819e568a97f7","parameters":{"sendTo":"test@gmail.com","message":"=<h2>🌐 Website Status Check Result</h2> <p><strong>URL:</strong>{{ $('Webhook').item.json.body.url[0] }} </p> <p><strong>Status:{{ $json.message.content.site_status }}</strong> </p> <p><strong>Reason:</strong><br> {{ $json.message.content.reason }}</p> <hr> <p>Generated by n8n + ChatGPT</p>","options":{"appendAttribution":false},"subject":"=✅ Website is {{ $json.message.content.site_status }}: Status Check for {{ $('Webhook').item.json.body.url[0] }}"},"credentials":{"gmailOAuth2":{"id":"3P9F7TWBBBCuujN","name":"Gmail account"}},"typeVersion":2.1},{"id":"15bf2432-4e64-4f1a-8823-c470f4aa7ae6","name":"Gmail Error Message","type":"n8n-nodes-base.gmail","position":[1072,192],"webhookId":"6b1c8679-c0fa-43cf-b091-819e568a97f7","parameters":{"sendTo":"test@gmail.com","message":"=<h2>🌐 Website Status Check Result</h2> <p><strong>URL:</strong>{{ $('Webhook').item.json.body.url[0] }} </p> <p><strong>Status:{{ $json.message.content.status }}</strong> </p> <p><strong>Reason:</strong><br> {{ $json.message.content.reason }}</p> <hr> <p>Generated by n8n + ChatGPT</p>","options":{},"subject":"=❌ Website Status Check for {{ $('Webhook').item.json.body.url[0] }}"},"credentials":{"gmailOAuth2":{"id":"3P9F7TCCCCuujN","name":"Gmail account"}},"typeVersion":2.1},{"id":"12e02b10-4293-4db1-bc15-4b8ee0150ccd","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","onError":"continueErrorOutput","position":[224,96],"parameters":{"url":"={{ $json.body.url[0] }}","options":{"response":{"response":{"fullResponse":true}},"allowUnauthorizedCerts":true}},"typeVersion":4.2,"alwaysOutputData":true},{"id":"66bf05c3-4127-420e-959b-dd4049cf6829","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-544,-16],"parameters":{"color":4,"width":416,"height":224,"content":"**Input format**\n\nPOST JSON:\n{ \"url\": \"https://example.com\" }\n\nIf your sender posts:\n{ \"body\": { \"url\": [\"https://example.com\"] } }\nkeep the existing expressions.\n\nOtherwise, update expressions to match your payload shape.\n"},"typeVersion":1},{"id":"a6690c63-d12b-46c4-8f52-ab5edabf529b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-480,240],"parameters":{"color":2,"width":288,"height":176,"content":"**AI Model & Credentials**\n\nUse n8n Credentials for OpenAI (Message a model).\nDo NOT paste API keys directly into nodes.\n\nThe AI can summarize headers/body (truncated) to explain failures.\n"},"typeVersion":1},{"id":"634e717f-482e-4fa4-8307-e4dfc69c8eba","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-464,448],"parameters":{"color":3,"content":"**Error Handling**\n\nNetwork/DNS errors (e.g., getaddrinfo ENOTFOUND) are explained by the AI.\nHTTP non-200 codes are treated as \"down\" and go to the Error email path.\nAdjust IF logic if your service treats 3xx as OK."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"5d0b1d0e-c41b-4715-8caf-e73b1244bdf5","connections":{"If":{"main":[[{"node":"Gmail Success Message","type":"main","index":0}],[{"node":"Gmail Error Message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If","type":"main","index":0}]]}}}