data/workflows/7604.json
{"meta":{"instanceId":"f01290caa6c024522b0ed5bb2d09cea02bb113d8970b898b340ca3d74255326e"},"nodes":[{"id":"c973768c-211d-4222-bb78-184616c0506e","name":"Start: Every Hour","type":"n8n-nodes-base.cron","position":[-96,-32],"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"typeVersion":1},{"id":"5aba0708-72a9-4abe-b76d-15f656fda507","name":"FTP: List Files","type":"n8n-nodes-base.ftp","position":[176,-32],"parameters":{"path":"/{{FTP_FOLDER}}","operation":"list"},"typeVersion":1},{"id":"a448e878-9029-451e-b340-73a3a04d00f1","name":"FTP: Download File","type":"n8n-nodes-base.ftp","position":[416,-32],"parameters":{"path":"={{$json[\"path\"]}}","options":{}},"typeVersion":1},{"id":"6dab0201-c99f-4f73-bcf1-f6b659e162b4","name":"Google Drive: Upload","type":"n8n-nodes-base.googleDrive","position":[656,-32],"parameters":{"options":{},"binaryData":true,"authentication":"oAuth2"},"credentials":{"googleDriveOAuth2Api":{"id":"GOOGLE_DRIVE_ID","name":"My Drive"}},"typeVersion":1},{"id":"93ec351a-3bd8-4199-83ba-556c73213cf7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-656,-336],"parameters":{"width":480,"height":640,"content":"# FTP to Google Drive File Sync\n\n## What this workflow does\nThis workflow automatically **downloads files from an FTP folder** and **uploads them to Google Drive**.  \nIt’s useful for backup, reporting, or syncing data between systems.\n\n## How it works\n1. **Cron Trigger** runs on a schedule (default: every hour).  \n2. **FTP List node** checks the specified folder on your FTP server.  \n3. **FTP Download node** fetches each file found.  \n4. **Google Drive Upload node** saves the file into your chosen Google Drive folder.\n\n## Setup\n- **FTP:** Add your FTP credentials and replace `{{FTP_FOLDER}}` with the path of the folder you want to sync.  \n- **Google Drive:** Connect your Google Drive account and replace `{{GDRIVE_FOLDER_ID}}` with the folder ID where files should be stored.  \n- Adjust the Cron schedule (e.g. daily, weekly) depending on how often you need the sync.\n"},"typeVersion":1}],"pinData":{},"connections":{"FTP: List Files":{"main":[[{"node":"FTP: Download File","type":"main","index":0}]]},"Start: Every Hour":{"main":[[{"node":"FTP: List Files","type":"main","index":0}]]},"FTP: Download File":{"main":[[{"node":"Google Drive: Upload","type":"main","index":0}]]}}}