data/workflows/7619.json
{"meta":{"instanceId":"ad0113c344ee237399e44e9f11798b05baeb83a6196d514a9ae9d2ad71c3b5c9","templateCredsSetupCompleted":true},"nodes":[{"id":"edea30b9-4fe9-4c32-a10b-4775910ef67e","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-528,8640],"parameters":{},"typeVersion":1},{"id":"bbc37d37-8f20-4249-971b-fa5b769f0de8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1056,8448],"parameters":{"width":400,"height":928,"content":"\n\n## ⚙️ Setup Instructions\n\n### 1️⃣ Connect Trello (Developer API)\n1. Get your **API key**: https://trello.com/app-key  \n2. Generate a **token** (from the same page → **Token**)\n3. In n8n → **Credentials → New → Trello API**, paste **API Key** and **Token**, save.  \n4. Open each Trello node (**Get Board**, **Get Lists**, **Get Cards**) and select your Trello credential.\n\n\n### 2️⃣ Add Your Board URL to “Get Board”\n1. Copy your Trello board URL (e.g., `https://trello.com/b/DCpuJbnd/administrative-tasks`).  \n2. Open the **Get Board** node → **Resource: Board**, **Operation: Get**.  \n3. In **ID**, choose **URL** mode and paste the **board URL**.  \n   - The node will resolve the board and output its `id` → used by **Get Lists** / **Get Cards**.\n\n## 📬 Contact\n📧 [robert@ynteractive.com](mailto:robert@ynteractive.com)  \n🔗 [Robert Breen](https://www.linkedin.com/in/robert-breen-29429625/)  \n🌐 [ynteractive.com](https://ynteractive.com)\n"},"typeVersion":1},{"id":"a73b1919-5a5f-496c-9997-4531e0b189ad","name":"Sticky Note56","type":"n8n-nodes-base.stickyNote","position":[-608,8448],"parameters":{"color":7,"width":1504,"height":928,"content":"# 🗑️ Auto Trello Cleanup with Label and Delete Card Node\n\nAutomatically clean up Trello boards by deleting any cards labeled **“Mark for Deletion.”**  \n\nThis workflow checks all cards on your chosen Trello board, looks for the **Mark for Deletion** label, and removes those cards automatically — keeping your boards tidy without manual effort.  \n"},"typeVersion":1},{"id":"a0130405-c569-4818-b16c-388b57361467","name":"Get Board4","type":"n8n-nodes-base.trello","position":[-288,8640],"parameters":{"id":{"__rl":true,"mode":"url","value":"https://trello.com/b/DCpuJbnd/administrative-tasks"},"resource":"board","operation":"get","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"e830fbda-f003-423f-b2b2-817f0f8374e3","name":"Get Lists4","type":"n8n-nodes-base.trello","position":[-320,9184],"parameters":{"id":"={{ $json.id }}","resource":"list","operation":"getAll","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"bb7d03ca-997c-4192-98a1-dd39c3b58b66","name":"Get Cards4","type":"n8n-nodes-base.trello","position":[-112,8816],"parameters":{"id":"={{ $json.id }}","resource":"list","operation":"getCards","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"ecf75f1a-e7b4-4bc1-896c-16efb26e74d3","name":"Sticky Note58","type":"n8n-nodes-base.stickyNote","position":[-432,9008],"parameters":{"color":3,"width":336,"height":304,"content":"### 1️⃣ Connect Trello (Developer API)\n1. Get your **API key**: https://trello.com/app-key  \n2. Generate a **token** (from the same page → **Token**)\n3. In n8n → **Credentials → New → Trello API**, paste **API Key** and **Token**, save.  "},"typeVersion":1},{"id":"a4d8f9f3-a074-4789-960e-8e385573788b","name":"Delete a card","type":"n8n-nodes-base.trello","position":[656,8704],"parameters":{"id":{"__rl":true,"mode":"id","value":"={{ $('Get Cards4').item.json.id }}"},"operation":"delete"},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"2d8d605f-db25-4697-8261-ade5f7ae086d","name":"Split Labels","type":"n8n-nodes-base.splitOut","position":[96,9088],"parameters":{"options":{},"fieldToSplitOut":"labels"},"typeVersion":1},{"id":"8baddef5-5eb3-41d1-bfb4-7867b4aa2deb","name":"Filter Marked for Delete","type":"n8n-nodes-base.filter","position":[368,8864],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"58a9c806-b9ef-43d5-9f4d-6d0dfcae474e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.name }}","rightValue":"Mark for Deletion"}]}},"typeVersion":2.2}],"pinData":{},"connections":{"Get Board4":{"main":[[{"node":"Get Lists4","type":"main","index":0}]]},"Get Cards4":{"main":[[{"node":"Split Labels","type":"main","index":0}]]},"Get Lists4":{"main":[[{"node":"Get Cards4","type":"main","index":0}]]},"Split Labels":{"main":[[{"node":"Filter Marked for Delete","type":"main","index":0}]]},"Filter Marked for Delete":{"main":[[{"node":"Delete a card","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Board4","type":"main","index":0}]]}}}