data/workflows/7673.json
{"meta":{"instanceId":"ad0113c344ee237399e44e9f11798b05baeb83a6196d514a9ae9d2ad71c3b5c9","templateCredsSetupCompleted":true},"nodes":[{"id":"299e3c15-7a6f-4c92-9c1d-2cb763e62a9d","name":"Sticky Note47","type":"n8n-nodes-base.stickyNote","position":[-192,3312],"parameters":{"color":7,"width":1248,"height":928,"content":"# 📋 Trello → Google Sheets Daily Task Status\n\nThis workflow **pulls all tasks from your Trello board** every day and logs them into a **Google Sheet**.  \nUse it to track project progress, due dates, and keep a daily snapshot of your board’s status.\n\n"},"typeVersion":1},{"id":"df25de48-0aac-4a7e-af2e-e61be0ebc369","name":"Get Board2","type":"n8n-nodes-base.trello","position":[-128,3728],"parameters":{"id":{"__rl":true,"mode":"url","value":"https://trello.com/b/DCpuJbnd/administrative-tasks"},"resource":"board","operation":"get","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"e2311a05-aeb5-4039-a11a-934f94ba4d72","name":"Get Lists2","type":"n8n-nodes-base.trello","position":[144,4016],"parameters":{"id":"={{ $json.id }}","resource":"list","operation":"getAll","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"592ae7d6-c757-41dd-b3ce-68811803f9bc","name":"Get Cards2","type":"n8n-nodes-base.trello","position":[368,3584],"parameters":{"id":"={{ $json.id }}","resource":"list","operation":"getCards","additionalFields":{}},"credentials":{"trelloApi":{"id":"0inUg5020tWOj6Qr","name":"Trello account 4"}},"typeVersion":1},{"id":"e5ca7c3b-97d4-4e01-b022-de796a9b69cd","name":"Map Fields2","type":"n8n-nodes-base.set","position":[544,3808],"parameters":{"options":{},"assignments":{"assignments":[{"id":"3c2613df-a000-4c8e-bd27-2aef696f5ced","name":"Board Name","type":"string","value":"={{ $('Get Board2').item.json.name }}"},{"id":"e4048a3f-d352-4b1f-a76a-4fbf9b74b163","name":"List Name","type":"string","value":"={{ $('Get Lists2').item.json.name }}"},{"id":"d0236a8a-8129-4370-b241-9e27adcb9952","name":"Task Name","type":"string","value":"={{ $json.name }}"},{"id":"8b6b23c1-1661-4af7-b62d-4facaf0d2651","name":"Task Description","type":"string","value":"={{ $json.desc }}"},{"id":"1bc7f7c2-9121-4059-81e3-7f6962e509cc","name":"Due Date","type":"string","value":"={{ $json.badges.due.trim().substring(0, 10) }}"},{"id":"d6410de8-9d2f-4ef4-9e41-4f5eb6224534","name":"url","type":"string","value":"={{ $json.url }}"}]}},"typeVersion":3.4},{"id":"1f7b1c4f-a63c-4fed-ab02-dde5d79465ae","name":"Sticky Note49","type":"n8n-nodes-base.stickyNote","position":[80,3792],"parameters":{"color":3,"width":224,"height":352,"content":"### 1️⃣ Connect Trello (Developer API)\n1. Get your **API key**: https://trello.com/app-key  \n2. Generate a **token** (from the same page → **Token**)\n3. In n8n → **Credentials → New → Trello API**, paste **API Key** and **Token**, save.  "},"typeVersion":1},{"id":"426d15b6-107b-417d-9508-a5985be97015","name":"Merge1","type":"n8n-nodes-base.merge","position":[784,3824],"parameters":{"mode":"combine","options":{},"combineBy":"combineAll"},"typeVersion":3.2},{"id":"9291c303-4098-466e-a0ac-7284c0240e5b","name":"Today's Date1","type":"n8n-nodes-base.code","position":[800,3408],"parameters":{"jsCode":"return [\n  {\n    json: {\n      badges: {\n        today: new Date().toISOString().split('T')[0]  \n      }\n    }\n  }\n];\n"},"typeVersion":2},{"id":"40e6b69d-3300-4f7c-9cb7-d294a45e3bd1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-640,3312],"parameters":{"width":400,"height":928,"content":"\n## ⚙️ Setup Instructions\n\n### 1️⃣ Connect Trello (Developer API)\n1. Get your **API key**: [Trello App Key](https://trello.com/app-key)  \n2. On the same page, generate a **Token** (click **Token**)  \n3. In **n8n** → **Credentials → New → Trello API**, paste your **API Key** + **Token**, then save.  \n4. Open each Trello node (**Get Board**, **Get Lists**, **Get Cards**) and select your Trello credential.  \n\n---\n\n## 🧠 How It Works\n- **Schedule Trigger**: Runs daily (can be customized).  \n- **Get Board → Get Lists → Get Cards**: Pulls every task, its list, due date, and description.  \n- **Map Fields**: Normalizes the data (board name, list name, task name, description, due date, URL).  \n- **Today's Date Node**: Adds a timestamp column so each run is logged.  \n- **Google Sheets (Append)**: Appends all task rows into a sheet → creating a **daily history log**.\n\n---\n\n## 📬 Contact\nNeed help customizing this (e.g., filtering by list, or sending reports by email/Slack)?  \n\n📧 **robert@ynteractive.com**  \n🔗 **[Robert Breen](https://www.linkedin.com/in/robert-breen-29429625/)**  \n🌐 **[ynteractive.com](https://ynteractive.com)**\n"},"typeVersion":1},{"id":"457f6ed8-42ad-433c-9df6-db372b47d518","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-80,3456],"parameters":{"rule":{"interval":[{}]}},"typeVersion":1.2},{"id":"31096032-6f0b-4b31-bb07-ac895aff193e","name":"Daily Progress to Sheet","type":"n8n-nodes-base.googleSheets","position":[800,4064],"parameters":{"columns":{"value":{"url":"={{ $json.url }}","Date":"={{ $('Today\\'s Date1').item.json.badges.today }}","Due Date":"={{ $json['Due Date'] }}","List Name":"={{ $json['List Name'] }}","Task Name":"={{ $json['Task Name'] }}","Task Description":"={{ $json['Task Description'] }}"},"schema":[{"id":"Date","type":"string","display":true,"removed":false,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"List Name","type":"string","display":true,"removed":false,"required":false,"displayName":"List Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Task Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Task Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Task Description","type":"string","display":true,"removed":false,"required":false,"displayName":"Task Description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Due Date","type":"string","display":true,"removed":false,"required":false,"displayName":"Due Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"url","type":"string","display":true,"removed":false,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yAdFAsq38OTtZ52jJV2m9LpzGQH-PQmCW-ZPPBF3AAg/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1yAdFAsq38OTtZ52jJV2m9LpzGQH-PQmCW-ZPPBF3AAg","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yAdFAsq38OTtZ52jJV2m9LpzGQH-PQmCW-ZPPBF3AAg/edit?usp=drivesdk","cachedResultName":"Trello Progress"}},"credentials":{"googleSheetsOAuth2Api":{"id":"HlBW2puZbuCCq8jJ","name":"Google Sheets account 3"}},"typeVersion":4.7}],"pinData":{},"connections":{"Merge1":{"main":[[{"node":"Daily Progress to Sheet","type":"main","index":0}]]},"Get Board2":{"main":[[{"node":"Get Lists2","type":"main","index":0}]]},"Get Cards2":{"main":[[{"node":"Map Fields2","type":"main","index":0}]]},"Get Lists2":{"main":[[{"node":"Get Cards2","type":"main","index":0}]]},"Map Fields2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Today's Date1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Board2","type":"main","index":0},{"node":"Today's Date1","type":"main","index":0}]]}}}