data/workflows/8862.json
{"id":"DySX4VwXkFHS2hBu","meta":{"instanceId":"e2a1d0ec98fd0994972a016020dcf90b56d31fa85f2abd02801701fb8fc45e3d","templateCredsSetupCompleted":true},"name":"Product Review Sentiment Analysis","tags":[],"nodes":[{"id":"470cda20-f5d6-42cf-9c7b-c177fc1b668e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[768,16],"parameters":{"url":"https://api.browseract.com/v2/workflow/run-task","method":"POST","options":{},"sendBody":true,"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"workflow_id","value":"53146166844202600"}]},"genericAuthType":"httpBearerAuth"},"credentials":{"httpBearerAuth":{"id":"x2SDklVkEIBFM56U","name":"BrowserACtaPi"}},"retryOnFail":true,"typeVersion":4.2,"alwaysOutputData":true},{"id":"dded721b-a8c2-45c8-945f-4d3b3c075590","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","position":[1104,0],"parameters":{"url":"https://api.browseract.com/v2/workflow/get-task","options":{},"sendQuery":true,"authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","queryParameters":{"parameters":[{"name":"=task_id","value":"={{ $json.id }}"}]}},"credentials":{"httpBearerAuth":{"id":"x2SDklVkEIBFM56U","name":"BrowserACtaPi"}},"typeVersion":4.2},{"id":"53cb4d92-892c-4129-af82-92518437f1ff","name":"Wait","type":"n8n-nodes-base.wait","position":[1232,224],"webhookId":"1d17d26d-ed09-4b4c-b3cc-3ea966dad986","parameters":{"unit":"minutes","amount":1},"typeVersion":1.1},{"id":"9448871f-3035-4ef4-8650-b1b5067cb6a5","name":"Wait1","type":"n8n-nodes-base.wait","position":[896,224],"webhookId":"6eb807a9-6f6f-4b28-a4ad-0a7bfb8122e8","parameters":{"unit":"minutes","amount":1},"typeVersion":1.1},{"id":"49194dea-48db-4279-b8d1-6894423cf13e","name":"If","type":"n8n-nodes-base.if","position":[896,16],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d48ae258-78a0-4b26-923d-2643b6b774c6","operator":{"type":"object","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""},{"id":"3967a169-8432-45bd-8f89-08795fd12679","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"null"}]}},"retryOnFail":false,"typeVersion":2.2},{"id":"72bc73be-c64b-4a41-a94a-6d86e3f9424d","name":"If1","type":"n8n-nodes-base.if","position":[1232,0],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0347a2a2-eb32-414d-9494-4e648078cf40","operator":{"type":"object","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""},{"id":"99f31959-6f27-40dd-97c3-6ff611da1e0b","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"finished"}]}},"typeVersion":2.2},{"id":"c2e08eb7-7d25-45c5-a9dc-a023de9df292","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1520,-16],"parameters":{"text":"=from the \n\n{{ $json.output.string }} \n\nyou can see teh reviews it contains list of map like this \n\n[\n{\n\"Name\":\n\"Rating\":\n\"Summary\":\n}\n]\n\nread every single item \"Summary\" Analyze them and after you finished generate improvement recommendations and send them into the output in text \n\ntry to send these recommendations to Telegram and email with further details.","options":{},"promptType":"define"},"typeVersion":2.2},{"id":"7dbc8ef3-42f1-4567-8882-e9ad930e90a5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[704,-16],"parameters":{"color":5,"width":688,"height":432,"content":""},"typeVersion":1},{"id":"cb55770c-e747-415a-86b1-7245ec2b3f89","name":"Send email in Send Email","type":"n8n-nodes-base.emailSendTool","position":[1728,272],"webhookId":"0d59c517-f453-4b28-992f-e99bba556f30","parameters":{"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","options":{},"subject":"Recomendation","toEmail":"test@gmail.com","fromEmail":"=test@Test","emailFormat":"text"},"credentials":{"smtp":{"id":"iIY5wE8mwPrmrM4E","name":"SMTP account"}},"typeVersion":2.1},{"id":"476f23b0-a51d-4cb9-9d4f-b0d832dfdd89","name":"Send a text message in Telegram","type":"n8n-nodes-base.telegramTool","position":[1584,272],"webhookId":"a2cc10bf-5895-4a74-9419-1ccf134be32a","parameters":{"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","chatId":"@shoaywbs","additionalFields":{}},"credentials":{"telegramApi":{"id":"34LCOs7mfDx5vkSV","name":"Telegram account"}},"typeVersion":1.2},{"id":"24c3f5f6-6222-4fba-949a-bbd5f5b8cb86","name":"Send email","type":"n8n-nodes-base.emailSend","position":[2064,-16],"webhookId":"77c42f78-1d9d-41e0-8486-c0d359f3b04b","parameters":{"text":"={{ $('AI Agent').item.json.output }}","options":{},"subject":"Recomendation","toEmail":"smj.kshp@gmail.com","fromEmail":"test@test","emailFormat":"text"},"credentials":{"smtp":{"id":"iIY5wE8mwPrmrM4E","name":"SMTP account"}},"typeVersion":2.1},{"id":"8fc634eb-c46e-44d7-bc81-88987496988e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1408,-16],"parameters":{"color":4,"width":464,"height":432,"content":""},"typeVersion":1},{"id":"80e09f34-6ea7-40ed-9b92-22e73f05df5b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1888,-16],"parameters":{"color":3,"width":384,"content":""},"typeVersion":1},{"id":"26ded3f0-8262-47f8-9fe4-4f9074d9ca8e","name":"Send a text message1","type":"n8n-nodes-base.telegram","position":[1936,-16],"webhookId":"c4ea90ed-5510-4eae-a09b-a8505b592b41","parameters":{"text":"=Recomendation : \n{{ $json.output }}","chatId":"@shoaywbs","additionalFields":{}},"credentials":{"telegramApi":{"id":"34LCOs7mfDx5vkSV","name":"Telegram account"}},"typeVersion":1.2},{"id":"ad8560fd-df86-4443-bd7a-05969a63f2a0","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[496,16],"parameters":{},"typeVersion":1},{"id":"0184aa9b-e017-47eb-9043-97715c77de4c","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1440,240],"parameters":{"options":{}},"credentials":{"googlePalmApi":{"id":"G8YK0DTLFGi5n0WD","name":"Google Gemini(PaLM) Api account"}},"typeVersion":1},{"id":"daf91d3f-e648-4ab1-a557-99503c134bd9","name":"Sticky Note-Start","type":"n8n-nodes-base.stickyNote","position":[-16,-208],"parameters":{"width":460,"height":600,"content":"## Try It Out!\n### This n8n template demonstrates how to perform product review sentiment analysis and generate improvement recommendations using an AI Agent.\n\n### How it works\n* The workflow is triggered manually.\n* An **HTTP Request** node starts a task with the BrowserAct API to scrape product reviews from a website.\n* An **If** node checks if the task was created successfully. If not, it waits and retries.\n* A second **HTTP Request** node retrieves the task results once the scraping is complete.\n* Another **If** node checks if the scraping task is finished. If not, it waits and retries.\n* The **AI Agent** node processes the scraped reviews, analyzes the sentiment of each review summary, and generates improvement recommendations.\n* The recommendations are then sent to a Telegram group and an email address using **Telegram** and **Email Send** nodes.\n\n### Requirements\n* **BrowserAct** API account\n* **Gemini** account for the AI Agent\n* **Telegram** and **SMTP** credentials for sending messages\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/UpnCKd7GaU) or Visit Our [Blog](https://www.browseract.com/blog)!\n\n"},"typeVersion":1},{"id":"3e5f6cdb-9721-43e8-88a8-bbd9d43577fa","name":"Sticky Note-Scraping","type":"n8n-nodes-base.stickyNote","position":[704,-224],"parameters":{"color":5,"width":352,"height":200,"content":"## 1. Trigger the Product Review Scraper\n\nThis workflow uses an HTTP Request to start a scraping task via the BrowserAct API. The task will scrape product reviews from a specified website. We're using a separate node for this to make it clean."},"typeVersion":1},{"id":"d718f4b5-ae07-4216-99a4-9436e6502ef8","name":"Sticky Note-Wait","type":"n8n-nodes-base.stickyNote","position":[1072,-224],"parameters":{"color":5,"width":320,"height":200,"content":"## 2. Wait for Scraping to Finish\n\nThese nodes check the status of the scraping task. The `If` node determines if the task is complete. If it's still running, the `Wait` node pauses the workflow for a set period before retrying to check the status."},"typeVersion":1},{"id":"dd2a6ca3-e361-4597-83b3-1da40e7313a5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1408,-224],"parameters":{"color":4,"width":464,"height":192,"content":"## 3. Use an AI Agent to Analyze Reviews and Generate Recommendations\n[Read more about the AI Agent node](https://docs.n8n.io/integrations/builtin/ai/agent-nodes/n8n-nodes-langchain.agent/)\n\nThis node uses an AI Agent to perform a complex task: analyzing the sentiment of each product review summary and then generating actionable recommendations for improvement. It leverages a connected language model (Google Gemini) and can use other tools in the workflow to complete its task, such as sending emails and Telegram messages."},"typeVersion":1},{"id":"b311da33-c74e-4111-925a-c75220bba628","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1888,-208],"parameters":{"color":3,"width":384,"height":176,"content":"## 4. Send the Recommendations via Email and Telegram\n[Read more about the Email Send node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.emailSend/)\n[Read more about the Telegram node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/)\n\nThe final output from the AI Agent is sent to the specified email and Telegram accounts, delivering the improvement recommendations directly to the relevant stakeholders."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"de3a369b-c383-403e-abf0-0612e49b2b0e","connections":{"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send email in Send Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send a text message in Telegram":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}}}