data/workflows/8934.json
{"id":"S14d5Of2kjngUlJ2","meta":{"instanceId":"64afa67daba01e364eb193406d5ebaf1298a377b74ba19d6119987e421b1b327","templateId":"3224","templateCredsSetupCompleted":true},"name":"Analyze Website with OpenAI And Get Email with On-Page CRO/SEO/IT Audit","tags":[],"nodes":[{"id":"e280139f-94b8-49dc-91e7-c6ffa0c04716","name":"Scrape Website","type":"n8n-nodes-base.httpRequest","position":[576,264],"parameters":{"url":"={{ $json.body.payload.data.URL }}","options":{}},"typeVersion":4.2},{"id":"de9ff0da-4ef9-4878-af0d-5733e010402c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[872,888],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"credentials":{"openAiApi":{"id":"w7KazJ7U5OZ1qnuY","name":"OpenAi sensonar-n8n"}},"typeVersion":1.2},{"id":"25969781-4b1c-42ad-969c-efbb605be9e5","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[872,384],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"credentials":{"openAiApi":{"id":"w7KazJ7U5OZ1qnuY","name":"OpenAi sensonar-n8n"}},"typeVersion":1.2},{"id":"3d172f93-7d94-4a43-9403-5cec799bbe47","name":"Merge","type":"n8n-nodes-base.merge","position":[1152,248],"parameters":{"numberInputs":3},"typeVersion":3,"alwaysOutputData":true},{"id":"2081bf62-0e47-497e-8a3e-d30d330f6a9d","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1376,264],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]}},"typeVersion":1},{"id":"e1cfc16e-e0dc-4298-9b94-ffb7f23b45aa","name":"Markdown","type":"n8n-nodes-base.markdown","position":[1952,264],"parameters":{"mode":"markdownToHtml","options":{},"markdown":"={{ $json.output }}"},"typeVersion":1},{"id":"3242a0c3-4439-4ad1-8185-47185046080d","name":"Gmail","type":"n8n-nodes-base.gmail","position":[2176,264],"webhookId":"2979e4dc-1689-447e-8cd4-eb907b4eedf4","parameters":{"sendTo":"={{ $('Webhook Webpage Audit AI Agent').item.json.body.payload.data.Email }}","message":"={{ $json.data }}","options":{"replyTo":"sensonar@sensonar.com","senderName":"Sensonar Audit AI Agent","appendAttribution":false},"subject":"=Sensonar Audit AI Agent for {{ $('Webhook Webpage Audit AI Agent').item.json.body.payload.data.URL }}"},"credentials":{"gmailOAuth2":{"id":"xfDA7MwAT0qmJnXQ","name":"Gmail sebastian.jakubiak@sensonar.com"}},"typeVersion":2.1},{"id":"6088321b-2612-4a2b-ab63-df87cf1b01d4","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[872,-16],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"credentials":{"openAiApi":{"id":"w7KazJ7U5OZ1qnuY","name":"OpenAi sensonar-n8n"}},"typeVersion":1.2},{"id":"b693e35c-c0d4-4202-8c5e-2a5646a16cc4","name":"CRO AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[800,664],"parameters":{"text":"=You are the best CRO & Digital Marketing Strategist in the country—a world-class expert in Conversion Rate Optimization, UX, and behavioral psychology for landing pages. \n\nAwareness of Other Agents:\n- Do NOT analyze technical SEO factors like HTML structure, indexing, or page speed (this is done by the Technical SEO Agent).\n- Do NOT analyze keyword usage, readability, or search intent alignment (this is done by the Content SEO Agent).\n- Focus ONLY on conversion optimization, UX, and marketing psychology.\n\nYour task: Analyze the provided landing page and perform a full Conversion & Marketing Audit.\n\nAudit Structure:\n- Critical Barriers – Elements blocking conversions or confusing users.\n- Quick Wins – Low-effort, high-return UX and conversion improvements.\n- Growth Opportunities – Strategic recommendations for long-term conversion lift.\n\nFocus Areas:\n- Messaging & Value Proposition – Is it clear, compelling, and differentiated?\n- CTA Optimization – Placement, clarity, contrast, and persuasiveness.\n- Visual Hierarchy & UX – Layout, scannability, mobile responsiveness.\n- Trust & Credibility – Social proof, testimonials, security badges.\n- Engagement Triggers – Microcopy, personalization, urgency, interactivity.\n- Funnel Alignment – Is the page aligned with its acquisition channel intent?\n\nDeliverable:\n- Return ONLY the structured audit findings and recommendations in bullet-point format.\n- Do not include any introductory or explanatory text.\n- Format the output in Markdown format, ready to be inserted into an email as:\n# On-Page CRO Content Audit\n\nInput (Landing Page Content & HTML): {{ $json.data }}","options":{"systemMessage":"You are a world-class CRO & Digital Marketing Consultant. \nYour role is to analyze and improve conversion rate optimization, UX, messaging clarity, and marketing psychology with the rigor and style of a top management consulting firm. \nStay strictly in the scope of conversion optimization, CTAs, visual hierarchy, trust signals, credibility, engagement triggers, and funnel alignment. \nDo NOT comment on technical SEO (HTML, indexing, Core Web Vitals) or keyword/content analysis. \nCommunicate with clarity, professionalism, and structured bullet points. \nYour deliverables must read like a high-value CRO/marketing audit prepared by Accenture or BCG.\n"},"promptType":"define"},"typeVersion":1.7},{"id":"0f135a2d-156c-43ee-b254-581c7d543a8c","name":"SEO AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[800,160],"parameters":{"text":"=You are the best SEO Content Strategist in the country—a world-class expert in creating content that dominates Google rankings and engages readers. \n\nAwareness of Other Agents:\n- Do NOT analyze technical factors such as metadata, site speed, or crawlability (this is done by the Technical SEO Agent).\n- Do NOT analyze conversion optimization, CTA clarity, or psychological triggers (this is done by the CRO/Marketing Agent).\n- Focus ONLY on the quality and optimization of the content itself.\n\nYour task: Analyze the provided landing page content and perform a detailed SEO Content Audit.\n\nAudit Structure:\n1. Analysis\n   - Content Quality Assessment – Accuracy, originality, engagement, alignment with search intent.\n   - Keyword Research and Analysis – Primary & secondary keywords, density, placement, semantic relevance.\n   - Readability Analysis – Use Flesch-Kincaid, Flesch Reading Ease, and Gunning-Fog Index.\n\n2. Recommendations\n   - Provide clear, actionable recommendations to improve:\n     - Rankings on Google\n     - User engagement\n     - Content clarity and persuasiveness\n\nDeliverable:\n- Return ONLY the structured audit (Analysis + Recommendations) in bullet-point format.\n- Do not include any introductory or explanatory text.\n- Format the output in **clean HTML + professional Markdown**, ready to be inserted into an email as:\n\n# On-Page SEO Content Audit\n\nInput (Landing Page Content & HTML): {{ $json.data }}\n","options":{"systemMessage":"You are a world-class SEO Content Strategist. \nYour role is to analyze and improve website content with the authority and depth of a top-tier consultant. \nStay strictly in the scope of content quality, keyword optimization, semantic relevance, readability, and alignment with search intent. \nDo NOT comment on technical issues (HTML, metadata, indexing) or conversion optimization (CTAs, UX, psychology). \nCommunicate with clarity, professionalism, and structured bullet points. \nYour deliverables must resemble a polished content strategy audit produced by a leading digital consulting firm.\n"},"promptType":"define"},"typeVersion":1.7},{"id":"622b078d-d7a8-40ec-8e63-c2546910aedc","name":"IT Technical AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[800,-240],"parameters":{"text":"=You are the best Technical SEO Manager in the country—a world-class expert in optimizing websites to rank on Google and security breaches through flawless technical execution. \n\nAwareness of Other Agents:\n- Do NOT analyze or comment on content quality, keywords, readability, or messaging (this is done by the Content SEO Agent).\n- Do NOT analyze conversion, CTA design, or marketing psychology (this is done by the CRO/Marketing Agent).\n- Focus ONLY on technical SEO and SecOps factors.\n\nYour task: Analyze the provided HTML code of the webpage and perform a comprehensive On-Page Technical Audit.\n\nAudit Structure:\n- Critical Issues – Must be fixed immediately (blocking SEO or SecOps problems).\n- Quick Wins – Easy fixes with high impact.\n- Opportunities for Improvement – Require more effort but provide long-term benefits.\n\nFocus Areas:\n- Markdown structure, semantic markup, and schema\n- Metadata (title tags, meta descriptions, Open Graph, Twitter cards)\n- Heading hierarchy (H1–H6 usage)\n- URL structure, canonical tags\n- Internal linking and navigation\n- Image optimization (alt tags, compression, formats)\n- Mobile-friendliness, responsive design\n- Page speed, Core Web Vitals\n- Indexability and crawlability\n- Security and accessibility\n- AI Bots and crawlers defence plan\n\nDeliverable:\n- Return ONLY the structured audit findings and recommendations in bullet-point format.\n- Do not include any explanations, context, or intro text.\n- Format the output in **clean HTML + professional Markdown**, ready to be inserted into an email as:\n\n# On-Page Technical Audit\n\nInput (Landing Page Content & HTML): {{ $json.data }}\n","options":{"systemMessage":"You are a world-class Technical SEO Consultant. \nYour role is to act like a top-level expert in website technical optimization, with the precision and depth of a senior consultant. \nStay strictly in the scope of technical SEO (HTML structure, metadata, schema, headings, indexing, crawlability, Core Web Vitals, internal linking, image optimization, mobile friendliness, security, accessibility). \nDo NOT comment on content quality, keywords, or conversion design. \nCommunicate with clarity, professionalism, and structured bullet points. \nYour deliverables must look like they were produced by a consulting firm."},"promptType":"define"},"typeVersion":1.7},{"id":"09f4ec5c-aef1-4ec3-b34a-b4f1b59cd8c0","name":"Editor in Chef AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1600,264],"parameters":{"text":"=Based on the following survey results for a company webpage, craft a consulting-style summary.\n\nInput:\n{{ $json.output }}\n\nDeliverable:\n- Write a professional and motivating report.\n- Use the following structure:\n\n# Summary\n(Concise overview of the most important findings, framed as business impact as executive summary)\n\n# Key Strengths\n- Bullet points with positive factors from the survey\n\n# Areas for Improvement\n- Bullet points highlighting gaps and challenges\n\n# Strategic Opportunities\n(A short narrative showing how improvement could drive growth, efficiency, and competitiveness)\n\n# Next Step\nInvite the client to engage the AI Improvement Agent, who will design a new digital strategy and website structure based on a personalized questionnaire. \nAdd a polite but firm call-to-action with a placeholder link to directly response to the agent: sensonar@sensonar.com ➜] encouraging user to resolve this issues.\n\nFormatting:\n- Markdown only, clean and readable.\n- Style: persuasive, consulting-level, motivating action.\n\nBranding:\n- Sensonar branding is a must.\n- Always include this logo at the top, linking to Sensonar homepage:\n  <a href=\"https://www.sensonar.com/\" target=\"_blank\">\n    <img src=\"https://cdn.prod.website-files.com/6540c08f5a4abefc9c0172ad/6548d3107d76af5bc7d0a983_footer-logo.svg\" alt=\"Sensonar Logo\" \n\nReference in the text locator to the analyzed landing page as well as to improve credibility and your trusted advisor role: {{ $('Webhook Webpage Audit AI Agent').item.json.body.payload.data.URL }}\n\nOutput message ONLY in language specified by variable LANGUAGE:{{ $('Webhook Webpage Audit AI Agent').item.json.body.payload.data.language }}","options":{"systemMessage":"=You are a world-class Business Consulting Communication Specialist, writing in the style of Accenture, BCG, Deloitte, EY, or Gartner, but formatted like a premium newsletter. \n\nYour role is to transform the audit results produced by the three agents (Technical, SEO Content, CRO) into a polished, client-facing email newsletter. This newsletter must both inform and persuade the client to take the next step in the value chain: engaging the AI Improvement Agent to redesign their digital presence.\n\nFormatting:\n- Structure like a consulting-style newsletter:\n  1. Header with logo and intro image (placeholder if none provided).\n  2. Executive Summary with 2–3 sentences (the most critical findings).\n  3. Key Findings broken into sections:\n     - On-Page Technical Audit\n     - On-Page SEO Content Audit\n     - On-Page CRO Content Audit\n  4. Business Impact section (why these findings matter).\n  5. Next Step → clear CTA to engage the AI Improvement Agent.\n- Dont use emoji icons but keep executive polish.\n- Use bold and bullet points for key stats.\n- CTA should be a button-style link: [Wypełnij ankietę i uruchom swojego Agenta AI ➜]\n\nTone & Style:\n- Executive-level, persuasive, and aspirational.\n- Positive but candid (acknowledge gaps while showing growth potential).\n- Written in the language specified by: {{ $('Webhook Webpage Audit AI Agent').item.json.body.payload.data.language }}\n- Motivate the client to move forward with the Improvement Agent (paid value), not a free consultation.\n\nOutput:\n- A fully formatted HTML + Markdown email that can be sent directly via Gmail.\n- Structure must resemble a premium business newsletter with Sensonar branding.\n"},"promptType":"define"},"typeVersion":2.2},{"id":"2d3c6c23-1ced-4a1f-ace2-5354c28fdf27","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[1672,488],"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude Sonnet 4"},"options":{}},"credentials":{"anthropicApi":{"id":"zmtmP5aExLgQWDMW","name":"Anthropic n8n"}},"typeVersion":1.3},{"id":"7af75948-5e3a-4e8a-a23d-c0ae36610b58","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-464,-272],"parameters":{"color":7,"width":636,"height":853,"content":"![Sensonar Logo](https://cdn.prod.website-files.com/6540c08f5a4abefc9c0172ad/67cf2fc8095b00fc474866ac_logo_sensonar_black.png)\n\n## AI AGENT that writes a Digital Audit Report of your website then send it directly to your email\n\nThis workflow launches a team of AI Agents that perform a complete analysis of your website:  \n- **Technical SEO** – checking code structure and performance,  \n- **Content SEO** – evaluating content, keywords, and readability,  \n- **CRO** – reviewing conversions, UX, and marketing.  \n\nThen, the **Editor in Chief Agent** merges all findings into an elegant consulting-style email report.  \n\nThe result is a **clear business newsletter** that not only highlights issues but also **encourages the next step**: engaging the **AI Improvement Agent**, who designs a new website structure and marketing plan.  \n\nThe workflow uses **OpenAI GPT-4o-mini and Claude Sonnet**, combining analysis speed with premium report quality.  \n\nCost per run: **$0.40–$0.70 USD** (depending on content length of the website).  \n\n**Designed and Developed by [Sebastian Jakubiak](https://www.linkedin.com/in/sjakubiak) at [Sensonar](https://www.sensonar.com)**  \n\nEnjoy the Workflow! ❤️  \nhttps://sensonar.com"},"typeVersion":1},{"id":"3a6041be-3288-431e-9c23-79fc60537371","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[2400,264],"parameters":{"options":{},"respondWith":"noData"},"typeVersion":1.4},{"id":"5dde69be-16b9-47e4-bb55-2dbcf53d2f4a","name":"Webhook Webpage Audit AI Agent","type":"n8n-nodes-base.webhook","position":[352,264],"webhookId":"5acc6769-6c0f-42a8-a69c-b05e437e18a9","parameters":{"path":"webpage-audit-ai-agent","options":{"rawBody":true},"httpMethod":"POST","responseMode":"responseNode"},"typeVersion":2}],"active":true,"pinData":{},"settings":{},"versionId":"f199dc98-7234-4132-ba1a-75f4983a8763","connections":{"Gmail":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Editor in Chef AI Agent","type":"main","index":0}]]},"CRO AI Agent":{"main":[[{"node":"Merge","type":"main","index":2}]]},"SEO AI Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Scrape Website":{"main":[[{"node":"IT Technical AI Agent","type":"main","index":0},{"node":"CRO AI Agent","type":"main","index":0},{"node":"SEO AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"CRO AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"SEO AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"IT Technical AI Agent","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Editor in Chef AI Agent","type":"ai_languageModel","index":0}]]},"IT Technical AI Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Editor in Chef AI Agent":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Webhook Webpage Audit AI Agent":{"main":[[{"node":"Scrape Website","type":"main","index":0}]]}}}