data/workflows/9064.json
{"id":"7B7AcKrFEDy327RZ","meta":{"instanceId":"9d3ad2b0b06f15865a1efbbb5bc949adf3892c4b2cb5fbd5ffa4fd9c2ab68ec8","templateCredsSetupCompleted":true},"name":"OzWebExpert Pages Sync","tags":[],"nodes":[{"id":"d02af42c-adf0-48c3-abc2-e4b86d0c1080","name":"If","type":"n8n-nodes-base.if","position":[1280,-32],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"9f6aa04b-801a-4b18-978d-3f359e9acb5f","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $('Loop Vars').item.json.current_page }}","rightValue":"={{ $('Get Posts').item.json.headers['x-wp-totalpages'] }}"}]},"looseTypeValidation":true},"typeVersion":2.2},{"id":"9b149bab-2bf1-45fa-8ccf-12357f1cd625","name":"Variables","type":"n8n-nodes-base.set","position":[160,-32],"parameters":{"mode":"raw","options":{},"jsonOutput":"{\n  \"base_url\": \"https://ozwebexpert.com/wp-json/wp/v2/posts\",\n  \"fields\": \"id,slug,link,date,title,excerpt,categories,tags,featured_media,_embedded\",\n  \"per_page\": 10,\n  \"current_page\": 0\n}\n"},"typeVersion":3.4},{"id":"b212bc2f-7336-495d-b642-bc72d9024230","name":"Loop Vars","type":"n8n-nodes-base.code","position":[384,-32],"parameters":{"jsCode":"let vars;\ntry {\n  vars = $('Loop Vars').first().json;\n} catch (e) {\n  vars = $('Variables').first().json;\n}\n\nconst next = Number(vars?.current_page ?? 1) + 1;\nvars.current_page = next;\n\nreturn [\n  {\n    json: { ...vars, current_page: next }\n  }\n];\n"},"typeVersion":2},{"id":"9d51b4d2-da24-4606-8a20-4d6ab0955359","name":"Get Posts","type":"n8n-nodes-base.httpRequest","position":[608,-112],"parameters":{"url":"={{$json.base_url}}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}},"sendQuery":true,"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","queryParameters":{"parameters":[{"name":"=per_page","value":"={{$json.per_page}}"},{"name":"=page","value":"={{ $json.current_page }}"},{"name":"=_embed","value":"wp:featuredmedia,wp:term"},{"name":"=_fields","value":"={{$json.fields}}"},{"name":"orderby","value":"date"},{"name":"order","value":"desc"}]}},"credentials":{"httpBasicAuth":{"id":"YNLFCQMOQ5chwmKN","name":"WP OzWebExpert Token"}},"typeVersion":4.2},{"id":"9c99b153-43be-45ab-9bf5-d3925cd1d39d","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[832,-112],"parameters":{"include":"allOtherFields","options":{},"fieldToSplitOut":"body"},"typeVersion":1},{"id":"300b882e-6710-4844-acd9-83fb84e68db8","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-64,-128],"webhookId":"6071c43c-0641-4049-8162-1d8fdd1b088a","parameters":{"path":"6071c43c-0641-4049-8162-1d8fdd1b088a","options":{}},"typeVersion":2.1},{"id":"5a1c1bc8-22da-4810-800a-0705f407e1aa","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-64,64],"parameters":{"rule":{"interval":[{}]}},"typeVersion":1.2},{"id":"22cf5cc9-7966-4f56-a9b3-98b3b0386adf","name":"Get Categories","type":"n8n-nodes-base.httpRequest","position":[1504,-224],"parameters":{"url":"https://ozwebexpert.com/wp-json/wp/v2/categories","options":{},"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth"},"credentials":{"httpBasicAuth":{"id":"YNLFCQMOQ5chwmKN","name":"WP OzWebExpert Token"}},"executeOnce":true,"typeVersion":4.2},{"id":"0545b7d6-99a5-4868-b6ce-773f669d76c9","name":"Update Categories","type":"n8n-nodes-base.googleSheets","position":[1728,-224],"parameters":{"columns":{"value":{"slug":"={{ $json.slug }}","title":"={{ $json.name }}","category_id":"={{ $json.id }}","description":"={{ $json.description }}"},"schema":[{"id":"category_id","type":"string","display":true,"removed":false,"required":false,"displayName":"category_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"removed":false,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"removed":false,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"slug","type":"string","display":true,"removed":false,"required":false,"displayName":"slug","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["category_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":1002593339,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit#gid=1002593339","cachedResultName":"Categories"},"documentId":{"__rl":true,"mode":"list","value":"1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit?usp=drivesdk","cachedResultName":"OzWebExpert Pages"}},"credentials":{"googleSheetsOAuth2Api":{"id":"zR1Pjt2V4y1fIz3v","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"925cbc59-61f8-46f6-a16c-f666dd251559","name":"Update Posts","type":"n8n-nodes-base.googleSheets","position":[1056,-112],"parameters":{"columns":{"value":{"id":"={{ $json.body.id }}","date":"={{ $json.body.date }}","link":"={{ $json.body.link }}","slug":"={{ $json.body.slug }}","tags":"={{ $json.body.tags }}","title":"={{ $json.body.title.rendered }}","excerpt":"={{ $json.body.excerpt.rendered }}","categories":"={{ $json.body.categories[0] }}","featured_media":"={{ $json.body.featured_media }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"date","type":"string","display":true,"required":false,"displayName":"date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"slug","type":"string","display":true,"required":false,"displayName":"slug","defaultMatch":false,"canBeUsedToMatch":true},{"id":"link","type":"string","display":true,"required":false,"displayName":"link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"excerpt","type":"string","display":true,"required":false,"displayName":"excerpt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"featured_media","type":"string","display":true,"required":false,"displayName":"featured_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"categories","type":"string","display":true,"required":false,"displayName":"categories","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tags","type":"string","display":true,"required":false,"displayName":"tags","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit#gid=0","cachedResultName":"Posts"},"documentId":{"__rl":true,"mode":"list","value":"1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit?usp=drivesdk","cachedResultName":"OzWebExpert Pages"}},"credentials":{"googleSheetsOAuth2Api":{"id":"zR1Pjt2V4y1fIz3v","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"dd97a786-c4d7-4ae5-a7cd-afe9c2f624fa","name":"Get Media","type":"n8n-nodes-base.httpRequest","position":[1952,160],"parameters":{"url":"={{$json.base_url}}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}},"sendQuery":true,"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","queryParameters":{"parameters":[{"name":"per_page","value":"={{ $json.per_page }}"},{"name":"page","value":"={{ $json.current_page }}"},{"name":"parent_exclude","value":"0"}]}},"credentials":{"httpBasicAuth":{"id":"YNLFCQMOQ5chwmKN","name":"WP OzWebExpert Token"}},"typeVersion":4.2},{"id":"6460cb4c-7070-45db-acb9-96ae90dbf87d","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[2176,160],"parameters":{"options":{},"fieldToSplitOut":"body"},"typeVersion":1},{"id":"b55bbd23-55d0-4056-8523-b210e2587608","name":"Update Media","type":"n8n-nodes-base.googleSheets","position":[2400,160],"parameters":{"columns":{"value":{"alt":"={{ $json.alt_text }}","url":"={{ $json.source_url }}","slug":"={{ $json.slug }}","title":"={{ $json.title.rendered }}","width":"={{ $json.media_details.sizes.full.width }}","height":"={{ $json.media_details.sizes.full.height }}","post_id":"={{ $json.post }}","media_id":"={{ $json.id }}"},"schema":[{"id":"media_id","type":"string","display":true,"removed":false,"required":false,"displayName":"media_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"alt","type":"string","display":true,"removed":false,"required":false,"displayName":"alt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"removed":false,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"slug","type":"string","display":true,"removed":false,"required":false,"displayName":"slug","defaultMatch":false,"canBeUsedToMatch":true},{"id":"url","type":"string","display":true,"removed":false,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"width","type":"string","display":true,"removed":false,"required":false,"displayName":"width","defaultMatch":false,"canBeUsedToMatch":true},{"id":"height","type":"string","display":true,"removed":false,"required":false,"displayName":"height","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["media_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":1436699446,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit#gid=1436699446","cachedResultName":"Media"},"documentId":{"__rl":true,"mode":"list","value":"1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit?usp=drivesdk","cachedResultName":"OzWebExpert Pages"}},"credentials":{"googleSheetsOAuth2Api":{"id":"zR1Pjt2V4y1fIz3v","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"9241a839-c31d-4ae8-940a-cfb4820d872e","name":"Variables2","type":"n8n-nodes-base.set","position":[1504,240],"parameters":{"mode":"raw","options":{},"jsonOutput":"{\n  \"base_url\": \"https://ozwebexpert.com/wp-json/wp/v2/media\",\n  \"per_page\": 10,\n  \"current_page\": 0\n}\n"},"typeVersion":3.4},{"id":"86c17537-f302-4ab5-9bf4-8e6f19e05590","name":"Loop Vars2","type":"n8n-nodes-base.code","position":[1728,240],"parameters":{"jsCode":"let vars;\ntry {\n  vars = $('Loop Vars2').first().json;\n} catch (e) {\n  vars = $('Variables2').first().json;\n}\n\nconst next = Number(vars?.current_page ?? 1) + 1;\nvars.current_page = next;\n\nreturn [\n  {\n    json: { ...vars, current_page: next }\n  }\n];\n"},"typeVersion":2},{"id":"d26157bc-ea03-4879-af62-8a04ffee988a","name":"If1","type":"n8n-nodes-base.if","position":[2624,240],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"9f6aa04b-801a-4b18-978d-3f359e9acb5f","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $('Loop Vars2').item.json.current_page }}","rightValue":"={{ $('Get Media').item.json.headers['x-wp-totalpages'] }}"}]},"looseTypeValidation":true},"typeVersion":2.2},{"id":"0f753751-f357-4f6e-86da-7b9f230ce722","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[1504,-32],"parameters":{"url":"=https://ozwebexpert.com/wp-json/wp/v2/tags","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}},"sendQuery":true,"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","queryParameters":{"parameters":[{"name":"=per_page","value":"100"},{"name":"=_fields","value":"id,name,slug"}]}},"credentials":{"httpBasicAuth":{"id":"YNLFCQMOQ5chwmKN","name":"WP OzWebExpert Token"}},"executeOnce":true,"typeVersion":4.2},{"id":"ade5be7f-ae1f-488e-8c0e-65e51b96c04b","name":"Split Out2","type":"n8n-nodes-base.splitOut","position":[1728,-32],"parameters":{"options":{},"fieldToSplitOut":"body"},"typeVersion":1},{"id":"20e9044d-5179-4cdf-88e2-af981d006189","name":"Append or update row in sheet","type":"n8n-nodes-base.googleSheets","position":[1952,-32],"parameters":{"columns":{"value":{"name":"={{ $json.name }}","slug":"={{ $json.slug }}","tag_id":"={{ $json.id }}"},"schema":[{"id":"tag_id","type":"string","display":true,"removed":false,"required":false,"displayName":"tag_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"name","type":"string","display":true,"removed":false,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"slug","type":"string","display":true,"removed":false,"required":false,"displayName":"slug","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["tag_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":1137750815,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit#gid=1137750815","cachedResultName":"Tags"},"documentId":{"__rl":true,"mode":"list","value":"1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pU-PVyUTzzXYSd7mItRdakLRIqISeHdjDkUaLtAa8jQ/edit?usp=drivesdk","cachedResultName":"OzWebExpert Pages"}},"credentials":{"googleSheetsOAuth2Api":{"id":"zR1Pjt2V4y1fIz3v","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"917091da-f793-4601-85a2-1892cc22b475","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-192,-256],"parameters":{"width":224,"height":96,"content":"## Two ways to start\nSchedule runs daily, webhook for manual refresh."},"typeVersion":1},{"id":"7757f07c-b165-49a4-bb0b-9e7c3f501b16","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[240,-128],"parameters":{"width":160,"height":80,"content":"Initialise pagination variables for REST API requests."},"typeVersion":1},{"id":"f529ad4f-9991-4401-b227-cf49d113b63d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[672,-208],"parameters":{"width":448,"height":80,"content":"Fetch posts from WP, split them, and upsert into 'Posts' sheet."},"typeVersion":1},{"id":"d9252925-56d0-4f76-bc54-b0bddbe3340b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1232,-144],"parameters":{"width":160,"height":96,"content":"Check if we’ve reached the last page of posts. If not, continue loop."},"typeVersion":1},{"id":"e2c5ae67-c53f-4acd-bfa2-6bdc7ccd2b0b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1728,-320],"parameters":{"width":176,"height":80,"content":"Sync categories into 'Categories' sheet"},"typeVersion":1},{"id":"1c7fb585-9dbe-4dde-8fbc-a5f778382640","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1968,-128],"parameters":{"width":160,"height":80,"content":"Fetch tags and update 'Tags' sheet."},"typeVersion":1},{"id":"9b2bcac1-32d6-4b2c-84a5-7ac947074440","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1536,144],"parameters":{"width":176,"height":96,"content":"Fetch media library (with pagination) and sync into 'Media' sheet."},"typeVersion":1},{"id":"9bdd3186-9871-46f5-bbf5-41518cb83243","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2624,112],"parameters":{"width":150,"height":96,"content":"Stop or continue looping until all media pages are processed."},"typeVersion":1},{"id":"d5615f65-6fe3-404c-a661-7fcf591b6fe8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-192,-816],"parameters":{"width":800,"height":512,"content":"## Video Guide\n@[youtube](czSMWyD6f-0)\n"},"typeVersion":1},{"id":"9e93fb43-35e6-4039-9be8-232aafdf0b5f","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[640,-608],"parameters":{"width":448,"content":"## Google Sheets Template\nhttps://docs.google.com/spreadsheets/d/1i4h5kybiYLTT0wTzXbWN7rxp-DV6dOyNcwqgg8I5Rv4/edit?usp=sharing(https://docs.google.com/spreadsheets/d/1i4h5kybiYLTT0wTzXbWN7rxp-DV6dOyNcwqgg8I5Rv4/edit?usp=sharing)"},"typeVersion":1}],"active":true,"pinData":{},"settings":{"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"7B7AcKrFEDy327RZ","executionOrder":"v1"},"versionId":"c529adf8-545c-4739-a5db-50333066ad89","connections":{"If":{"main":[[{"node":"Get Categories","type":"main","index":0},{"node":"Variables2","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}],[{"node":"Loop Vars","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Loop Vars2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Get Media":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Posts":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Vars":{"main":[[{"node":"Get Posts","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Update Posts","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Loop Vars","type":"main","index":0}]]},"Loop Vars2":{"main":[[{"node":"Get Media","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Update Media","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Variables2":{"main":[[{"node":"Loop Vars2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Update Media":{"main":[[{"node":"If1","type":"main","index":0}]]},"Update Posts":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Categories":{"main":[[{"node":"Update Categories","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Update Categories":{"main":[[]]}}}