data/workflows/9426.json
{"name":"Enterprise Reddit Intelligence & Engagement Platform","tags":["reddit","ai","lead-generation","competitive-intelligence","automation"],"nodes":[{"name":"Sticky Note Overview","type":"n8n-nodes-base.stickyNote","position":[80,60],"parameters":{"color":4,"width":450,"height":320,"content":"## 🚀 Enterprise Reddit Intelligence Platform\n\n**Advanced Capabilities:**\n- 🎯 Multi-stage AI analysis (sentiment, intent, competitor tracking)\n- 🔍 Competitive intelligence monitoring\n- 🧪 A/B testing for engagement strategies\n- 🤖 ML-powered lead scoring & prioritization\n- 📊 Historical performance learning\n- 🔄 Multi-touch nurture sequences\n- 👥 Team collaboration & approval workflows\n- 📈 Cross-platform lead enrichment (LinkedIn, email)\n- 🛡️ Advanced quality & compliance checks\n- 📱 Real-time alerts & reporting\n\n**Handles 500+ daily interactions across 20+ subreddits**"},"typeVersion":1},{"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[250,400],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"typeVersion":1},{"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[250,520],"webhookId":"reddit-webhook-1","parameters":{"path":"reddit-intelligence","responseMode":"responseNode"},"typeVersion":1},{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[250,640],"parameters":{},"typeVersion":1},{"name":"Merge Triggers","type":"n8n-nodes-base.merge","position":[450,500],"parameters":{"mode":"mergeByPosition"},"typeVersion":2},{"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[580,60],"parameters":{"color":5,"width":340,"height":240,"content":"## 📋 Smart Subreddit Strategy\n\n**Dynamic Selection:**\n- Load from database (customizable)\n- Priority-based processing\n- Performance-based rotation\n- Industry-specific targeting\n- Trending subreddit detection\n\n**Includes:**\n- 20+ target subreddits\n- Competitor subreddit monitoring\n- Industry trend tracking\n- Niche community discovery"},"typeVersion":1},{"name":"Load Subreddit Config","type":"n8n-nodes-base.httpRequest","position":[650,500],"parameters":{"url":"={{$env.DB_API_URL}}/config/subreddits","options":{"retry":{"maxRetries":3}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"typeVersion":3},{"name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[780,60],"parameters":{"color":5,"width":340,"height":240,"content":"## 🔄 Parallel Processing Engine\n\n**Simultaneous Operations:**\n1. Target subreddit monitoring\n2. Competitor tracking\n3. Historical post analysis\n4. Trending topic detection\n\n**Efficiency:**\n- Process multiple subreddits at once\n- Reduce total execution time\n- Better resource utilization\n- Real-time responsiveness"},"typeVersion":1},{"name":"Split Subreddits","type":"n8n-nodes-base.splitInBatches","position":[850,500],"parameters":{"batchSize":5},"typeVersion":3},{"name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[980,60],"parameters":{"color":6,"width":340,"height":240,"content":"## 🕵️ Competitive Intelligence\n\n**Tracks Competitors:**\n- Competitor brand mentions\n- Service comparisons\n- Pricing discussions\n- Customer complaints\n- Market positioning\n\n**Actions:**\n- Alert team to competitor activity\n- Prepare counter-responses\n- Identify market gaps\n- Track sentiment shifts"},"typeVersion":1},{"name":"Search Posts","type":"n8n-nodes-base.reddit","position":[1050,400],"parameters":{"sort":"new","limit":30,"resource":"post","operation":"search","subreddit":"={{$json.subreddit}}"},"credentials":{"redditOAuth2Api":{"id":"1","name":"Reddit OAuth2"}},"typeVersion":1},{"name":"Search Competitor Mentions","type":"n8n-nodes-base.reddit","position":[1050,600],"parameters":{"sort":"new","limit":20,"query":"={{$env.COMPETITOR_KEYWORDS}}","resource":"post","operation":"search","subreddit":"={{$json.subreddit}}"},"credentials":{"redditOAuth2Api":{"id":"1","name":"Reddit OAuth2"}},"typeVersion":1},{"name":"Merge Search Results","type":"n8n-nodes-base.merge","position":[1250,500],"parameters":{"mode":"mergeByPosition"},"typeVersion":2},{"name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1380,60],"parameters":{"color":6,"width":340,"height":240,"content":"## 🔍 Duplicate Prevention\n\n**Prevents Re-engagement:**\n- Checks historical engagement DB\n- Identifies already-commented posts\n- Tracks recent interactions\n- Prevents spam appearance\n\n**Database Lookup:**\n- Post ID matching\n- Author interaction history\n- Engagement recency\n- Success/failure tracking"},"typeVersion":1},{"name":"Check Engagement History","type":"n8n-nodes-base.httpRequest","position":[1450,500],"parameters":{"url":"={{$env.DB_API_URL}}/engagement/check","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"postId","value":"={{$json.id}}"},{"name":"author","value":"={{$json.author}}"}]}},"typeVersion":3},{"name":"Filter New Posts","type":"n8n-nodes-base.if","position":[1650,500],"parameters":{"conditions":{"boolean":[{"value1":"={{$json.alreadyEngaged}}","value2":false}]}},"typeVersion":1},{"name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1780,60],"parameters":{"color":7,"width":360,"height":260,"content":"## 🧠 Multi-Stage AI Analysis\n\n**Stage 1: Content Understanding**\n- Sentiment analysis (positive/negative/neutral)\n- Intent classification (help/vent/question)\n- Topic extraction\n- Entity recognition\n\n**Stage 2: Business Intelligence**\n- Relevance scoring (0-100)\n- Damage type identification\n- Urgency detection\n- Budget indicators\n\n**Stage 3: Strategic Assessment**\n- Engagement opportunity\n- Lead potential (0-1.0)\n- Competitor mention detection\n- Response strategy"},"typeVersion":1},{"name":"AI Stage 1","type":"n8n-nodes-base.httpRequest","position":[1850,500],"parameters":{"url":"={{$env.AI_API_URL}}/analyze/content","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{$json.title + ' ' + ($json.selftext || '')}}"},{"name":"context","value":"={{$json.subreddit}}"}]}},"typeVersion":3},{"name":"AI Stage 2","type":"n8n-nodes-base.httpRequest","position":[2050,500],"parameters":{"url":"={{$env.AI_API_URL}}/analyze/business","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"contentAnalysis","value":"={{JSON.stringify($json.stage1Analysis)}}"},{"name":"industry","value":"insurance"}]}},"typeVersion":3},{"name":"AI Stage 3","type":"n8n-nodes-base.httpRequest","position":[2250,500],"parameters":{"url":"={{$env.AI_API_URL}}/analyze/strategy","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"analysis","value":"={{JSON.stringify($json.stage2Analysis)}}"}]}},"typeVersion":3},{"name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2380,60],"parameters":{"color":7,"width":340,"height":240,"content":"## 📊 Historical Learning\n\n**ML-Powered Optimization:**\n- Analyzes past engagement success\n- Identifies winning patterns\n- Predicts engagement outcomes\n- Optimizes response strategies\n\n**Learning Factors:**\n- Best performing comment styles\n- Optimal posting times\n- Subreddit-specific tactics\n- Topic-based approaches\n\n**Continuously improves over time!**"},"typeVersion":1},{"name":"Get Historical Data","type":"n8n-nodes-base.httpRequest","position":[2450,500],"parameters":{"url":"={{$env.ML_API_URL}}/historical/performance","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"subreddit","value":"={{$json.subreddit}}"},{"name":"topic","value":"={{$json.stage2Analysis.topic}}"}]}},"typeVersion":3},{"name":"ML Prediction","type":"n8n-nodes-base.httpRequest","position":[2650,500],"parameters":{"url":"={{$env.ML_API_URL}}/predict/engagement","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"analysis","value":"={{JSON.stringify($json.fullAnalysis)}}"},{"name":"historical","value":"={{JSON.stringify($json.historicalData)}}"}]}},"typeVersion":3},{"name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2780,60],"parameters":{"color":8,"width":340,"height":240,"content":"## 🔀 Smart Routing Engine\n\n**Decision Paths:**\n1. **High Priority** → Immediate team alert\n2. **Competitor Mention** → Competitive response\n3. **High Lead Potential** → Premium engagement\n4. **Standard** → Automated response\n5. **Low Quality** → Skip\n\n**Routing Criteria:**\n- Predicted engagement score\n- Lead potential\n- Urgency level\n- Competitor activity"},"typeVersion":1},{"name":"Route by Priority","type":"n8n-nodes-base.switch","position":[2850,500],"parameters":{"rules":{"rules":[{"value1":"={{$json.prediction.engagementScore}}","value2":0.9,"operation":"greaterOrEqual"},{"value1":"={{$json.hasCompetitorMention}}","value2":true,"operation":"equals"},{"value1":"={{$json.fullAnalysis.leadPotential}}","value2":0.8,"operation":"greaterOrEqual"},{"value1":"={{$json.fullAnalysis.relevanceScore}}","value2":60,"operation":"greaterOrEqual"}]}},"typeVersion":1},{"name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3050,60],"parameters":{"color":3,"width":320,"height":200,"content":"## ⚠️ High Priority Alert\n\n**For Critical Posts:**\n- Urgent damage situations\n- High-value opportunities\n- Competitor threats\n- Viral potential\n\n**Sends to:**\n- Slack (team channel)\n- Email (key stakeholders)\n\n**Includes:** Quick action buttons"},"typeVersion":1},{"name":"Alert Team","type":"n8n-nodes-base.httpRequest","position":[3120,300],"parameters":{"url":"={{$env.SLACK_WEBHOOK_URL}}","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"🚨 HIGH PRIORITY Reddit Opportunity"},{"name":"blocks","value":"={{JSON.stringify([{type: 'section', text: {type: 'mrkdwn', text: '*High-Value Opportunity*\\n*Post:* ' + $json.title}}])}}"}]}},"typeVersion":3},{"name":"Generate Competitive","type":"n8n-nodes-base.httpRequest","position":[3120,440],"parameters":{"url":"={{$env.AI_API_URL}}/generate/competitive","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"strategy","value":"educational"}]}},"typeVersion":3},{"name":"Generate Premium","type":"n8n-nodes-base.httpRequest","position":[3120,580],"parameters":{"url":"={{$env.AI_API_URL}}/generate/variants","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"variants","value":2},{"name":"style","value":"premium"}]}},"typeVersion":3},{"name":"Select Variant","type":"n8n-nodes-base.code","position":[3320,580],"parameters":{"functionCode":"const item = $input.first().json;\nconst variants = item.responseVariants || {};\nconst random = Math.random();\n\nconst selectedVariant = random < 0.5 ? 'A' : 'B';\nconst selectedResponse = variants[selectedVariant] || variants.A || 'Default response';\n\nreturn [{\n  json: {\n    ...item,\n    testVariant: selectedVariant,\n    response: selectedResponse,\n    testId: 'ab_' + Date.now() + '_' + selectedVariant\n  }\n}];"},"typeVersion":1},{"name":"Generate Standard","type":"n8n-nodes-base.httpRequest","position":[3120,720],"parameters":{"url":"={{$env.AI_API_URL}}/generate/standard","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"post","value":"={{JSON.stringify($json)}}"},{"name":"tone","value":"helpful"}]}},"typeVersion":3},{"name":"Merge Responses","type":"n8n-nodes-base.merge","position":[3520,550],"parameters":{"mode":"mergeByPosition"},"typeVersion":2},{"name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[3650,60],"parameters":{"color":6,"width":340,"height":220,"content":"## 🛡️ Quality Assurance Gate\n\n**Pre-Posting Checks:**\n- ✅ No promotional language\n- ✅ Tone appropriateness\n- ✅ Length validation\n- ✅ Grammar/spelling check\n- ✅ Reddit markdown valid\n- ✅ No banned keywords\n- ✅ Subreddit rule compliance"},"typeVersion":1},{"name":"Quality Check","type":"n8n-nodes-base.code","position":[3720,550],"parameters":{"functionCode":"const item = $input.first().json;\nconst response = item.response || '';\nconst issues = [];\n\nconst promoWords = ['buy', 'purchase', 'discount', 'sale', 'click here'];\nconst hasPromo = promoWords.some(word => response.toLowerCase().includes(word));\nif (hasPromo) issues.push('Promotional language');\n\nif (response.length > 10000) issues.push('Too long');\nif (response.length < 50) issues.push('Too short');\n\nconst bannedWords = ['spam', 'scam'];\nconst hasBanned = bannedWords.some(word => response.toLowerCase().includes(word));\nif (hasBanned) issues.push('Banned words');\n\nreturn [{\n  json: {\n    ...item,\n    qualityCheck: {\n      passed: issues.length === 0,\n      issues: issues,\n      score: Math.max(0, 100 - (issues.length * 25))\n    }\n  }\n}];"},"typeVersion":1},{"name":"Quality Gate","type":"n8n-nodes-base.if","position":[3920,550],"parameters":{"conditions":{"boolean":[{"value1":"={{$json.qualityCheck.passed}}","value2":true}]}},"typeVersion":1},{"name":"Flag Review","type":"n8n-nodes-base.httpRequest","position":[4120,670],"parameters":{"url":"={{$env.SLACK_WEBHOOK_URL}}","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"⚠️ Response failed quality check"}]}},"typeVersion":3},{"name":"Rate Limit","type":"n8n-nodes-base.wait","position":[4120,450],"parameters":{"unit":"seconds","amount":60},"typeVersion":1},{"name":"Post Comment","type":"n8n-nodes-base.reddit","position":[4320,450],"parameters":{"text":"={{$json.response}}","postId":"={{$json.id}}","resource":"comment","operation":"create"},"credentials":{"redditOAuth2Api":{"id":"1","name":"Reddit OAuth2"}},"typeVersion":1},{"name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[4450,60],"parameters":{"color":7,"width":340,"height":220,"content":"## 🎯 Lead Processing\n\n**Multi-Source Enrichment:**\n1. LinkedIn profile lookup\n2. Company information\n3. Email validation\n4. Social media presence\n\n**Advanced Scoring:**\n- Base AI score (0-1.0)\n- Behavioral signals\n- Engagement quality\n- Intent indicators"},"typeVersion":1},{"name":"Check Lead","type":"n8n-nodes-base.if","position":[4520,450],"parameters":{"conditions":{"number":[{"value1":"={{$json.fullAnalysis.leadPotential}}","value2":0.6,"operation":"largerEqual"}]}},"typeVersion":1},{"name":"Enrich Lead","type":"n8n-nodes-base.httpRequest","position":[4720,350],"parameters":{"url":"={{$env.ENRICHMENT_API_URL}}/enrich","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"={{$json.author}}"},{"name":"postContent","value":"={{$json.title}}"}]}},"typeVersion":3},{"name":"Score Lead","type":"n8n-nodes-base.code","position":[4920,350],"parameters":{"functionCode":"const item = $input.first().json;\nconst baseScore = item.fullAnalysis?.leadPotential || 0;\nconst enrichment = item.enrichmentData || {};\n\nlet finalScore = baseScore;\nif (enrichment.hasLinkedIn) finalScore += 0.1;\nif (enrichment.hasCompanyInfo) finalScore += 0.15;\nif (enrichment.emailValidated) finalScore += 0.1;\n\nfinalScore = Math.min(1.0, finalScore);\n\nconst tier = finalScore >= 0.85 ? 'hot' : finalScore >= 0.7 ? 'warm' : 'cold';\n\nreturn [{\n  json: {\n    ...item,\n    leadScore: {\n      base: baseScore,\n      final: finalScore,\n      tier: tier\n    }\n  }\n}];"},"typeVersion":1},{"name":"Route Lead","type":"n8n-nodes-base.switch","position":[5120,350],"parameters":{"rules":{"rules":[{"value1":"={{$json.leadScore.tier}}","value2":"hot","operation":"equals"},{"value1":"={{$json.leadScore.tier}}","value2":"warm","operation":"equals"}]}},"typeVersion":1},{"name":"Create Hot Lead","type":"n8n-nodes-base.httpRequest","position":[5320,200],"parameters":{"url":"={{$env.CRM_API_URL}}/leads/hot","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"reddit"},{"name":"leadData","value":"={{JSON.stringify($json)}}"}]}},"typeVersion":3},{"name":"Alert Sales","type":"n8n-nodes-base.httpRequest","position":[5520,200],"parameters":{"url":"={{$env.SLACK_WEBHOOK_URL}}","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"🔥 HOT LEAD from Reddit!"}]}},"typeVersion":3},{"name":"Start Premium Nurture","type":"n8n-nodes-base.httpRequest","position":[5720,200],"parameters":{"url":"={{$env.AUTOMATION_API_URL}}/sequences/premium","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"leadId","value":"={{$json.leadId}}"},{"name":"sequence","value":"hot_lead_nurture"}]}},"typeVersion":3},{"name":"Create Warm Lead","type":"n8n-nodes-base.httpRequest","position":[5320,350],"parameters":{"url":"={{$env.CRM_API_URL}}/leads/warm","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"reddit"},{"name":"leadData","value":"={{JSON.stringify($json)}}"}]}},"typeVersion":3},{"name":"Start Warm Nurture","type":"n8n-nodes-base.httpRequest","position":[5520,350],"parameters":{"url":"={{$env.AUTOMATION_API_URL}}/sequences/nurture","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"leadId","value":"={{$json.leadId}}"}]}},"typeVersion":3},{"name":"Create Cold Lead","type":"n8n-nodes-base.httpRequest","position":[5320,500],"parameters":{"url":"={{$env.CRM_API_URL}}/leads/cold","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"reddit"},{"name":"leadData","value":"={{JSON.stringify($json)}}"}]}},"typeVersion":3},{"name":"Merge Leads","type":"n8n-nodes-base.merge","position":[5920,350],"parameters":{"mode":"mergeByPosition"},"typeVersion":2},{"name":"Log Analytics","type":"n8n-nodes-base.httpRequest","position":[6120,350],"parameters":{"url":"={{$env.DB_API_URL}}/analytics/log","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"engagement","value":"={{JSON.stringify($json)}}"}]}},"typeVersion":3},{"name":"Update ML","type":"n8n-nodes-base.httpRequest","position":[6320,350],"parameters":{"url":"={{$env.ML_API_URL}}/model/update","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"outcome","value":"={{JSON.stringify($json)}}"}]}},"typeVersion":3}],"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"connections":{"AI Stage 1":{"main":[[{"node":"AI Stage 2","type":"main","index":0}]]},"AI Stage 2":{"main":[[{"node":"AI Stage 3","type":"main","index":0}]]},"AI Stage 3":{"main":[[{"node":"Get Historical Data","type":"main","index":0}]]},"Alert Team":{"main":[[{"node":"Generate Premium","type":"main","index":0}]]},"Check Lead":{"main":[[{"node":"Enrich Lead","type":"main","index":0}]]},"Rate Limit":{"main":[[{"node":"Post Comment","type":"main","index":0}]]},"Route Lead":{"main":[[{"node":"Create Hot Lead","type":"main","index":0}],[{"node":"Create Warm Lead","type":"main","index":0}],[{"node":"Create Cold Lead","type":"main","index":0}]]},"Score Lead":{"main":[[{"node":"Route Lead","type":"main","index":0}]]},"Alert Sales":{"main":[[{"node":"Start Premium Nurture","type":"main","index":0}]]},"Enrich Lead":{"main":[[{"node":"Score Lead","type":"main","index":0}]]},"Merge Leads":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Post Comment":{"main":[[{"node":"Check Lead","type":"main","index":0}]]},"Quality Gate":{"main":[[{"node":"Rate Limit","type":"main","index":0}],[{"node":"Flag Review","type":"main","index":0}]]},"Search Posts":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Log Analytics":{"main":[[{"node":"Update ML","type":"main","index":0}]]},"ML Prediction":{"main":[[{"node":"Route by Priority","type":"main","index":0}]]},"Quality Check":{"main":[[{"node":"Quality Gate","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Merge Triggers":{"main":[[{"node":"Load Subreddit Config","type":"main","index":0}]]},"Select Variant":{"main":[[{"node":"Merge Responses","type":"main","index":1}]]},"Create Hot Lead":{"main":[[{"node":"Alert Sales","type":"main","index":0}]]},"Merge Responses":{"main":[[{"node":"Quality Check","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Create Cold Lead":{"main":[[{"node":"Merge Leads","type":"main","index":2}]]},"Create Warm Lead":{"main":[[{"node":"Start Warm Nurture","type":"main","index":0}]]},"Filter New Posts":{"main":[[{"node":"AI Stage 1","type":"main","index":0}]]},"Generate Premium":{"main":[[{"node":"Select Variant","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Split Subreddits":{"main":[[{"node":"Search Posts","type":"main","index":0},{"node":"Search Competitor Mentions","type":"main","index":0}]]},"Generate Standard":{"main":[[{"node":"Merge Responses","type":"main","index":2}]]},"Route by Priority":{"main":[[{"node":"Alert Team","type":"main","index":0}],[{"node":"Generate Competitive","type":"main","index":0}],[{"node":"Generate Premium","type":"main","index":0}],[{"node":"Generate Standard","type":"main","index":0}]]},"Start Warm Nurture":{"main":[[{"node":"Merge Leads","type":"main","index":1}]]},"Get Historical Data":{"main":[[{"node":"ML Prediction","type":"main","index":0}]]},"Generate Competitive":{"main":[[{"node":"Merge Responses","type":"main","index":0}]]},"Merge Search Results":{"main":[[{"node":"Check Engagement History","type":"main","index":0}]]},"Load Subreddit Config":{"main":[[{"node":"Split Subreddits","type":"main","index":0}]]},"Start Premium Nurture":{"main":[[{"node":"Merge Leads","type":"main","index":0}]]},"Check Engagement History":{"main":[[{"node":"Filter New Posts","type":"main","index":0}]]},"Search Competitor Mentions":{"main":[[{"node":"Merge Search Results","type":"main","index":1}]]}},"triggerCount":3}