data/workflows/9997.json
{"id":"RUtK65RfOUPVvNpt","meta":{"instanceId":"cb9a1e5321767b6316634728341237e564b2587ab15b74ca0a89eb02a53484d6","templateCredsSetupCompleted":true},"name":"Automate Landing Page Conversion Analysis & Optimization with AI","tags":[],"nodes":[{"id":"f21eb5f0-7544-43e7-8a4c-4b190a69a629","name":"Landing Page Url","type":"n8n-nodes-base.formTrigger","position":[-144,-48],"webhookId":"0818531a-3892-49f6-af78-cde8d538b205","parameters":{"options":{},"formTitle":"Conversion Rate Optimizer","formFields":{"values":[{"fieldLabel":"Landing Page Url","placeholder":"https://devcodejourney.com/","requiredField":true}]},"formDescription":"Your Landing Page is Leaking Sales—Fix It Now"},"typeVersion":2.2},{"id":"35910407-2643-45fd-b219-c120ed00541d","name":"Scrape Website","type":"n8n-nodes-base.httpRequest","position":[48,-48],"parameters":{"url":"={{ $json['Landing Page Url'] }}","options":{}},"typeVersion":4.2},{"id":"f2ff8aa8-81d2-4a80-8792-5df4b9b9f7fa","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[496,-48],"parameters":{"text":"=You are a professional expert in Conversion Rate Optimization who helps business founders & CMOs improve their landing pages. You are a world-class expert in analysing landing pages, roasting them, and providing valuable Conversion Rate Optimization Ideas to help businesses increase conversions.  \n\nGOAL\nI want you to roast my landing page and deliver recommendations to improve the Conversion Rate. I will use this roast to understand what's wrong with my landing page and make improvements based on your recommendations. \n\nROAST STRUCTURE\nThis framework consists of 2 blocks of insights: \nRoast: a detailed roast of my landing page.\nRecommendations: 10 conversion rate optimization ideas based on your roast and analysis.\n\nROAST & RECOMMENDATIONS CRITERIA\nFor the Roast: Be friendly & casual. Talk like a human to another human. \nFor the Roast: Be unconventional & fun. I don't want to be bored. A roast must agitate the reader's feelings. \nFor the Roast: You will make a full landing page analysis, and explain what's wrong. You will use this analysis to make recommendations for The Recommendations.  \nFor the Recommendations: Be specific. Write exactly what I need to do. Your detailed description for each Conversion Rate Optimization Idea should be self-explanatory. For example, instead of saying “Rewrite your headline”, give me improved ideas for the headline. Your job is to return advanced insights personalised only for my specific landing page. This is a critical law for you.\nFor the Recommendations: Be creative. Don't return trivial and outdated Conversion Rate Optimization ideas that the average marketer would recommend. Prioritise unconventional CRO tactics so I get real value from you here. Think like the top 0.1% conversion rate optimization expert.\nFor the Recommendations: Prioritise Conversion Rate Optimization Ideas that are relevant in the 2024 digital marketing space. \nFor the Recommendations: Your Conversion Rate Optimization ideas must be impactful. Prioritise Conversion Rate Optimization Ideas that adds a wow effect.\nFor the Recommendations: Your Conversion Rate Optimization ideas must be easy to implement.\nFor the Recommendations: Personalise your ideas with references to the Roast you made. I don’t want to read 10 generic ideas that can work for anyone (for example, “add a live chat” or “offer a free trial”). I need a 100% personalised response.\n\nHere is the content of my landing page: {{ $json.data }}","options":{},"promptType":"define"},"typeVersion":1.7},{"id":"1177a4fc-e162-409e-87b4-9b34ca143ffd","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[240,176],"parameters":{"model":{"__rl":true,"mode":"list","value":"o1","cachedResultName":"o1"},"options":{"reasoningEffort":"high"}},"credentials":{"openAiApi":{"id":"MR9Pc4Y3kPUGJgNM","name":"OpenAi account 2"}},"typeVersion":1.2},{"id":"fa780f7d-1adc-44e4-8d82-26d097251d30","name":"Message a model in Google Gemini","type":"@n8n/n8n-nodes-langchain.googleGeminiTool","position":[384,176],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"options":{},"messages":{"values":[{"role":"model"}]}},"credentials":{"googlePalmApi":{"id":"jwzRcxc2F7GPOYnY","name":"Google Gemini(PaLM) Api account"}},"typeVersion":1},{"id":"6f5d5e83-88e6-4472-a4f4-1064eb268bc5","name":"SearXNG","type":"@n8n/n8n-nodes-langchain.toolSearXng","position":[512,176],"parameters":{"options":{}},"credentials":{"searXngApi":{"id":"tSgU25iVYRYlpI4D","name":"SearXNG account"}},"typeVersion":1},{"id":"097e513a-3688-4df7-9bab-59c3a4853d8e","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[640,176],"parameters":{"options":{}},"credentials":{"serpApi":{"id":"RPOugPrCECL23oRr","name":"SerpAPI account"}},"typeVersion":1},{"id":"8756fef7-6ba0-4003-b482-dadc3d1e8fa0","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","position":[768,176],"parameters":{},"typeVersion":1.1},{"id":"1af3ce4f-2d60-4943-8294-e26b8ee65e3d","name":"Extract text in Mistral AI","type":"n8n-nodes-base.mistralAiTool","position":[896,176],"parameters":{"options":{}},"credentials":{"mistralCloudApi":{"id":"yWxZ80MIYrUbJdOB","name":"Mistral Cloud account"}},"typeVersion":1},{"id":"81f121df-3a7a-4ddf-ad2c-6adb53dbc2f0","name":"Send a text message","type":"n8n-nodes-base.telegram","position":[1168,176],"webhookId":"45c3911e-6d7e-40e2-8e32-bf3d404cf4ee","parameters":{"text":"={{ $json.output }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"awgkor9T3i1erkVJ","name":"Telegram account"}},"typeVersion":1.2},{"id":"d573748a-4221-4b82-ba63-5e5332df7209","name":"Send a message","type":"n8n-nodes-base.gmail","position":[1168,-352],"webhookId":"f3b7f63f-f8b8-4705-b72f-26d357b44e9b","parameters":{"options":{}},"credentials":{"gmailOAuth2":{"id":"nLDXXLCx9bNCHuNe","name":"Gmail account"}},"typeVersion":2.1},{"id":"c0cd1a83-d216-4aec-a2f0-a98d9b4227d0","name":"Rapiwa","type":"CUSTOM.rapiwa","position":[1168,-64],"parameters":{"number":"8801787063400","message":"={{ $json.output }}"},"credentials":{"rapiwaApi":{"id":"q3bkzjJrjvzVnMaF","name":"Rapiwa"}},"typeVersion":1},{"id":"6c3ee4dc-9948-4feb-b855-303adabe64c0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1120,-480],"parameters":{"color":7,"height":816,"content":"Once scraping is complete, you can take the notifications with the output wherever you want."},"typeVersion":1},{"id":"974ce46e-834f-4448-b5be-ab9ee0c280f7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-224,-288],"parameters":{"width":464,"height":416,"content":"### Enter the link of the website you want to scrape below like this: \n```\nhttps://devcodejourney.com/\n```"},"typeVersion":1},{"id":"6c5c1226-53b4-477b-aa8f-b420524ebfab","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[192,160],"parameters":{"color":7,"width":816,"height":320,"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n# You can add tools according to your needs."},"typeVersion":1},{"id":"cbc83eb4-672b-4a8c-b212-9aeb2a516940","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1328,-288],"parameters":{"width":1056,"height":1136,"content":"# Automate Landing Page Conversion Analysis & Optimization with AI\n\n## Overview\nThis n8n workflow is designed to **analyze landing pages and generate Conversion Rate Optimization (CRO) insights** using AI agents and multiple LLM tools. It automates the process from input collection to delivering actionable feedback via messaging and email platforms.\n\n\n## 📌 Workflow Steps\n### 1. **User Input – Form Trigger**\n- A form titled **\"Conversion Rate Optimizer\"** is displayed.\n- The user submits a **landing page URL** via this form.\n\n### 2. **Scrape Landing Page – HTTP Request**\n- The workflow sends the submitted URL to the **HTTP Request** node.\n- It retrieves and stores the landing page’s content for analysis.\n\n### 3. **AI Analysis – LangChain Agent**\n- The scraped content is sent to a **LangChain AI Agent**.\n- A detailed prompt is used to instruct the agent to:\n  - Perform a **fun, friendly, yet deep roast** of the landing page.\n  - Generate **10 creative, unconventional, and high-impact CRO recommendations** based on that roast.\n\n### 4. **AI Tools Connected**\nThe AI agent uses several powerful models and tools to enhance the quality and creativity of the output:\n- 🔹 **OpenAI Chat Model**\n- 🔹 **Google Gemini (PaLM 2.5)**\n- 🔹 **Mistral AI**\n- 🔹 **SearXNG** (search engine)\n- 🔹 **SerpAPI** (Google Search API)\n- 🔹 **LangChain Think Tool** (reasoning tool)\n\n### 5. **Output Delivery**\nOnce the analysis is complete, the results are sent via:\n- 📩 **Email** (Gmail node)\n- 💬 **Telegram** (Bot API)\n- 📱 **WhatsApp** (via Rapiwa)\n\n# For Help\n- Our Website: [devcodejourney.com](https://devcodejourney.com)\n- LinkedIn: [LinkedIn](https://www.linkedin.com/in/shakilpg/)\n- WhatsApp Channel: [Chat Now](https://whatsapp.com/channel/0029Vb5l6JuDTkK5BRORNn0B)\n- WhatsApp: [Chat Now](https://wa.me/8801316320957)\n\n"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"4c374681-5018-4980-8241-f7593081c250","connections":{"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SearXNG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Send a message","type":"main","index":0},{"node":"Rapiwa","type":"main","index":0}]]},"Scrape Website":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Landing Page Url":{"main":[[{"node":"Scrape Website","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract text in Mistral AI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}}}